Repository webkom/lego-webapp, pull requests merged in 2019-01, with the labels that each got.

#1397 Next event
  app/assets/alarm.svg
  app/routes/overview/components/NextEvent.css
  app/routes/overview/components/NextEvent.js
Labels: needs review

#1406 Update copyright year
  LICENSE
Labels: enhancement, feature, flawless, future is now, future was 2 years ago, help wanted, needs review

#1412 Event filtering
  app/components/EventItem/index.js
  app/components/EventItem/styles.css
  app/models.js
  app/reducers/events.js
  app/routes/events/components/Calendar.js
  app/routes/events/components/EventList.css
  app/routes/events/components/EventList.js
  app/routes/events/components/Toolbar.css
  app/routes/events/components/Toolbar.js
  app/routes/overview/components/NextEvent.js
  app/routes/overview/components/Overview.js
  app/routes/users/components/UserProfile.js
  app/utils/constants.js
Labels: enhancement, future was 2 years ago
