Repository webkom/lego-webapp, pull requests merged in 2022-11, with the labels that each got.

#3208 Fix clicking links on /search page
  app/components/Search/SearchPage.js
  app/components/UserValidator/index.js
  app/routes/events/components/EventAdministrate/Abacard.js
Labels: bug-fix, approved, ready-to-merge

#3201 Dark mode fixes
  app/components/Modal/Modal.css
  app/routes/users/components/PhotoConsents.js
Labels: enhancement, small-fix, approved

#3209 Show year on events where year != current year
  app/routes/overview/components/utils.js
Labels: enhancement, review-needed, small-fix, approved

#3213 Change group leader name to editor for readme
  app/components/GroupMember/index.js
  app/routes/pages/components/PageDetail.js
Labels: enhancement, small-fix, approved

#3211 Use proxied url for plausible script.
  server/pageRenderer.js
Labels: enhancement, review-needed, small-fix

#3214 Improve Checkbox component
  app/components/Form/CheckBox.css
  app/components/Form/CheckBox.js
  app/routes/bdb/components/OptionsBox.js
  app/routes/events/components/EventList.css
  app/routes/events/components/EventList.js
  app/routes/joblistings/components/JoblistingRightNav.css
  app/routes/joblistings/components/JoblistingRightNav.js
  app/routes/surveys/components/AdminSideBar.js
Labels: enhancement, flawless, approved, ready-to-merge

#3227 Fix alignment bug on event editor
  app/routes/events/components/EventEditor/EventEditor.css
Labels: review-needed, bug-fix, small-fix

#3226 Fix back link on joblisting edit page
  app/routes/joblistings/components/JoblistingEditor.tsx
Labels: flawless, bug-fix, small-fix, approved

#3225 Support interest group links on events
  app/routes/events/components/EventDetail/index.tsx
Labels: enhancement, review-needed, small-fix, approved, ready-to-merge

#3229 Fix Link For Revue Badges
  app/reducers/groups.ts
Labels: approved

#3164 Improve Badge Order
  app/routes/users/components/UserProfile.tsx
Labels: enhancement, review-needed, small-fix

#3237 Fix Alarm Icon
  app/assets/alarm.svg
  app/routes/overview/components/NextEvent.css
  app/routes/overview/components/NextEvent.tsx
Labels: bug-fix, small-fix, approved

#3210 ABA-127: Attendee Statistics in Event Administrate
  app/components/Chart/BarChart.tsx
  app/components/Chart/ChartLabel.tsx
  app/components/Chart/PieChart.tsx
  app/components/Chart/utils.tsx
  app/components/Feed/renders/group.tsx
  app/models.ts
  app/reducers/groups.ts
  app/routes/admin/email/EmailUsersRoute.ts
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/bdb/components/CompanyList.tsx
  app/routes/contact/ContactRoute.ts
  app/routes/events/EventStatisticsRoute.ts
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/index.tsx
  app/routes/interestgroups/InterestGroupListRoute.ts
  app/routes/pages/PageDetailRoute.ts
  app/routes/surveys/components/Submissions/Results.tsx
  app/routes/surveys/components/surveys.css
  app/routes/surveys/utils.tsx
  app/routes/users/UserProfileRoute.ts
  app/styles/variables.css
Labels: review-needed, new-feature

#3228 Fix registration selector when user is missing
  app/reducers/events.ts
Labels: flawless, review-needed, bug-fix

#3149 Improve Styling On Interestgroup Leaders
  app/routes/interestgroups/components/InterestGroupMemberList.css
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
  yarn.lock
Labels: enhancement, approved, ready-to-merge

#3249 Remove junk and fixup configs
  .babelrc
  .eslintrc.js
  .flowconfig
  .prettierignore
  app/components/RequireLogin.tsx
  babel.config.js
  jsconfig.json
Labels: flawless, review-needed, small-fix

#3252 Fix plenty of TS errors & icon badge z-index
  app/components/Button/index.tsx
  app/components/Footer/index.tsx
  app/components/Header/index.tsx
  app/components/HeaderNotifications/index.tsx
  app/components/Icon/Icon.css
  app/components/Icon/index.tsx
  app/components/Image/Image.tsx
  app/components/Image/ProfilePicture.tsx
  app/components/Layout/Flex.tsx
  app/components/Search/index.tsx
  app/components/Time/index.tsx
  app/globals.d.ts
  app/models.ts
  app/reducers/users.ts
Labels: enhancement, review-needed, small-fix, approved

#3262 Fix a bunch of TS types
  app/components/AnnouncementInLine/index.tsx
  app/components/Card/index.tsx
  app/components/Comments/Comment.tsx
  app/components/Comments/CommentTree.css
  app/components/Comments/CommentTree.tsx
  app/components/Comments/CommentView.tsx
  app/components/Comments/__tests__/Comment.spec.tsx
  app/components/Dropdown/index.tsx
  app/components/Emoji/index.tsx
  app/components/Form/Form.tsx
  app/components/Form/RadioButton.tsx
  app/components/Form/SelectInput.tsx
  app/components/Form/TextInput.tsx
  app/components/Icon/index.tsx
  app/components/Image/CircularPicture.tsx
  app/components/Image/Image.tsx
  app/components/Image/ProfilePicture.tsx
  app/components/Layout/Flex.tsx
  app/components/Pill/index.tsx
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/ReactionPicker.tsx
  app/components/Reactions/index.tsx
  app/components/Table/index.tsx
  app/components/Upload/ImageUpload.tsx
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserAttendance/withModal.tsx
  app/declaration.d.ts
  app/global.d.ts
  app/models.ts
  app/reducers/comments.ts
  app/reducers/meetingInvitations.ts
  app/reducers/meetings.ts
  app/reducers/users.ts
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/events/utils.ts
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/meetings/MeetingDetailRoute.tsx
  app/routes/meetings/components/MeetingAnswer.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/users/components/Penalties.tsx
  app/routes/users/components/PenaltyForm.tsx
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/UserImage.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettings.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  app/types.ts
  app/utils/index.ts
  app/utils/validation.ts
  cypress/.eslintrc.json
  cypress/fixtures/mockApiResponses/mazemap.json
  package.json
  server/health.ts
  server/index.ts
  server/pageRenderer.ts
  server/ssr.tsx
  tsconfig.json
Labels: enhancement, review-needed

#3264 Implement a registration skeleton on event page
  app/components/Image/CircularPicture.tsx
  app/components/Image/Image.tsx
  app/components/Image/ProfilePicture.tsx
  app/components/UserAttendance/AttendanceStatus.css
  app/components/UserGrid/UserGrid.css
  app/components/UserGrid/index.tsx
  app/routes/events/components/EventDetail/index.tsx
Labels: review-needed, bug-fix, approved

#3271 Type Search, EventEditor & more
  app/components/Image/ProfilePicture.tsx
  app/components/Search/SearchPage.tsx
  app/components/Search/SearchPageInput.tsx
  app/components/Search/SearchPageResults.tsx
  app/components/Search/SearchResults.tsx
  app/components/Search/utils.tsx
  app/components/Search/withAutocomplete.tsx
  app/components/UserAttendance/withModal.tsx
  app/models.ts
  app/reducers/search.ts
  app/routes/events/EventEditRoute.ts
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/EventEditor/renderPools.tsx
  app/routes/events/utils.ts
  app/utils/helmet.tsx
  app/utils/loadingIndicator.tsx
Labels: enhancement, future-was-2-years-ago, review-needed

#3284 Fix Unregistration With Unanswered Survey
  app/routes/events/components/EventDetail/index.tsx
Labels: bug-fix, small-fix, approved, ready-to-merge

#3286 Migrate user settings to react final form
  app/components/Form/Field.tsx
  app/components/Form/Form.tsx
  app/components/Form/LegoFinalForm.tsx
  app/components/Form/RadioButton.tsx
  app/reducers/users.ts
  app/routes/users/components/UserSettings.tsx
  cypress/e2e/profile_spec.js
Labels: review-needed

#3285 Only allow images for image uploads
  app/components/Upload/ImageUpload.tsx
Labels: review-needed, bug-fix

#3287 Create redux store using redux toolkit configureStore
  app/Root.tsx
  app/components/AnnouncementInLine/index.tsx
  app/components/CommentForm/index.tsx
  app/components/Form/EditorField.tsx
  app/components/Search/index.tsx
  app/index.ts
  app/models.ts
  app/reducers/index.ts
  app/reducers/meetingsToken.ts
  app/reducers/notificationSettings.ts
  app/reducers/notificationsFeed.ts
  app/reducers/routing.ts
  app/reducers/surveys.ts
  app/reducers/toasts.ts
  app/render.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/store/createRootReducer.ts
  app/store/createStore.ts
  app/store/hooks.ts
  app/store/middleware/loggerMiddleware.ts
  app/store/middleware/messageMiddleware.ts
  app/store/middleware/promiseMiddleware.ts
  app/store/middleware/sentryMiddleware.ts
  app/store/middleware/websocketMiddleware.ts
  app/types.ts
  app/utils/configureStore.ts
  app/utils/joinReducers.ts
  app/utils/withPreparedDispatch.ts
  package.json
  server/pageRenderer.ts
  server/ssr.tsx
  yarn.lock
Labels: enhancement, future-was-2-years-ago, review-needed, testing-needed

#3314 Update Drone signature
  .drone.yml
Labels: flawless, bug-fix, small-fix, approved, ready-to-merge

#3317 Fix types in actions/*
  app/actions/CompanyInterestActions.ts
  app/actions/EmailListActions.ts
  app/actions/EmailUserActions.ts
  app/actions/EmojiActions.ts
  app/actions/EventActions.ts
  app/actions/GalleryActions.ts
  app/actions/GalleryPictureActions.ts
  app/actions/GroupActions.ts
  app/actions/PollActions.ts
  app/actions/RestrictedMailActions.ts
  app/actions/SurveyActions.ts
  app/actions/TagActions.ts
  app/actions/UserActions.ts
  app/actions/__tests__/SearchActions.spec.ts
  app/actions/callAPI.ts
  app/types.ts
  app/utils/createQueryString.ts
Labels: enhancement, flawless, types, review-needed, small-fix, approved

#3318 fix path to rootReducer in when hot reloading
  app/store/createStore.ts
Labels: flawless, bug-fix, small-fix, approved
