Repository webkom/lego-webapp, pull requests merged in 2022-10, with the labels that each got.

#3075 Fix poll info icon & remove tooltip with icon names
  app/components/Poll/index.js
Labels: enhancement, small-fix, approved

#3093 Replace torsdag with tirsdag on About Abakus
  app/routes/pages/components/LandingPage.js
Labels: flawless, small-fix, approved

#3096 Ask company for additional comments on interest form
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.js
  app/routes/companyInterest/utils.js
Labels: review-needed, small-fix, new-feature

#3103 Fix cypress tests by finding the correct date
  cypress/e2e/create_event_spec.js
Labels: review-needed, bug-fix, small-fix

#3095 Stop hovering over links on flatpages shifting the rest of the content downwards
  app/components/NavigationTab/NavigationLink.css
Labels: review-needed, bug-fix, small-fix, approved, ready-to-merge

#3107 Added counter for paid attendees
  app/routes/events/components/EventAdministrate/Attendees.js
Labels: review-needed, new-feature, do-not-merge/hold, changes-requested

#3094 Fix typos in tooltip and validation in the event editor
  app/routes/events/components/EventEditor/index.js
Labels: enhancement, review-needed, small-fix, approved, ready-to-merge

#3118 Fixed styling for the Eventlist filter
  app/routes/events/components/EventList.css
Labels: enhancement, review-needed, small-fix, approved

#3117 Fix attendees stats bug on admin page
  app/routes/events/components/EventAdministrate/Attendees.js
Labels: enhancement, bug-fix, small-fix, approved, ready-to-merge

#3121 Add analytics snippet
  server/pageRenderer.js
Labels: enhancement, future-was-2-years-ago, small-fix, approved, ready-to-merge

#3062 Make Past Events on Profile Page Extra Compact
  app/components/EventItem/index.js
  app/components/EventItem/styles.css
  app/routes/users/components/UserProfile.js
Labels: review-needed

#3074 Add sorting selector for quotes
  app/routes/quotes/QuotesRoute.js
  app/routes/quotes/components/QuotePage.js
  app/routes/quotes/components/Quotes.css
Labels: review-needed, do-not-merge/hold, changes-requested

#3122 improved styling of the notification dropdown
  app/components/HeaderNotifications/HeaderNotifications.css
  app/components/HeaderNotifications/index.js
Labels: review-needed, small-fix, approved, ready-to-merge

#3120 Fix title when editing/creating surveys
  app/routes/surveys/components/SurveyEditor/SurveyEditor.js
Labels: review-needed, bug-fix, small-fix

#3133 Import correct css file to get the desired styling
  app/routes/events/components/EventDetail/index.js
Labels: enhancement, review-needed, bug-fix, small-fix

#3142 Fix bug where icons disappear after interacting with them
  app/components/Icon/index.js
Labels: review-needed

#3150 Fix Typo On EditorPage
  app/components/Form/ObjectPermissions.js
Labels: review-needed

#3151 Aligned Select And Filtericon With Filterbuttons
  app/routes/events/components/EventList.css
Labels: enhancement, review-needed, small-fix

#3153 Changed pinned and company detail to white background.
  app/routes/company/components/Company.css
  app/routes/overview/components/Pinned.css
Labels: review-needed

#3152 Add the Abakus Revue to pages
  app/models.js
  app/reducers/pages.js
  app/routes/pages/PageDetailRoute.js
Labels: new-feature, approved

#3158 Remove broken podcast routes
  app/actions/PodcastAction.js
  app/reducers/index.js
  app/reducers/podcasts.js
  app/routes/index.js
  app/routes/podcasts/PodcastCreateRoute.js
  app/routes/podcasts/PodcastEditRoute.js
  app/routes/podcasts/PodcastListRoute.js
  app/routes/podcasts/components/Podcast.css
  app/routes/podcasts/components/Podcast.js
  app/routes/podcasts/components/PodcastEditor.css
  app/routes/podcasts/components/PodcastEditor.js
  app/routes/podcasts/components/PodcastList.css
  app/routes/podcasts/components/PodcastList.js
  app/routes/podcasts/components/PodcastPlayer.js
  app/routes/podcasts/index.js
Labels: discussion, review-needed, small-fix, approved

#3170 Add charity-party 2022 frame winner
  app/routes/users/components/UserProfile.js
Labels: small-fix, approved, ready-to-merge

#3154 Check required photo consents from events
  app/models.js
  app/reducers/events.js
  app/routes/events/components/EventAdministrate/RegistrationTables.js
  app/routes/events/components/EventDetail/index.js
  app/routes/events/components/JoinEventForm.js
  app/routes/events/components/RegistrationMeta.js
  app/routes/events/utils.js
Labels: enhancement, bug-fix, approved, ready-to-merge

#3171 Make `allConsentsAnswered` => false for empty array
  app/routes/events/utils.js
Labels: review-needed, bug-fix, small-fix

#3172 Refetch me-user when viewing profile page
  app/routes/users/UserProfileRoute.js
Labels: enhancement, small-fix, approved

#3178 Fix cypress bug where it selects wrong date at end of month
  cypress/e2e/create_event_spec.js
  cypress/support/utils.js
Labels: review-needed, bug-fix, small-fix

#3017 ABA-19: Add the possibility to scan QR codes instead of searching for users in Abacard
  app/components/Search/SearchPage.js
  app/components/Search/SearchPageInput.js
  app/components/UserValidator/Validator.css
  app/components/UserValidator/index.js
  app/routes/events/components/EventAdministrate/Abacard.js
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.js
  package.json
  yarn.lock
Labels: review-needed, new-feature, changes-requested

#3180 Fix mobile page overflow with long words in articles
  app/routes/overview/components/ArticleItem.css
Labels: review-needed, bug-fix, small-fix

#3179 Event author set to Anonym
  app/routes/events/components/EventDetail/index.js
Labels: review-needed

#3155 Change from reCaptcha to Turnstile
  app/components/Form/Captcha.js
  config/env.js
  config/environment.md
  package.json
  yarn.lock
Labels: enhancement, review-needed

#3181 ABA-110: QR attendance fixes
  app/components/Modal/Modal.css
  app/components/UserValidator/Validator.css
  app/components/UserValidator/index.js
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.js
Labels: review-needed, small-fix

#3182 [ABA-109] Add sorting option for payment status on attendees page
  app/routes/events/components/EventAdministrate/RegistrationTables.js
Labels: enhancement, review-needed

#3189 Fix Turnstile theme discrepany
  app/components/Form/Captcha.js
Labels: review-needed, bug-fix, small-fix

#3123 Changed the "bedpres og kurs" button to have preset filters.
  app/routes/events/components/EventList.js
  app/routes/overview/components/CompactEvents.js
Labels: enhancement, approved, ready-to-merge

#3195 fix(UserProfile): FRAME styling
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.js
Labels: review-needed, bug-fix, small-fix

#3196 Set end time explicitly in cypress meeting test
  cypress/e2e/create_meeting_spec.js
Labels: flawless, bug-fix, approved, ready-to-merge

#3188 Fix icon alignment in buttons
  app/components/Button/Button.css
  app/components/Icon/index.js
Labels: review-needed, bug-fix, small-fix
