Repository webkom/lego-webapp, pull requests merged in 2022-08, with the labels that each got.

#2918 Update path to find eventId of event to copy
  app/routes/events/EventCreateRoute.js
  app/routes/events/components/Admin.js
Labels: bug-fix, approved

#2682 Minimal redesign of event details
  app/components/Content/ContentHeader.css
  app/components/Content/ContentHeader.js
  app/components/InfoList/index.js
  app/components/Time/Time.spec.js
  app/components/Time/index.js
  app/routes/events/components/Admin.css
  app/routes/events/components/Admin.js
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.js
  app/styles/globals.css
  cypress/e2e/create_meeting_spec.js
Labels: enhancement, review-needed, changes-requested

#2935 Update lego-editor to v2.0.1
  app/components/DisplayContent/index.js
  app/components/Form/EditorField.js
  cypress/e2e/event_editor_spec.js
  package.json
  yarn.lock
Labels: future-is-now, dependencies, approved, ready-to-merge

#2946 Fix event detail crashing
  app/reducers/followers.js
Labels: bug-fix, small-fix, approved, ready-to-merge

#2947 Add docs for running the payment integration tests
  README.md
Labels: approved, ready-to-merge, docs

#2948 Update create new email form to autofill the new email
  app/routes/admin/email/components/EmailUserEditor.js
Labels: review-needed, small-fix, new-feature

#2708 Make changes to about-us pages
  app/actions/UserActions.js
  app/assets/fonts/c64.ttf
  app/models.js
  app/reducers/pages.js
  app/reducers/search.js
  app/routes/errors/renderAbakus.js
  app/routes/events/EventAbacardRoute.js
  app/routes/meetings/MeetingDetailRoute.js
  app/routes/pages/PageDetailRoute.js
  app/routes/pages/PageEditRoute.js
  app/routes/pages/components/PageEditor.js
  app/routes/userValidator/ValidatorRoute.js
Labels: enhancement, new-feature, approved, do-not-merge/hold

#2950 Bump lego-editor from 2.0.2 to 2.0.3
  package.json
  yarn.lock
Labels: priority:high, dependencies, bug-fix, small-fix, approved, ready-to-merge

#2956 Fix event-detail title overflow, make participants-list fit content
  app/components/Content/ContentHeader.css
  app/components/Content/ContentHeader.js
  app/components/UserGrid/index.js
  app/routes/events/components/EventDetail/index.js
Labels: small-fix, approved, ready-to-merge

#2949 Relocate event rules and allergy/preferences link
  app/routes/events/components/Admin.js
  app/routes/events/components/EventDetail/index.js
  cypress/e2e/event_visit_spec.js
Labels: enhancement, small-fix, approved, ready-to-merge

#2959 Upgrade Ionicons to version 5
  app/components/Button/Button.css
  app/components/EmptyState/index.js
  app/components/Feed/renders/announcement.js
  app/components/Feed/renders/comment.js
  app/components/Feed/renders/comment_reply.js
  app/components/Feed/renders/event_register.js
  app/components/Form/DatePicker.css
  app/components/Form/DatePicker.js
  app/components/Form/TimePicker.js
  app/components/Header/index.js
  app/components/HeaderNotifications/index.js
  app/components/Icon/index.js
  app/components/NavigationTab/index.js
  app/components/PhotoUploadStatus/index.js
  app/components/Poll/Poll.css
  app/components/Poll/index.js
  app/components/Search/SearchPageResults.js
  app/components/Search/SearchResults.js
  app/components/Table/index.js
  app/components/Upload/ImageUpload.js
  app/components/Upload/UploadImage.css
  app/routes/company/components/CompaniesPage.css
  app/routes/company/components/CompaniesPage.js
  app/routes/company/components/CompanyDetail.js
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.js
  app/routes/events/components/EventList.js
  app/routes/events/components/JoinEventForm.js
  app/routes/overview/components/NextEvent.js
  app/routes/overview/components/Overview.js
  app/routes/pages/components/LandingPage.js
  app/routes/pages/components/PageDetail.js
  app/routes/pages/components/PageHierarchy.js
  app/routes/pages/components/Sidebar.js
  app/routes/photos/components/GalleryEditor.js
  app/routes/photos/components/GalleryPictureModal.js
  app/routes/podcasts/components/Podcast.js
  app/routes/podcasts/components/PodcastList.js
  app/routes/podcasts/components/PodcastPlayer.js
  app/routes/polls/components/PollEditor.js
  app/routes/polls/components/PollsList.css
  app/routes/polls/components/PollsList.js
  app/routes/quotes/components/Quote.js
  app/routes/surveys/components/AdminSideBar.js
  app/routes/surveys/components/Submissions/Results.js
  app/routes/surveys/components/SurveyEditor/Question.js
  app/routes/surveys/utils.js
  app/routes/users/components/RemovePicture.js
  app/routes/users/components/UserSettingsOAuth2.js
  cypress/e2e/create_event_spec.js
  cypress/e2e/event_editor_spec.js
  cypress/e2e/event_payment_spec.js
  cypress/e2e/home_page_spec.js
  server/pageRenderer.js
Labels: enhancement, approved, ready-to-merge

#2966 Rename allergies to 'matellergier/preferanser'
  app/routes/events/components/EventAdministrate/RegistrationTables.js
  app/routes/events/components/EventDetail/index.js
  app/routes/events/components/EventEditor/index.js
  app/routes/events/components/UpdateAllergies.js
  app/routes/users/components/UserConfirmation.js
  app/routes/users/components/UserSettings.js
Labels: enhancement, small-fix, approved

#2924 Change HTTP auth scheme from JWT to Bearer
  app/actions/callAPI.js
  app/routes/surveys/SubmissionsRoute.js
  cypress/support/commands.js
Labels: small-fix, approved, ready-to-merge

#2965 Convert registration-start to registration-end after registrations open
  app/routes/events/components/EventDetail/index.js
  cypress/e2e/create_event_spec.js
Labels: enhancement, discussion, approved, ready-to-merge

#2973 Make "breakfast talk" an event type
  app/models.js
  app/reducers/companyInterest.js
  app/routes/bdb/components/bdb.css
  app/routes/bdb/utils.js
  app/routes/companyInterest/components/CompanyInterestPage.js
  app/routes/events/components/EventList.js
  app/routes/events/utils.js
  app/routes/overview/components/CompactEvents.js
Labels: new-feature, approved, ready-to-merge

#2974 update "Nyttige linker" link to this years buddy week
  app/routes/overview/components/PublicFrontpage.js
Labels: small-fix, approved, ready-to-merge

#2141 Add functionality to give view permission to event for specific groups.
  app/models.js
  app/routes/events/EventCreateRoute.js
  app/routes/events/EventEditRoute.js
  app/routes/events/components/EventEditor/index.js
  app/routes/events/utils.js
Labels: future-is-now, priority:high, need-before-2050, new-feature, approved, ready-to-merge

#2977 Fix some issues with event canViewGroups
  app/routes/events/EventEditRoute.js
  app/routes/events/components/EventEditor/index.js
  app/routes/events/utils.js
Labels: small-fix, approved, ready-to-merge

#2979 change showing usernames to fullnames on comments
  app/components/Comments/Comment.js
  app/components/Comments/__tests__/Comment.spec.js
Labels: small-fix, approved, ready-to-merge

#2981 remove white space from event details
  app/routes/events/components/Event.css
  app/routes/events/components/JoinEventForm.js
Labels: bug-fix, small-fix, approved

#2982 Set survey default activation time to noon the day after
  app/routes/surveys/utils.js
Labels: enhancement, bug-fix, approved

#2967 Improve buttons across the webapp
  app/components/AnnouncementInLine/AnnouncementInLine.css
  app/components/AnnouncementInLine/index.js
  app/components/Modal/ConfirmModal.js
  app/routes/articles/components/ArticleEditor.css
  app/routes/articles/components/ArticleEditor.js
  app/routes/bdb/utils.js
  app/routes/companyInterest/components/CompanyInterestPage.js
  app/routes/events/components/Admin.css
  app/routes/events/components/Admin.js
  app/routes/events/components/JoinEventForm.js
  app/routes/events/components/UpdateAllergies.js
  app/routes/joblistings/JoblistingDetailedRoute.js
  app/routes/joblistings/components/JoblistingDetail.css
  app/routes/joblistings/components/JoblistingDetail.js
  app/routes/joblistings/components/JoblistingEditor.js
  app/routes/meetings/components/MeetingEditor.js
  app/routes/pages/components/PageDetail.js
  app/routes/pages/components/PageEditor.css
  app/routes/pages/components/PageEditor.js
  app/routes/photos/components/GalleryEditor.js
  app/routes/photos/components/GalleryEditorActions.js
  app/routes/photos/components/GalleryPictureEditModal.js
  app/routes/polls/components/PollDetail.js
  app/routes/polls/components/PollEditor.css
  app/routes/polls/components/PollEditor.js
  app/routes/users/components/RemovePicture.js
  cypress/e2e/joblistings_specs.js
  cypress/e2e/poll_spec.js
Labels: enhancement, approved, ready-to-merge

#2975 use white background behind company and event images
  app/components/Content/Content.css
  app/components/EventItem/styles.css
  app/components/Upload/UploadImage.css
  app/routes/articles/components/Overview.css
  app/routes/company/components/CompaniesPage.css
  app/routes/joblistings/components/JoblistingList.css
  app/routes/overview/components/ArticleItem.css
  app/routes/overview/components/EventItem.css
  app/routes/surveys/components/surveys.css
Labels: small-fix, approved, ready-to-merge

#3000 fix banner typo
  app/routes/overview/components/Overview.js
  app/routes/overview/components/PublicFrontpage.js
Labels: flawless, priority:high, small-fix, approved, ready-to-merge

#2992 Improve event page and event editor
  app/components/UserAttendance/AttendanceStatus.css
  app/routes/events/EventEditRoute.js
  app/routes/events/components/EventDetail/index.js
  app/routes/events/components/EventEditor/index.js
  app/routes/events/components/JoinEventForm.js
  app/routes/events/components/RegistrationMeta.js
Labels: enhancement, review-needed

#1997 Improved Photo Consents
  app/actions/EventActions.js
  app/actions/UserActions.js
  app/models.js
  app/reducers/users.js
  app/routes/events/EventAbacardRoute.js
  app/routes/events/components/Event.css
  app/routes/events/components/EventAdministrate/Abacard.js
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventAdministrate/AttendeeElements.js
  app/routes/events/components/EventAdministrate/RegistrationTables.js
  app/routes/events/components/EventDetail/index.js
  app/routes/events/components/JoinEventForm.js
  app/routes/events/components/RegistrationMeta.js
  app/routes/events/utils.js
  app/routes/users/UserProfileRoute.js
  app/routes/users/components/PhotoConsents.css
  app/routes/users/components/PhotoConsents.js
  app/routes/users/components/UserProfile.js
Labels: enhancement, priority:high, need-before-2050, review-needed, new-feature, changes-requested

#3002 Make the PhotoConsent buttons more legible
  app/routes/events/components/EventDetail/index.js
  app/routes/events/components/RegistrationMeta.js
  app/routes/users/components/PhotoConsents.css
  app/routes/users/components/PhotoConsents.js
Labels: future-was-2-years-ago, priority:high, bug-fix, approved
