Repository webkom/lego-webapp, pull requests merged in 2022-12, with the labels that each got.

#3382 Add missing cy.visit to e2e event_visit_spec
  cypress/e2e/event_visit_spec.js
Labels: bug-fix, approved

#3381 Enforce type imports when import not used as value
  .eslintrc.js
  app/actions/callAPI.ts
  app/components/Banner/index.tsx
  app/components/Button/index.tsx
  app/components/Chart/BarChart.tsx
  app/components/Chart/ChartLabel.tsx
  app/components/Chart/PieChart.tsx
  app/components/Header/index.tsx
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/events/components/CalendarCell.tsx
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
  app/routes/joblistings/components/Items.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/store/createRootReducer.ts
  app/utils/createMonthlyCalendar.ts
  app/utils/getEntityType.ts
  server/pageRenderer.ts
  server/ssr.tsx
  tsconfig.json
Labels: types, review-needed, approved

#3385 Fix typescript errors with data on window object
  app/config.ts
  app/global.d.ts
  app/store/createStore.ts
  config/Config.d.ts
Labels: review-needed
