Repository webkom/lego-webapp, pull requests merged in 2022-09, with the labels that each got.

#3001 Rework translations for notification settings
  app/routes/users/components/UserSettingsNotifications.js
  cypress/e2e/router_spec.js
Labels: enhancement, small-fix, approved

#3012 Remove admissions banner for this year
  app/routes/overview/components/Overview.js
  app/routes/overview/components/PublicFrontpage.js
Labels: review-needed, small-fix

#3021 fix bug where opening a modal scrolls to bottom of page
  app/components/Modal/index.js
Labels: bug-fix, small-fix, approved

#3022 Add auto-labeler action
  .github/labeler.yml
  .github/workflows/auto-label.yml
Labels: review-needed

#3023 Change administrate page to use new API
  app/routes/events/components/EventAdministrate/RegistrationTables.js
Labels: priority:high, bug-fix, small-fix, approved, ready-to-merge

#2980 Add button to toggle theme in header
  app/components/Header/Header.css
  app/components/Header/ToggleTheme.js
  app/components/Header/index.js
  app/components/Header/toggleTheme.css
  app/components/Search/Search.css
  app/components/Search/index.js
  app/routes/app/AppRoute.js
  app/routes/pages/components/PageDetail.js
  app/styles/globals.css
Labels: enhancement, future-was-2-years-ago, approved, changes-requested, ready-to-merge

#3027 Update front page banner to Abakusrevyen admissions
  app/routes/overview/components/Overview.js
  app/routes/overview/components/PublicFrontpage.js
Labels: review-needed, small-fix, do-not-merge/hold

#2803 Refactor comment form (migrate to react-final-form)
  app/actions/CommentActions.js
  app/components/CommentForm/index.js
  app/components/Comments/Comment.js
  app/components/Comments/CommentTree.js
  app/components/Comments/CommentView.js
  app/components/Form/EditorField.js
  app/components/Form/LegoFinalForm.js
  app/components/Form/SubmissionError.js
  app/routes/meetings/components/MeetingEditor.js
  cypress/e2e/create_meeting_spec.js
  cypress/e2e/event_visit_spec.js
Labels: enhancement, future-was-2-years-ago, review-needed, approved, testing-needed

#3040 fix bug where comment form would not clear after submit
  app/components/CommentForm/index.js
Labels: review-needed, bug-fix

#3043 Give indicator styling a more modern look
  app/components/Header/Header.css
Labels: enhancement, review-needed

#3045 Linkify and truncate links in announcements
  app/components/Feed/activity.js
  app/components/Poll/index.js
  package.json
  yarn.lock
Labels: enhancement, future-is-now, review-needed, approved, ready-to-merge

#3058 Remove revy banner
  app/routes/overview/components/Overview.js
  app/routes/overview/components/PublicFrontpage.js
Labels: review-needed

#3057 ABA-31: Add validation so payment due date is minimum 24 hours after unregistration deadline
  app/routes/events/components/EventEditor/index.js
Labels: review-needed

#3059 Add safeguard to disable reading of assumed existing key
  app/routes/events/components/EventAdministrate/RegistrationTables.js
Labels: bug-fix, approved

#3073 Add disclaimer about anonymous surveys
  app/routes/surveys/components/SubmissionEditor/SubmissionEditor.js
Labels: enhancement, review-needed, small-fix, approved, ready-to-merge
