Repository webkom/lego-webapp, pull requests merged in 2022-07, with the labels that each got.

#2864 Change color of front page banner
  app/components/Banner/Banner.css
  app/components/Banner/index.js
  app/routes/overview/components/Overview.js
Labels: flawless, priority:high, small-fix, approved, ready-to-merge

#2878 Update banner color on public front page
  app/routes/overview/components/PublicFrontpage.js
Labels: small-fix, approved, ready-to-merge

#2898 Update text in contact form
  app/routes/contact/components/ContactForm.js
Labels: discussion, small-fix, approved
