Repository webkom/lego-webapp, pull requests merged in 2023-10, with the labels that each got.

#4157 Update navlinks to use gap instead of margin
  app/components/NavigationTab/NavigationLink.css
  app/components/NavigationTab/NavigationTab.css
Labels: bug-fix, approved

#4162 Fix adding new company through interest form
  app/components/Form/SelectInput.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: review-needed, bug-fix, approved

#4163 Remove extra divs wrapping NavLinks
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/photos/components/GalleryDetail.tsx
Labels: bug-fix, approved

#4165 Make react-cropper take up the full width of picture
  app/components/Upload/ImageUpload.tsx
Labels: review-needed, bug-fix, approved

#4172 Fix validation of existing company in interest form
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: priority:high, review-needed, bug-fix, approved

#4159 Mention lego-bricks in main README.md
  README.md
Labels: review-needed, approved, ready-to-merge, docs

#4171 Define padding for header icons
  app/components/Header/Header.css
Labels: review-needed, bug-fix, approved

#4176 Add wait to fix cypress comment test
  cypress/e2e/event_visit_spec.js
Labels: review-needed

#4179 Add white-space attribute to tooltip
  app/components/Tooltip/Tooltip.css
Labels: bug-fix, approved, ready-to-merge

#4170 Bump mazemap from 2.0.63 to 2.0.96
  app/components/MazemapEmbed/MazemapEmbed.css
  app/components/MazemapEmbed/index.tsx
  app/components/Search/mazemapAutocomplete.tsx
  app/styles/variables.css
  cypress/e2e/create_meeting_spec.js
  mazemap/package.json
  yarn.lock
Labels: flawless, dependencies, approved

#4150 Update frontend check for allergy viewing permissions
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/store/models/Event.d.ts
  app/store/models/Registration.d.ts
Labels: review-needed

#4175 Add frame to charity winner 2023
  app/routes/users/components/UserProfile.tsx
Labels: approved, ready-to-merge

#4177 Remove random key from comment field
  app/components/CommentForm/index.tsx
  app/components/Form/TextInput.tsx
  cypress/e2e/event_visit_spec.js
Labels: bug-fix, approved, ready-to-merge

#4167 Use default cursor on disabled checkboxes and radio buttons
  app/components/Form/CheckBox.css
  app/components/Form/RadioButton.css
Labels: review-needed, bug-fix, small-fix, approved, ready-to-merge

#4184 Highlight current day appropriately when selected in datepicker
  app/components/Form/DatePicker.css
Labels: review-needed, bug-fix, small-fix, approved, ready-to-merge

#4183 Fix wrong color in text inputs
  app/components/Form/TextInput.css
  app/components/Form/TextInput.tsx
Labels: review-needed, bug-fix, approved

#4189 Fix and use the `description` on fields
  app/components/Form/Field.css
  app/components/Form/Field.tsx
  app/components/Form/ObjectPermissions.tsx
  app/components/GroupForm/index.tsx
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
Labels: review-needed, approved, technical-debt, chore

#4190 Give input selectors a default placeholder
  app/components/Form/Field.tsx
  app/components/Form/SelectInput.tsx
  app/routes/admin/email/components/EmailUserEditor.tsx
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/events/EventCreateRoute.ts
  app/routes/events/components/EventEditor/index.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
Labels: enhancement, review-needed, small-fix, approved, ready-to-merge

#4192 Remove extra div from settings navtab
  app/components/NavigationTab/index.tsx
  app/routes/users/components/UserSettingsIndex.tsx
  cypress/e2e/router_spec.js
Labels: review-needed, bug-fix, approved

#4193 Stop survey editor from crashing on certain surveys
  app/routes/surveys/components/SurveyEditor/Option.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/components/surveys.css
  app/routes/surveys/utils.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#4191 Implement a card severity of warning
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/users/components/UserConfirmation.tsx
Labels: enhancement, review-needed, approved, ready-to-merge

#4158 Replace abascan popups with a list of recent scans
  app/actions/EventActions.ts
  app/components/UserValidator/Validator.css
  app/components/UserValidator/index.tsx
  app/routes/events/EventAbacardRoute.ts
  app/routes/events/components/EventAdministrate/Abacard.tsx
  app/routes/userValidator/ValidatorRoute.tsx
Labels: enhancement, approved

#4202 Fix TextWithIcon icon alignment
  app/components/TextWithIcon/TextWithIcon.css
  app/components/TextWithIcon/index.tsx
Labels: review-needed, bug-fix, small-fix, approved

#4203 Add section-dividers and titles to event statistics
  app/routes/events/components/EventAttendeeStatistics.css
  app/routes/events/components/EventAttendeeStatistics.tsx
Labels: approved, ready-to-merge

#4200 Random bits and pieces
  app/components/Comments/Comment.css
  app/components/Comments/Comment.tsx
  app/components/Icon/index.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/RegisteredSummary.tsx
  app/routes/events/components/Registrations.css
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/quotes/components/Quote.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/users/components/UserProfile.tsx
Labels: enhancement, review-needed, bug-fix, approved, ready-to-merge, technical-debt, chore

#4211 Change default survey activation time to 14:30
  app/routes/surveys/AddSurveyRoute.ts
  app/routes/surveys/utils.tsx
Labels: review-needed, bug-fix, approved

#4220 Allow for admin registering multiple people at once
  app/components/Form/SubmitButton.tsx
  app/routes/events/EventAdminRegisterRoute.ts
  app/routes/events/components/EventAdministrate/AdminRegister.tsx
  app/routes/events/index.tsx
Labels: enhancement, review-needed

#4212 Add external links to nav menu
  app/components/Search/index.tsx
  app/components/Search/utils.tsx
Labels: enhancement, approved

#4222 Improve final-form submit-button and submission-error consistency
  app/actions/CompanyActions.ts
  app/components/CommentForm/CommentForm.css
  app/components/CommentForm/index.tsx
  app/components/Form/SubmissionError.css
  app/components/Form/SubmissionError.tsx
  app/components/Form/SubmitButton.tsx
  app/components/LoginForm/LoginForm.tsx
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/quotes/components/AddQuote.tsx
  app/routes/users/components/UserSettings.tsx
Labels: enhancement, review-needed, small-fix, technical-debt

#4146 Fix statistics positions
  app/routes/events/components/EventAttendeeStatistics.css
  app/routes/events/components/EventAttendeeStatistics.tsx
Labels: enhancement, review-needed, approved

#4218 Replace jest with vitest
  .eslintrc.js
  README.md
  app/components/Comments/CommentTree.tsx
  app/components/Comments/__tests__/Comment.spec.tsx
  app/components/Comments/__tests__/CommentTree.spec.tsx
  app/components/Comments/__tests__/CommentView.spec.tsx
  app/components/Feed/index.tsx
  app/components/LoginForm/LoginForm.spec.tsx
  app/components/Poll/__tests__/Poll.spec.ts
  app/components/Time/Time.spec.tsx
  app/config.ts
  app/reducers/__tests__/allowed.spec.ts
  app/reducers/__tests__/announcements.spec.ts
  app/reducers/__tests__/auth.spec.ts
  app/reducers/__tests__/comments.spec.ts
  app/reducers/__tests__/companies.spec.ts
  app/reducers/__tests__/companySemester.spec.ts
  app/reducers/__tests__/events.spec.ts
  app/reducers/__tests__/feeds.spec.ts
  app/reducers/__tests__/galleryPictures.spec.ts
  app/reducers/__tests__/groups.spec.ts
  app/reducers/__tests__/meetingInvitations.spec.ts
  app/reducers/__tests__/meetingsToken.spec.ts
  app/reducers/__tests__/notificationSettings.spec.ts
  app/reducers/__tests__/notificationsFeed.spec.ts
  app/reducers/__tests__/pools.spec.ts
  app/reducers/__tests__/quotes.spec.ts
  app/reducers/__tests__/reactions.spec.ts
  app/reducers/__tests__/readme.spec.ts
  app/reducers/__tests__/registrations.spec.ts
  app/reducers/__tests__/routing.spec.ts
  app/reducers/__tests__/search.spec.ts
  app/reducers/__tests__/surveySubmissions.spec.ts
  app/reducers/__tests__/tags.spec.ts
  app/reducers/__tests__/toasts.spec.ts
  app/reducers/__tests__/users.spec.ts
  app/routes/admin/groups/components/__tests__/GroupMembers.spec.tsx
  app/routes/admin/groups/components/__tests__/GroupMembersList.spec.tsx
  app/routes/admin/groups/components/__tests__/GroupTree.spec.tsx
  app/routes/bdb/components/__tests__/BdbPage.spec.tsx
  app/routes/bdb/components/__tests__/CompanyList.spec.tsx
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/routes/users/components/__tests__/UserProfile.spec.tsx
  app/utils/__tests__/asyncValidator.spec.ts
  app/utils/__tests__/createEntityReducer.spec.ts
  app/utils/__tests__/createQueryString.spec.ts
  app/utils/__tests__/fetchJSON.spec.ts
  app/utils/__tests__/mergeObjects.spec.ts
  app/utils/__tests__/urlifyString.spec.tsx
  config/env.ts
  package.json
  testing/CSSStub.js
  testing/FileStub.js
  testing/mazemapMapbox.js
  testing/requestAnimationFrame.js
  testing/setup.js
  vite.config.ts
  vitest.setup.ts
  yarn.lock
Labels: review-needed, approved, technical-debt, chore

#4230 Remove flex from tooltip content
  app/components/Tooltip/Tooltip.css
Labels: review-needed, bug-fix

#4225 Komtek go brrrrrr #cyberdata
  app/assets/manifest.json
  app/assets/opensearch.xml
  app/routes/app/AppRoute.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/overview/components/PublicFrontpage.tsx
  app/routes/pages/components/LandingPage.tsx
  app/routes/users/components/StudentConfirmation.tsx
Labels: review-needed

#4155 Feat event organizer field
  app/models.ts
  app/routes/articles/ArticleEditRoute.ts
  app/routes/events/EventCreateRoute.ts
  app/routes/events/EventEditRoute.ts
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/utils.ts
  app/store/models/Event.d.ts
Labels: discussion, review-needed, new-feature, changes-requested

#4188 Add dropdown menu to navbar
  app/components/Header/Header.css
  app/components/Header/Navbar/AboutDropdown.tsx
  app/components/Header/Navbar/CareerDropdown.tsx
  app/components/Header/Navbar/EventsDropwdown.css
  app/components/Header/Navbar/EventsDropwdown.tsx
  app/components/Header/Navbar/Item.css
  app/components/Header/Navbar/Item.tsx
  app/components/Header/Navbar/ItemGrid.css
  app/components/Header/Navbar/ItemGrid.tsx
  app/components/Header/Navbar/ItemList.tsx
  app/components/Header/Navbar/Navbar.css
  app/components/Header/Navbar/Navbar.tsx
  app/components/Header/index.tsx
Labels: enhancement, review-needed, approved

#4233 Update Tag alignment
  app/components/Tags/Tag.css
  app/routes/overview/components/Overview.css
Labels: review-needed

#4234 Hide navbar in mobile view
  app/components/Header/Navbar/Navbar.css
Labels: priority:high, review-needed, bug-fix

#4226 Fix registration form
  app/routes/users/UserResetPasswordRoute.ts
  app/routes/users/components/ChangePassword.tsx
  app/routes/users/components/PasswordField.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserResetPassword.tsx
  app/utils/asyncValidator.ts
  app/utils/validation.ts
Labels: review-needed, bug-fix

#4232 Changed backgroundcolor for interested on bdb interestpage
  app/routes/bdb/components/bdb.css
Labels: bug-fix, small-fix, approved

#4242 Listen to changes in current page to expand category
  app/routes/pages/components/PageHierarchy.tsx
Labels: review-needed, bug-fix, approved

#4243 Move pinned over poll and quote on mobile
  app/routes/overview/components/CompactEvents.css
  app/routes/overview/components/Overview.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4241 Fix Italic issue
  app/routes/pages/components/LandingPage.tsx
Labels: review-needed, bug-fix, small-fix, approved

#4239 Load old meetings if no upcoming, and refactor the reducer
  app/components/Header/Navbar/Navbar.tsx
  app/reducers/meetings.ts
  app/routes/meetings/components/MeetingList.tsx
Labels: review-needed, new-feature, approved

#4246 Fix spacing issue on event author
  app/routes/events/components/EventDetail/index.tsx
Labels: review-needed, bug-fix, small-fix, approved
