Repository webkom/lego-webapp, pull requests merged in 2023-07, with the labels that each got.

#4003 Add banner and update public frontpage for fp-23
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: review-needed, small-fix

#4010 Set default tooltip placement to be top
  app/components/Tooltip/index.tsx
Labels: enhancement, approved, ready-to-merge

#4011 Show a loading indicator when fetching notifications
  app/components/Feed/types.ts
  app/components/Header/index.tsx
  app/components/HeaderNotifications/HeaderNotifications.css
  app/components/HeaderNotifications/index.tsx
  app/routes/app/AppRoute.tsx
Labels: enhancement, types, bug-fix, approved, ready-to-merge

#4013 Animate the modal appearance
  app/components/Modal/Modal.css
  app/components/Modal/index.tsx
Labels: enhancement, approved, ready-to-merge

#4020 Update the look of buttons
  app/components/Button/Button.css
  app/components/Button/index.tsx
  app/components/CommentForm/index.tsx
  app/components/Dropdown/Dropdown.css
  app/components/Dropdown/index.tsx
  app/components/Header/Header.css
  app/components/Header/index.tsx
  app/components/UserAttendance/AttendanceModalContent.css
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/quotes/components/Quote.tsx
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/SurveyEditor/Option.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/components/SurveyList/SurveyList.tsx
  app/routes/surveys/components/surveys.css
  app/routes/users/components/Penalties.tsx
  app/routes/users/components/PenaltyForm.tsx
  app/styles/globals.css
  app/styles/overlay.css
Labels: enhancement, approved, ready-to-merge, technical-debt

#3990 Replace `global` with `window` and ensure its existence
  app/components/Header/FancyNodesCanvas.tsx
Labels: types, bug-fix, approved, ready-to-merge

#4019 Refactor Sidebar
  app/routes/pages/components/Sidebar.css
  app/routes/pages/components/Sidebar.tsx
Labels: enhancement, review-needed, approved, technical-debt

#4033 Let users set event location before registration type
  app/routes/events/components/EventEditor/index.tsx
  cypress/e2e/create_event_spec.js
  cypress/e2e/event_editor_spec.js
Labels: bug-fix, small-fix, approved, ready-to-merge

#4029 Make clickable icons resemble flat buttons
  app/components/Button/Button.css
  app/components/Icon/Icon.css
  app/components/Icon/index.tsx
  app/components/Modal/Modal.css
  app/components/Modal/index.tsx
  app/components/NavigationTab/NavigationTab.css
  app/components/RandomQuote/RandomQuote.css
  app/components/RandomQuote/RandomQuote.tsx
  app/components/Search/Search.css
  app/components/Search/index.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Overview.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/polls/components/PollsList.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/components/surveys.css
  app/routes/users/components/UserSettingsOAuth2.css
  app/styles/variables.css
  cypress/e2e/home_page_spec.js
Labels: enhancement, new-feature, approved, ready-to-merge

#4032 Random bits and pieces 4
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/components/Search/utils.tsx
  app/routes/interestgroups/components/InterestGroupList.tsx
  app/routes/overview/components/ArticleItem.css
  app/routes/overview/components/EventItem.css
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/Overview.tsx
  cypress/e2e/router_spec.js
Labels: enhancement, discussion, small-fix, approved, ready-to-merge, technical-debt

#4028 Introduce a `secondary` button type and update buttons
  app/components/Button/Button.css
  app/components/Button/index.tsx
  app/components/Modal/ConfirmModal.tsx
  app/components/Upload/ImageUpload.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/CompanyContactEditor.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/brand/components/BrandPage.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/Toolbar.tsx
  app/routes/events/components/UpdateAllergies.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/joblistings/components/JoblistingRightNav.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/pages/components/PageButtons.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryEditorActions.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/SubmissionEditor/SubmissionEditor.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/users/components/GroupChange.tsx
  app/routes/users/components/StudentConfirmation.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/__tests__/UserProfile.spec.tsx
Labels: enhancement, review-needed, new-feature, technical-debt

#4030 Update the look of navigation tabs
  app/components/Header/Header.css
  app/components/NavigationTab/NavigationLink.css
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingList.tsx
  app/routes/polls/components/PollsList.tsx
  cypress/e2e/poll_spec.js
  cypress/e2e/router_spec.js
Labels: enhancement, review-needed, bug-fix, technical-debt

#4018 Give comments a retouch
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/components/CommentForm/CommentForm.css
  app/components/CommentForm/index.tsx
  app/components/Comments/Comment.css
  app/components/Comments/Comment.tsx
  app/components/Comments/CommentTree.css
  app/components/Comments/CommentTree.tsx
  app/components/Comments/CommentView.tsx
  app/components/Form/LegoFinalForm.tsx
  app/components/Tags/Tag.css
  app/components/Tags/Tag.tsx
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/events/components/Event.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  cypress/e2e/event_visit_spec.js
Labels: enhancement, review-needed, bug-fix, new-feature, technical-debt

#4043 Explicitly give navigation tabs a height
  app/components/NavigationTab/NavigationLink.css
  app/routes/photos/components/GalleryDetail.tsx
Labels: bug-fix, small-fix, approved, ready-to-merge

#4046 Vertically align tag component on overview
  app/components/Tags/Tag.css
  app/routes/articles/components/Overview.tsx
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Pinned.css
  app/routes/overview/components/utils.tsx
Labels: priority:high, review-needed, bug-fix, technical-debt

#4045 Make icons behave like buttons and links
  app/components/Button/Button.css
  app/components/CollapsibleDisplayContent/CollapsibleDisplayContent.css
  app/components/CollapsibleDisplayContent/index.tsx
  app/components/Icon/Icon.css
  app/components/Icon/index.tsx
  app/components/Modal/Modal.css
  app/components/Modal/index.tsx
  app/components/NavigationTab/NavigationLink.css
  app/components/RandomQuote/RandomQuote.css
  app/components/RandomQuote/RandomQuote.tsx
  app/components/Search/Search.css
  app/components/Search/index.tsx
  app/routes/overview/components/CompactEvents.css
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Overview.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/components/surveys.css
  cypress/e2e/router_spec.js
Labels: enhancement, review-needed, approved, technical-debt

#4044 Listen for `isDragActive` on image drop
  app/components/Form/ImageUploadField.css
  app/components/Upload/ImageUpload.tsx
  app/components/Upload/UploadImage.css
  app/routes/articles/components/ArticleEditor.css
  app/routes/pages/components/PageEditor.css
  cypress/e2e/create_event_spec.js
  cypress/e2e/event_editor_spec.js
  cypress/e2e/event_payment_spec.js
  cypress/support/utils.js
Labels: enhancement, review-needed, small-fix, new-feature, approved
