Repository webkom/lego-webapp, pull requests merged in 2023-06, with the labels that each got.

#3982 Stop attendance box from growing
  app/components/UserAttendance/AttendanceStatus.css
Labels: review-needed, bug-fix, small-fix

#3978 Give the card component an info property
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/components/surveys.css
Labels: enhancement, new-feature, approved, ready-to-merge

#3977 Update the chart and password bar colors
  app/components/Chart/utils.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/users/components/passwordStrengthVariables.ts
  app/styles/variables.css
Labels: enhancement, approved, ready-to-merge, technical-debt

#3989 Remove broken webpack hot reload from server
  config/webpack.server.js
  server/index.ts
Labels: review-needed, chore

#3988 Change random bits and pieces, again
  app/actions/EmailListActions.ts
  app/actions/EmailUserActions.ts
  app/actions/UserActions.ts
  app/components/Feed/renders/restrictedMail.tsx
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/admin/email/components/RestrictedMails.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/CompanyContactEditor.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/overview/components/NextEvent.css
  app/routes/pages/components/subcomponents/DisplayVision/index.tsx
  app/routes/users/components/StudentConfirmation.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettings.tsx
  cypress/e2e/router_spec.js
Labels: small-fix, approved, ready-to-merge, chore

#3987 Greatly improve the tooltip component
  app/components/PhotoUploadStatus/index.tsx
  app/components/Poll/index.tsx
  app/components/Tooltip/Tooltip.css
  app/components/Tooltip/index.tsx
  app/components/UserGrid/index.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/RegisteredSummary.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/polls/components/PollEditor.css
  app/routes/polls/components/PollEditor.tsx
  app/routes/users/components/StudentConfirmation.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  app/styles/variables.css
  cypress/e2e/poll_spec.js
  package.json
  yarn.lock
Labels: enhancement, future-was-2-years-ago, dependencies, bug-fix, approved, ready-to-merge, technical-debt

#3991 Slightly improve the public overview
  app/components/Header/Header.css
  app/routes/overview/IndexRoute.ts
  app/routes/overview/components/CompactEvents.tsx
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/LatestReadme.tsx
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/Pinned.tsx
  app/routes/overview/components/PublicFrontpage.css
  app/routes/overview/components/PublicFrontpage.tsx
  app/routes/overview/components/utils.tsx
  app/styles/overlay.css
  cypress/e2e/home_page_spec.js
Labels: enhancement, approved, ready-to-merge, technical-debt
