Repository webkom/lego-webapp, pull requests merged in 2023-03, with the labels that each got.

#3631 Redesign CompanyDetail v2
  app/components/EventListCompact/EventListCompact.css
  app/components/EventListCompact/index.tsx
  app/routes/company/components/Company.css
  app/routes/company/components/CompanyDetail.tsx
  app/routes/users/components/UserProfile.tsx
Labels: enhancement, small-fix, approved, technical-debt

#3626 Use correct symbol on EvenStatus-component
  app/utils/eventStatus.ts
Labels: enhancement, approved

#3633 Minior changes to the field inputs
  app/components/Form/Field.css
  app/components/Form/TextArea.tsx
  app/components/Form/TextEditor.css
  app/components/Form/TextInput.css
  app/components/Form/TextInput.tsx
  app/components/LoginForm/LoginForm.spec.tsx
  app/components/LoginForm/LoginForm.tsx
  app/components/Reactions/ReactionPickerFooter.css
  app/components/Reactions/ReactionPickerFooter.tsx
  app/components/Table/index.tsx
  app/components/UserAttendance/AttendanceModal.css
  app/components/UserAttendance/AttendanceModal.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
Labels: enhancement, bug-fix, approved

#3469 Update react from 16 to 18.2
  app/components/Card/index.tsx
  app/components/Dropdown/index.tsx
  app/components/Form/TextInput.tsx
  app/components/Header/ToggleTheme.tsx
  app/components/InfoList/index.tsx
  app/components/Poll/index.tsx
  app/components/Tags/index.tsx
  app/render.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/routes/overview/components/utils.tsx
  app/routes/users/components/GroupChange.tsx
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/UserProfile.tsx
  app/utils/themeUtils.ts
  config/webpack.client.js
  config/webpack.server.js
  cypress/e2e/event_editor_spec.js
  cypress/e2e/event_visit_spec.js
  cypress/support/utils.js
  package.json
  testing/setup.js
  yarn.lock
Labels: enhancement, future-is-now, dependencies, review-needed, approved

#3591 Rewrite PollEditor to React-final-form
  app/routes/polls/components/PollEditor.tsx
  package.json
  yarn.lock
Labels: future-was-2-years-ago, review-needed, approved, chore

#3650 2 bugs 1 pr
  app/components/Form/TextInput.css
  app/components/Form/TextInput.tsx
  app/routes/companyInterest/components/CompanyInterest.css
Labels: bug-fix, small-fix, approved, ready-to-merge

#3666 Compose text area styling from text editor
  app/components/Form/TextArea.tsx
Labels: review-needed, bug-fix

#3665 Stop event editor from breaking in dev
  app/reducers/events.ts
  app/routes/events/components/EventList.tsx
  app/routes/events/utils.ts
  app/routes/overview/components/CompactEvents.tsx
  app/routes/surveys/EditSurveyRoute.ts
  app/utils/eventStatus.ts
Labels: review-needed, bug-fix, testing-needed

#3680 Make checbox look disabled when it's disabled
  app/components/Form/CheckBox.css
Labels: enhancement, review-needed, bug-fix, small-fix

#3678 Fix bug where select blurred on select for mobile
  app/components/Form/SelectInput.tsx
Labels: bug-fix, approved

#3681 Filter out past events from frontpage
  app/routes/overview/components/Overview.tsx
Labels: bug-fix, approved, ready-to-merge

#3677 General changes to surveys
  app/components/Content/ContentSidebar.tsx
  app/components/Form/Field.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/surveys/AddSurveyRoute.ts
  app/routes/surveys/EditSurveyRoute.ts
  app/routes/surveys/TemplatesRoute.ts
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/SubmissionEditor/SubmissionEditor.tsx
  app/routes/surveys/components/SurveyEditor/Option.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/components/SurveyList/SurveyList.tsx
  app/routes/surveys/components/SurveyList/SurveyPage.tsx
  app/routes/surveys/components/surveys.css
  app/routes/surveys/utils.tsx
Labels: enhancement, approved, ready-to-merge, chore

#3687 Standardize the use of `border-radius`
  app/components/Button/Button.css
  app/components/Card/Card.css
  app/components/CommentForm/CommentForm.css
  app/components/Comments/Comment.css
  app/components/Form/CheckBox.css
  app/components/Form/Field.css
  app/components/Form/PhoneNumberInput.css
  app/components/Form/TextInput.css
  app/components/Icon/Icon.css
  app/components/InfoBubble/InfoBubble.css
  app/components/JoblistingItem/JoblistingItem.css
  app/components/LoadingIndicator/LoadingIndicator.css
  app/components/Modal/Modal.css
  app/components/Pill/Pill.css
  app/components/Poll/Poll.css
  app/components/Reactions/Reaction.css
  app/components/Reactions/ReactionPickerContent.css
  app/components/Search/Search.css
  app/components/SpecialDay/AprilFools/LoadingBox.css
  app/components/Tags/Tag.css
  app/components/Tooltip/Tooltip.css
  app/components/Upload/UploadImage.css
  app/components/UserAttendance/AttendanceModal.css
  app/components/UserAttendance/AttendanceStatus.css
  app/components/UserValidator/Validator.css
  app/routes/admin/groups/components/GroupTree.css
  app/routes/bdb/components/bdb.css
  app/routes/bdb/components/optionsBox.css
  app/routes/events/components/Calendar.css
  app/routes/events/components/Event.css
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/Stripe.css
  app/routes/overview/components/Feed.css
  app/routes/pages/components/PageDetail.css
  app/routes/pages/components/PageHierarchy.css
  app/routes/tags/components/TagDetail.css
  app/routes/tags/components/TagDetail.tsx
  app/styles/overlay.css
  app/styles/utilities.css
  app/styles/variables.css
Labels: enhancement, approved, ready-to-merge, chore

#3688 Bump lego-editor from 2.0.3 to 2.1.0
  package.json
  yarn.lock
Labels: dependencies, approved

#3679 General changes to the interest form
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/utils.tsx
  cypress/e2e/company_interest_spec.js
Labels: enhancement, approved, ready-to-merge, chore

#3548 Add reactions to meetings. Rewrote meeting from class component -> hook.
  app/models.ts
  app/reducers/index.ts
  app/reducers/meetings.ts
  app/routes/meetings/MeetingDetailRoute.tsx
  app/routes/meetings/components/MeetingDetail.css
  app/routes/meetings/components/MeetingDetail.tsx
  app/store/models/Meeting.d.ts
Labels: review-needed, new-feature, approved, changes-requested, chore

#3694 Filter out unnecessary dash at the start of a quote source
  app/routes/quotes/components/AddQuote.tsx
Labels: new-feature, approved

#3695 Make radio buttons in interest form work
  app/components/LoginForm/LoginForm.tsx
  app/routes/companyInterest/CompanyInterestEditRoute.ts
  app/routes/companyInterest/CompanyInterestRoute.ts
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: priority:high, bug-fix, approved, ready-to-merge

#3696 Exclude `setup` step from `build` CI pipeline
  .drone.yml
Labels: enhancement, small-fix, approved, ready-to-merge

#3697 Change random bits and pieces
  app/components/CommentForm/CommentForm.css
  app/components/Content/ContentSidebar.css
  app/components/EventItem/index.tsx
  app/components/EventItem/styles.css
  app/components/Feed/activity.css
  app/components/Feed/renders/announcement.tsx
  app/components/Form/Field.css
  app/components/Form/RadioButton.css
  app/components/GroupForm/index.tsx
  app/components/GroupMember/GroupMember.css
  app/components/InfoBubble/InfoBubble.css
  app/components/LoadingIndicator/LoadingIndicator.css
  app/components/PhotoUploadStatus/PhotoUploadStatus.css
  app/components/Poll/index.tsx
  app/components/Reactions/ReactionPickerFooter.css
  app/components/SpecialDay/AprilFools/LoadingBox.css
  app/components/UserAttendance/AttendanceStatus.css
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserValidator/Validator.css
  app/routes/admin/groups/components/GroupPage.css
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/bdb/components/bdb.css
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/Event.css
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/events/utils.ts
  app/routes/pages/components/PageDetail.css
  app/routes/polls/components/PollsList.tsx
  app/routes/surveys/components/SubmissionEditor/SubmissionEditor.tsx
  app/routes/users/components/Penalties.tsx
  app/styles/globals.css
  app/styles/variables.css
Labels: enhancement, approved, ready-to-merge, chore

#3566 Allow multiple and other authors on articles
  app/components/Form/ObjectPermissions.tsx
  app/reducers/index.ts
  app/reducers/users.ts
  app/routes/articles/ArticleCreateRoute.ts
  app/routes/articles/ArticleDetailRoute.ts
  app/routes/articles/ArticleEditRoute.ts
  app/routes/articles/ArticleListRoute.ts
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/articles/components/Overview.tsx
  app/routes/events/utils.ts
  app/store/models/Article.d.ts
  app/types.ts
Labels: new-feature, approved

#3664 Export company interests to csv
  app/reducers/companyInterest.ts
  app/routes/companyInterest/CompanyInterestListRoute.ts
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/utils.tsx
Labels: priority:high, review-needed, new-feature, changes-requested

#3716 Fix css of companyInterest export button
  app/routes/companyInterest/components/CompanyInterestList.tsx
Labels: priority:high, review-needed, small-fix

#3574 Add information regarding rights as an eventmaker
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/utils.ts
  cypress/e2e/create_event_spec.js
  cypress/e2e/event_editor_spec.js
Labels: priority:high, review-needed, new-feature

#3727 Stop survey creator page from crashing on load
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/utils.tsx
Labels: priority:high, bug-fix, approved, ready-to-merge

#3732 Only calculate penalty reg time if heedPenalties
  app/components/UserAttendance/withModal.tsx
  app/models.ts
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/utils.ts
Labels: types, review-needed, bug-fix, approved, technical-debt
