Repository webkom/lego-webapp, pull requests merged in 2023-09, with the labels that each got.

#3901 Implement github usernames on profiles.
  app/actions/UserActions.ts
  app/models.ts
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettings.tsx
  app/store/models/User.d.ts
  app/utils/validation.ts
Labels: review-needed, new-feature, do-not-merge/hold, changes-requested

#4099 Fix incorrect stripe input color
  app/routes/events/components/StripeElement.tsx
Labels: bug-fix, approved, ready-to-merge

#4115 Fix bad article author spacing
  app/components/Tags/Tag.tsx
  app/routes/articles/components/ArticleDetail.tsx
Labels: bug-fix, small-fix, approved, ready-to-merge

#3871 Add slugs to joblistings and articles and use them in common places
  app/components/EventItem/index.tsx
  app/components/JoblistingItem/index.tsx
  app/models.ts
  app/reducers/articles.ts
  app/reducers/joblistings.ts
  app/routes/announcements/components/AnnouncementItem.tsx
  app/routes/articles/ArticleDetailRoute.ts
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/articles/index.tsx
  app/routes/events/EventDetailRoute.ts
  app/routes/events/components/Admin.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/joblistings/JoblistingDetailedRoute.ts
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/joblistings/index.tsx
  app/routes/overview/components/CompactEvents.tsx
  app/routes/overview/components/utils.tsx
  app/store/models/Article.d.ts
  app/store/models/Event.d.ts
  app/store/models/Joblisting.ts
Labels: review-needed, new-feature

#4121 Rename banner
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: small-fix, approved, ready-to-merge

#4119 Give datepicker a retouch
  app/components/Form/DatePicker.css
  app/components/Form/DatePicker.tsx
  app/components/Form/TextInput.css
  app/components/Form/TextInput.tsx
  app/components/Form/TimePicker.css
  app/components/Form/TimePicker.tsx
  cypress/e2e/create_event_spec.js
  cypress/e2e/create_meeting_spec.js
  cypress/support/utils.js
Labels: enhancement, review-needed, approved, ready-to-merge

#4122 Replace (more) ids with slugs
  app/routes/articles/components/Overview.tsx
  app/routes/events/components/CalendarCell.tsx
  app/routes/overview/components/NextEvent.tsx
Labels: review-needed, approved

#4143 Use date-relative merge time in event cypress test
  cypress/e2e/create_event_spec.js
Labels: review-needed, bug-fix

#4140 Remove banners
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: review-needed, small-fix, approved, chore

#3813 Create image gallery for reusable cover images
  app/actions/ActionTypes.ts
  app/actions/FileActions.ts
  app/components/Header/Readme.md
  app/components/Image/Image.tsx
  app/models.ts
  app/reducers/imageGallery.ts
  app/reducers/index.ts
  app/routes/events/EventCreateRoute.ts
  app/routes/events/EventEditRoute.ts
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
  app/store/createRootReducer.ts
  app/store/models/Event.d.ts
Labels: review-needed, new-feature, changes-requested

#4132 [1st batch] Start migrating to `react-router` v6
  app/Root.tsx
  app/components/Form/utils.ts
  app/components/LegoReactions/index.tsx
  app/components/RandomQuote/RandomQuote.tsx
  app/components/RandomQuote/index.tsx
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/ReactionPicker.tsx
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Reactions/index.tsx
  app/routes/articles/ArticleDetailRoute.ts
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/index.tsx
  app/routes/meetings/MeetingDetailRoute.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/pageNotFound/index.tsx
  app/routes/quotes/QuoteDetailRoute.ts
  app/routes/quotes/QuoteEditorRoute.ts
  app/routes/quotes/QuotesRoute.ts
  app/routes/quotes/components/AddQuote.tsx
  app/routes/quotes/components/Quote.tsx
  app/routes/quotes/components/QuoteList.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/quotes/index.tsx
  package.json
  server/ssr.tsx
  yarn.lock
Labels: future-was-2-years-ago, dependencies, review-needed, approved, technical-debt, chore

#4149 Change company interest page
  app/components/Form/MultiSelectGroup.css
  app/components/Form/MultiSelectGroup.tsx
  app/components/Form/RadioButtonGroup.tsx
  app/components/Form/index.ts
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/companyInterest/CompanyInterestRoute.ts
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/companyInterest/components/Translations.ts
  app/routes/companyInterest/utils.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserSettings.tsx
  app/utils/validation.ts
  cypress/e2e/company_interest_spec.js
  cypress/support/utils.js
Labels: review-needed

#4152 Fix renaming bug in company interest page
  app/routes/companyInterest/CompanyInterestEditRoute.ts
Labels: review-needed

#4134 [2nd batch] Refactor misc routes to support `react-router` v6
  app/Root.tsx
  app/components/Form/LegoFinalForm.tsx
  app/components/Form/index.ts
  app/components/Form/utils.ts
  app/components/Poll/index.tsx
  app/components/RouteWrapper/index.tsx
  app/routes/announcements/AnnouncementsRoute.ts
  app/routes/announcements/components/AnnouncementItem.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/announcements/components/AnnouncementsList.css
  app/routes/announcements/components/AnnouncementsList.tsx
  app/routes/announcements/index.tsx
  app/routes/index.tsx
  app/routes/polls/PollsCreateRoute.ts
  app/routes/polls/PollsDetailRoute.ts
  app/routes/polls/PollsListRoute.ts
  app/routes/polls/components/PollDetail.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/polls/components/PollsList.tsx
  app/routes/polls/index.tsx
  app/routes/quotes/QuoteEditorRoute.ts
  app/routes/quotes/QuotesRoute.ts
  app/routes/quotes/index.tsx
  app/routes/tags/TagDetailRoute.ts
  app/routes/tags/TagsListRoute.ts
  app/routes/tags/components/TagCloud.tsx
  app/routes/tags/components/TagDetail.tsx
  app/routes/tags/index.tsx
  app/utils/validation.ts
Labels: future-was-2-years-ago, review-needed, bug-fix, approved, technical-debt, chore

#4136 [3rd batch] Refactor misc routes to support `react-router` v6
  app/components/GroupForm/index.tsx
  app/routes/admin/OverviewRoute.tsx
  app/routes/admin/email/CreateEmailListRoute.ts
  app/routes/admin/email/CreateEmailUserRoute.ts
  app/routes/admin/email/CreateRestrictedMailRoute.ts
  app/routes/admin/email/EmailListRoute.ts
  app/routes/admin/email/EmailListsRoute.ts
  app/routes/admin/email/EmailUserRoute.ts
  app/routes/admin/email/EmailUsersRoute.ts
  app/routes/admin/email/RestrictedMailRoute.ts
  app/routes/admin/email/RestrictedMailsRoute.ts
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/email/components/EmailLists.tsx
  app/routes/admin/email/components/EmailPage.tsx
  app/routes/admin/email/components/EmailUserEditor.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/admin/email/components/RestrictedMails.tsx
  app/routes/admin/email/index.tsx
  app/routes/admin/groups/GroupDetailRoute.ts
  app/routes/admin/groups/GroupsRoute.ts
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/admin/groups/components/AddGroupPermission.tsx
  app/routes/admin/groups/components/GroupMembers.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/admin/groups/components/GroupSettings.tsx
  app/routes/admin/groups/components/GroupSettings/index.css
  app/routes/admin/groups/components/GroupSettings/index.tsx
  app/routes/admin/groups/components/GroupView.tsx
  app/routes/admin/groups/index.tsx
  app/routes/admin/index.tsx
  app/routes/brand/index.tsx
  app/routes/company/CompaniesRoute.ts
  app/routes/company/CompanyDetailRoute.ts
  app/routes/company/components/CompaniesPage.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/company/index.tsx
  app/routes/index.tsx
  app/routes/interestgroups/components/InterestGroupCreate.tsx
  app/routes/interestgroups/components/InterestGroupEdit.tsx
  app/routes/quotes/QuoteEditorRoute.ts
  app/routes/quotes/QuotesRoute.ts
  app/store/models/Group.d.ts
Labels: review-needed, approved, technical-debt, chore

#4153 Refactor forms using MultipleSelectGroup to react-final-forms
  .drone.yml
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/companyInterest/components/Translations.ts
Labels: review-needed, approved

#4156 Fix invisible export to CSV button
  app/components/Tooltip/index.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
Labels: review-needed, bug-fix, small-fix
