Repository webkom/lego-webapp, pull requests merged in 2023-11, with the labels that each got.

#4182 Add registration activationTime to default EventItem card in eventlist
  app/components/EventItem/index.tsx
  app/routes/events/components/CalendarCell.tsx
Labels: review-needed, small-fix, new-feature

#4221 Add revue board to contact form
  app/routes/contact/ContactRoute.ts
  app/routes/contact/components/ContactForm.tsx
Labels: enhancement, approved

#4254 Change meeting color indicator on meeting list
  app/routes/meetings/components/MeetingList.tsx
Labels: review-needed, bug-fix, small-fix, approved

#4258 Use param instead of inconsistent variable for accordion expansion
  app/routes/pages/components/PageDetail.tsx
  app/routes/pages/components/PageHierarchy.tsx
  app/routes/pages/components/Sidebar.tsx
Labels: review-needed, bug-fix, approved

#4256 Make checkboxes focusable
  app/components/Form/CheckBox.css
  app/components/Form/CheckBox.tsx
  app/components/Form/RadioButton.css
  app/components/Form/RadioButton.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4255 Move Modal and ConfirmModal components into lego-bricks
  app/components/Modal/index.tsx
  app/components/Search/SearchBar.tsx
  app/components/Upload/ImageUpload.tsx
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserValidator/index.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/utils.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/events/components/Admin.tsx
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/users/components/Penalties.tsx
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/StudentConfirmation.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  cypress/e2e/create_meeting_spec.js
  cypress/e2e/poll_spec.js
  cypress/e2e/router_spec.js
  cypress/support/utils.js
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/Modal/ConfirmModal.module.css
  packages/lego-bricks/src/components/Modal/ConfirmModal.tsx
  packages/lego-bricks/src/components/Modal/Modal.module.css
  packages/lego-bricks/src/components/Modal/Modal.tsx
  packages/lego-bricks/src/components/Modal/index.ts
  packages/lego-bricks/src/index.ts
Labels: review-needed, approved, chore, lego-bricks

#4260 Move some lego-bricks' peer deps to be regular deps
  packages/lego-bricks/package.json
Labels: review-needed, small-fix, approved, lego-bricks

#4259 Refactor query parameter handling
  app/components/Table/index.tsx
  app/routes/admin/email/EmailListsRoute.ts
  app/routes/admin/email/EmailUsersRoute.ts
  app/routes/admin/email/components/EmailLists.tsx
  app/routes/admin/email/components/EmailRoute.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/articles/ArticleListRoute.ts
  app/routes/articles/components/Overview.tsx
  app/routes/events/components/EventList.tsx
  app/routes/joblistings/JoblistingRoute.ts
  app/routes/joblistings/components/JoblistingPage.tsx
  app/routes/joblistings/components/JoblistingRightNav.tsx
  app/routes/overview/components/CompactEvents.tsx
  app/routes/quotes/QuoteDetailRoute.ts
  app/routes/quotes/QuotesRoute.ts
  app/routes/quotes/components/QuotePage.tsx
  app/utils/__tests__/useQuery.spec.ts
  app/utils/useQuery.ts
Labels: review-needed

#4252 Implement marking events as foreign language as well as displaying
  app/models.ts
  app/routes/events/EventCreateRoute.ts
  app/routes/events/EventEditRoute.ts
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/utils.ts
  app/store/models/Event.d.ts
Labels: review-needed, new-feature, approved, changes-requested

#4263 Remove `react-collapse` and `react-stickynode`
  app/components/CollapsibleDisplayContent/CollapsibleDisplayContent.css
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/LatestReadme.tsx
  app/routes/photos/components/GalleryEditorActions.css
  app/routes/photos/components/GalleryEditorActions.tsx
  app/routes/photos/components/Overview.css
  package.json
  yarn.lock
Labels: enhancement, dependencies, review-needed, approved, technical-debt

#4261 Bump lego-editor to v2.3.1
  app/components/CollapsibleDisplayContent/CollapsibleDisplayContent.css
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/LatestReadme.tsx
  app/routes/photos/components/GalleryEditorActions.css
  app/routes/photos/components/GalleryEditorActions.tsx
  app/routes/photos/components/Overview.css
  cypress/e2e/create_event_spec.js
  cypress/e2e/event_editor_spec.js
  package.json
  yarn.lock
Labels: dependencies, review-needed, approved, chore

#4265 Fix event statistics not wrapping on mobile
  app/routes/events/components/EventAttendeeStatistics.css
Labels: review-needed, bug-fix, approved

#4266 Fix validation bug in CompanyEditor and improve types
  app/routes/bdb/components/CompanyEditor.tsx
  app/store/models/Article.d.ts
  app/store/models/Autocomplete.ts
  app/store/models/Company.ts
  app/store/models/Event.d.ts
  app/store/models/Gallery.d.ts
  app/store/models/Group.d.ts
  app/store/models/Meeting.d.ts
  app/store/models/Page.d.ts
  app/store/models/Tag.d.ts
  app/store/models/User.d.ts
Labels: priority:high, review-needed, bug-fix, approved

#4272 Make text editor input similar to other text inputs
  app/components/Form/TextEditor.css
  app/components/Form/TextInput.css
  app/routes/company/components/CompaniesPage.css
  app/routes/events/components/EventEditor/index.tsx
Labels: enhancement, review-needed, bug-fix

#4279 Fix sidebar position on mobile
  app/components/Content/ContentSection.css
  app/components/Content/ContentSection.tsx
  app/components/Content/ContentSidebar.css
Labels: review-needed

#4290 Fix create event typo and bug
  app/actions/EventActions.ts
  app/routes/events/components/EventEditor/index.tsx
Labels: review-needed

#4282 Ensure array query parameters are always parsed as arrays
  app/utils/__tests__/useQuery.spec.ts
  app/utils/useQuery.ts
Labels: review-needed

#4280 Fix misaligned "New" tag on joblisting items
  app/components/JoblistingItem/index.tsx
Labels: review-needed, bug-fix

#4262 Fix navbar dropdown visibility issue
  app/components/Header/Navbar/Navbar.tsx
Labels: review-needed, bug-fix, small-fix, approved

#4281 Fix bug where meeting icon in header does not appear after logging in
  app/routes/app/AppRoute.tsx
Labels: review-needed, bug-fix, small-fix

#4164 Analytics date filter
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/routes/events/components/EventAttendeeStatistics.css
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/meetings/MeetingDetailLoginRoute.ts
Labels: review-needed, new-feature

#4224 Reimplement createEntityReducer in the style of redux-toolkits createEntityAdapter
  app/actions/ActionTypes.ts
  app/models.ts
  app/reducers/__tests__/allowed.spec.ts
  app/reducers/__tests__/comments.spec.ts
  app/reducers/__tests__/reactions.spec.ts
  app/reducers/allowed.ts
  app/reducers/articles.ts
  app/reducers/comments.ts
  app/reducers/companies.ts
  app/reducers/events.ts
  app/reducers/galleryPictures.ts
  app/reducers/meetings.ts
  app/reducers/reactions.ts
  app/reducers/selectors.ts
  app/routes/articles/ArticleDetailRoute.ts
  app/routes/articles/ArticleEditRoute.ts
  app/store/models/Article.d.ts
  app/store/models/Comment.d.ts
  app/store/utils/contentTarget.ts
  app/types.ts
  app/utils/getEntityType.ts
  app/utils/legoAdapter/__tests__/asyncApiActions.spec.ts
  app/utils/legoAdapter/__tests__/buildActionGrantReducer.spec.ts
  app/utils/legoAdapter/__tests__/buildDeleteEntityReducer.spec.ts
  app/utils/legoAdapter/__tests__/buildEntitiesReducer.spec.ts
  app/utils/legoAdapter/__tests__/buildFetchingReducer.spec.ts
  app/utils/legoAdapter/__tests__/buildPaginationReducer.spec.ts
  app/utils/legoAdapter/__tests__/createLegoAdapter.spec.ts
  app/utils/legoAdapter/asyncApiActions.ts
  app/utils/legoAdapter/buildActionGrantReducer.ts
  app/utils/legoAdapter/buildDeleteEntityReducer.ts
  app/utils/legoAdapter/buildEntitiesReducer.ts
  app/utils/legoAdapter/buildFetchingReducer.ts
  app/utils/legoAdapter/buildPaginationReducer.ts
  app/utils/legoAdapter/createLegoAdapter.ts
Labels: future-was-2-years-ago, review-needed, testing-needed, technical-debt

#4311 Refactor group form and related routes
  app/actions/GroupActions.ts
  app/components/GroupForm/index.tsx
  app/reducers/selectors.ts
  app/routes/admin/groups/components/GroupForm/index.css
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/admin/groups/components/GroupSettings.tsx
  app/routes/admin/groups/components/GroupView.tsx
  app/routes/interestgroups/InterestGroupCreateRoute.ts
  app/routes/interestgroups/InterestGroupEditRoute.ts
  app/routes/interestgroups/components/InterestGroupCreate.tsx
  app/routes/interestgroups/components/InterestGroupEdit.tsx
  app/routes/interestgroups/index.tsx
Labels: review-needed

#4312 Allow location on TBA evnets
  app/routes/events/EventCreateRoute.ts
  app/routes/events/utils.ts
  cypress/e2e/create_event_spec.js
Labels: review-needed, bug-fix, approved

#4315 Make it possible to set a referent when creating a meeting
  app/routes/meetings/components/MeetingEditor.tsx
Labels: enhancement, review-needed, approved

#4318 Give correct feedback when uploading photo to gallery
  app/components/PhotoUploadStatus/index.tsx
Labels: review-needed, bug-fix, approved

#4331 Fix header alignment on frontpage
  app/routes/overview/components/CompactEvents.css
  app/styles/utilities.css
Labels: review-needed

#4332 Remove stripe fee from frontend
  app/models.ts
  app/routes/events/EventCreateRoute.ts
  app/routes/events/EventEditRoute.ts
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/utils.ts
Labels: review-needed

#4271 Individual reactions for meetings
  app/actions/ReactionActions.ts
  app/components/LegoReactions/index.tsx
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/ReactionPicker.tsx
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Reactions/index.tsx
  app/reducers/__tests__/reactions.spec.ts
  app/reducers/reactions.ts
  app/routes/meetings/components/MeetingDetail.tsx
  app/store/models/Reaction.d.ts
Labels: review-needed, new-feature, approved

#4105 Properly type actions
  app/actions/AnnouncementsActions.ts
  app/actions/ArticleActions.ts
  app/actions/CommentActions.ts
  app/actions/CompanyActions.ts
  app/actions/CompanyInterestActions.ts
  app/actions/ContactActions.ts
  app/actions/EventActions.ts
  app/actions/FileActions.ts
  app/actions/MeetingActions.ts
  app/actions/ReactionActions.ts
  app/actions/UserActions.ts
  app/actions/callAPI.ts
  app/components/CommentForm/index.tsx
  app/routes/announcements/components/AnnouncementItem.tsx
  app/routes/announcements/components/AnnouncementsList.css
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/userValidator/ValidatorRoute.tsx
  app/store/createStore.ts
  app/store/middleware/promiseMiddleware.ts
  app/store/models/File.d.ts
  app/store/models/Reaction.d.ts
  app/store/models/entities.ts
  app/types.ts
  app/utils/fetchJSON.ts
  app/utils/index.ts
  package.json
  yarn.lock
Labels: types, review-needed, technical-debt

#4341 Remove `timekeeper` dependency
  app/reducers/__tests__/announcements.spec.ts
  package.json
  yarn.lock
Labels: dependencies, review-needed, technical-debt

#4346 Re-add descendants
  app/actions/GroupActions.ts
Labels: review-needed, bug-fix

#4347 Bump react-prepare to v1.0.1
  package.json
  yarn.lock
Labels: review-needed

#4348 Refactor AppRoute and related components to use redux hooks
  app/Root.tsx
  app/actions/FeedActions.ts
  app/actions/GroupActions.ts
  app/actions/SearchActions.ts
  app/actions/UserActions.ts
  app/components/Footer/index.tsx
  app/components/Header/Navbar/Navbar.tsx
  app/components/Header/ToggleTheme.tsx
  app/components/Header/index.tsx
  app/components/HeaderNotifications/index.tsx
  app/components/Search/index.tsx
  app/reducers/frontpage.ts
  app/reducers/meetings.ts
  app/reducers/routing.ts
  app/render.tsx
  app/routes/app/AppRoute.tsx
  app/routes/contact/ContactRoute.ts
  app/routes/index.tsx
  app/store/createRootReducer.ts
  app/utils/joinReducers.ts
  app/utils/withPreparedDispatch.ts
  server/ssr.tsx
Labels: review-needed

#4349 Fix changing month of date selector in cypress
  cypress/support/utils.js
Labels: flawless, review-needed, bug-fix
