Repository webkom/lego-webapp, pull requests merged in 2023-05, with the labels that each got.

#3840 Implement Plausible analytics into event statistics
  app/actions/EventActions.ts
  app/components/Chart/PieChart.tsx
  app/reducers/events.ts
  app/routes/events/EventListRoute.ts
  app/routes/events/components/Event.css
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/routes/events/components/EventAttendeeStatistics.css
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/store/models/Event.d.ts
Labels: future-is-now, new-feature, approved

#3860 Add dummy Plausible api key to drone step
  .drone.yml
Labels: priority:high, bug-fix, approved

#3859 Delete unused Event Sidebar files
  app/components/Octagon/Octagon.css
  app/components/Octagon/index.tsx
  app/routes/overview/components/EventSidebar.css
  app/routes/overview/components/EventSidebar.tsx
Labels: approved, ready-to-merge, technical-debt

#3872 Fix frontpage not loading correctly after logging in
  app/routes/overview/IndexRoute.ts
Labels: review-needed, bug-fix, small-fix, approved

#3874 Bump lego editor from v2.1.0 to v2.2.0
  package.json
  yarn.lock
Labels: enhancement, dependencies, approved

#3873 Fix survey template picker
  app/components/Modal/ConfirmModal.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/components/surveys.css
  app/utils/validation.ts
Labels: do-not-merge/WIP, bug-fix, approved, testing-needed

#3875 Fix theme toggle button bugs
  app/components/Header/Header.css
  app/components/Header/ToggleTheme.tsx
Labels: bug-fix, approved

#3891 Fix bug where added reactions could not be removed before reloading
  app/reducers/__tests__/reactions.spec.ts
  app/reducers/reactions.ts
Labels: flawless, bug-fix, small-fix, approved

#3876 Refactor confirm modal
  app/components/Modal/ConfirmModal.tsx
  app/components/Modal/index.tsx
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserAttendance/AttendanceModalContent.css
  app/components/UserAttendance/AttendanceModalContent.md
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserAttendance/index.ts
  app/components/UserAttendance/withModal.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/utils.tsx
  app/routes/events/components/Admin.tsx
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/users/components/Penalties.tsx
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  cypress/e2e/create_meeting_spec.js
  cypress/e2e/event_visit_spec.js
Labels: types, review-needed, bug-fix, technical-debt, chore

#3900 Add support for dark theme source on images.
  app/components/Image/Image.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: small-fix, new-feature, approved

#3839 Move meeting end when setting start time after end
  app/routes/meetings/MeetingCreateRoute.ts
  app/routes/meetings/components/MeetingEditor.tsx
  cypress/e2e/create_meeting_spec.js
Labels: enhancement, approved

#3858 Fix error with changing chart type
  app/routes/surveys/components/Submissions/Results.tsx
Labels: question, review-needed, bug-fix, approved

#3902 Add useTheme-hook and rewrite stuff to function-components
  app/Root.tsx
  app/components/Comments/__tests__/CommentTree.spec.tsx
  app/components/Form/Captcha.tsx
  app/components/Header/FancyNodesCanvas.tsx
  app/components/Header/ToggleTheme.tsx
  app/components/Header/drawFancyNodes.ts
  app/components/Header/index.tsx
  app/components/Image/Image.tsx
  app/reducers/theme.ts
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/store/createRootReducer.ts
  app/utils/themeUtils.ts
  app/utils/themeUtils.tsx
  app/utils/usePrevious.ts
Labels: review-needed, small-fix, approved, chore

#3942 Replace react-hot-loader with react-refresh
  app/Root.tsx
  babel.config.js
  config/webpack.client.js
  config/webpack.server.js
  package.json
  yarn.lock
Labels: future-was-2-years-ago, review-needed, technical-debt
