Repository webkom/lego-webapp, pull requests merged in 2023-04, with the labels that each got.

#3739 add more padding to bottom of quicklinks
  app/components/Search/Search.css
Labels: enhancement, small-fix, approved

#3723 Extend Card component with a `danger` prop
  app/actions/GalleryPictureActions.ts
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/routes/events/components/Event.css
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
Labels: enhancement, approved, ready-to-merge, technical-debt

#3750 Make selectors feel more at home
  app/components/Form/Field.css
  app/components/Form/SelectInput.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/utils.tsx
  app/styles/variables.css
Labels: enhancement, review-needed, bug-fix

#3758 Recognize broken interest groups links as valid
  app/routes/index.tsx
  app/routes/interestgroups/index.tsx
Labels: bug-fix, small-fix, approved, ready-to-merge

#3756 Stop default card content from being flex aligned
  app/components/Card/index.tsx
Labels: bug-fix, small-fix, approved, ready-to-merge

#3693 Add average to survey results
  app/routes/surveys/components/Submissions/Results.tsx
  app/styles/variables.css
Labels: new-feature, approved

#3755 Align field labels appropriately
  app/components/Form/CheckBox.tsx
  app/components/Form/Field.css
  app/components/Form/Field.tsx
  app/components/Form/RadioButton.css
  app/components/Form/RadioButton.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/OptionsBox.css
  app/routes/bdb/components/OptionsBox.tsx
  app/routes/bdb/components/bdb.css
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: enhancement, bug-fix, approved, ready-to-merge

#3789 Render fields correctly on the server
  app/components/Form/CheckBox.tsx
  app/components/Form/Field.tsx
  app/components/Form/RadioButton.tsx
Labels: priority:high, bug-fix, approved, ready-to-merge

#3788 Replace pill in survey result with tag
  app/components/Tags/Tag.css
  app/components/Tags/Tag.tsx
  app/routes/surveys/components/Submissions/Results.tsx
  app/styles/variables.css
Labels: enhancement, bug-fix, approved, ready-to-merge

#3706 Div typescript improvements
  app/components/Form/LegoFinalForm.tsx
  app/components/LoginForm/LoginForm.tsx
  app/components/LoginForm/LoginPage.tsx
  app/components/RouteWrapper/index.tsx
  app/reducers/auth.ts
  app/reducers/events.ts
  app/routes/app/AppRoute.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/meetings/MeetingCreateRoute.ts
  app/routes/meetings/MeetingEditRoute.ts
  app/routes/users/UserConfirmationRoute.ts
  app/routes/users/UserProfileRoute.ts
  app/routes/users/UserSettingsRoute.ts
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettings.tsx
  app/routes/users/components/UserSettingsIndex.tsx
  app/routes/users/utils.ts
  app/utils/replaceUnlessLoggedIn.tsx
  app/utils/withPreparedDispatch.ts
  package.json
  yarn.lock
Labels: types, approved, technical-debt, chore

#3790 Refactor public frontpage
  app/components/AuthSection/AuthSection.css
  app/components/AuthSection/AuthSection.tsx
  app/components/Header/index.tsx
  app/components/LoginForm/LoginPage.tsx
  app/reducers/articles.ts
  app/reducers/frontpage.ts
  app/routes/articles/ArticleListRoute.ts
  app/routes/articles/components/Overview.tsx
  app/routes/overview/components/LatestReadme.tsx
  app/routes/overview/components/PublicFrontpage.css
  app/routes/overview/components/PublicFrontpage.tsx
Labels: approved, technical-debt, chore

#3791 Give our RadioButton a retouch
  app/components/Form/RadioButton.css
  app/components/Form/RadioButton.tsx
  app/routes/bdb/components/OptionsBox.tsx
  app/routes/joblistings/components/JoblistingRightNav.tsx
  app/routes/users/components/UserConfirmation.tsx
Labels: enhancement, approved

#3757 Support changing group roles in the membership table
  app/actions/ActionTypes.ts
  app/actions/GroupActions.ts
  app/components/GroupForm/index.tsx
  app/components/Table/index.tsx
  app/models.ts
  app/routes/admin/email/EmailListRoute.ts
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/admin/groups/components/GroupMembers.css
  app/routes/admin/groups/components/GroupMembers.tsx
  app/routes/admin/groups/components/GroupMembersList.css
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/admin/groups/components/GroupSettings.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
  app/store/models/Membership.d.ts
  app/store/models/PastMembership.d.ts
  app/store/models/User.d.ts
  app/utils/constants.ts
Labels: enhancement, discussion, types, new-feature, approved, ready-to-merge

#3792 Stop gallery modal from overflowing on mobile
  app/routes/photos/components/GalleryPictureModal.css
Labels: bug-fix, approved

#3794 Fix readme sizing on public frontpage
  app/routes/overview/components/LatestReadme.tsx
  app/routes/overview/components/PublicFrontpage.css
  app/routes/overview/components/PublicFrontpage.tsx
Labels: flawless, bug-fix, approved

#3795 Type and rewrite components as function-components
  app/actions/ArticleActions.ts
  app/actions/MeetingActions.ts
  app/actions/ReactionActions.ts
  app/components/Comments/Comment.tsx
  app/components/Comments/CommentTree.tsx
  app/components/Comments/CommentView.tsx
  app/components/LegoReactions/index.tsx
  app/components/RandomQuote/RandomQuote.tsx
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/ReactionPicker.tsx
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Reactions/ReactionPickerHeader.tsx
  app/components/Reactions/index.tsx
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserAttendance/withModal.tsx
  app/reducers/__tests__/meetingsToken.spec.ts
  app/reducers/articles.ts
  app/reducers/companies.ts
  app/reducers/emojis.ts
  app/reducers/index.ts
  app/reducers/meetingInvitations.ts
  app/reducers/meetings.ts
  app/reducers/meetingsToken.ts
  app/reducers/quotes.ts
  app/reducers/reactions.ts
  app/routes/app/AppRoute.tsx
  app/routes/articles/ArticleCreateRoute.ts
  app/routes/articles/ArticleDetailRoute.ts
  app/routes/articles/ArticleListRoute.ts
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/meetings/MeetingDetailLoginRoute.ts
  app/routes/meetings/MeetingDetailRoute.tsx
  app/routes/meetings/MeetingEditRoute.ts
  app/routes/meetings/MeetingListRoute.ts
  app/routes/meetings/components/MeetingAnswer.tsx
  app/routes/meetings/components/MeetingDetail.css
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.css
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/meetings/components/MeetingList.css
  app/routes/meetings/components/MeetingList.tsx
  app/routes/meetings/components/Toolbar.css
  app/routes/meetings/components/Toolbar.tsx
  app/routes/quotes/components/AddQuote.tsx
  app/routes/quotes/components/Quote.tsx
  app/routes/quotes/components/QuoteList.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/store/createRootReducer.ts
  app/store/models/Article.d.ts
  app/store/models/Meeting.d.ts
  app/store/models/MeetingInvitation.ts
  app/store/models/User.d.ts
  app/utils/getEntityType.ts
Labels: types, review-needed, approved, technical-debt, chore

#3793 Improve the useful links on the public frontpage
  app/assets/frontpage-graphic-buddyweek.png
  app/assets/frontpage-graphic-data.png
  app/assets/frontpage-graphic-for-companies.png
  app/assets/frontpage-graphic-komtek.png
  app/assets/frontpage-graphic-readme.png
  app/components/Button/Button.css
  app/components/Button/index.tsx
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/routes/overview/components/PublicFrontpage.css
  app/routes/overview/components/PublicFrontpage.tsx
Labels: enhancement, new-feature, approved, ready-to-merge

#3803 Fix crash on event administrate page
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/index.tsx
Labels: priority:high, bug-fix, approved

#3804 Update react-meter-bar to v2
  app/routes/users/components/PasswordStrengthMeter.tsx
  package.json
  yarn.lock
Labels: types, dependencies, small-fix, approved, chore

#3711 Add slugs to events
  app/reducers/events.ts
  app/routes/events/EventDetailRoute.ts
  app/routes/events/EventEditRoute.ts
  app/routes/events/index.tsx
Labels: review-needed, new-feature, approved, do-not-merge/hold

#3812 Add tooltip explaining anonymous attendees events
  app/components/UserAttendance/AttendanceStatus.tsx
Labels: review-needed

#3816 Fix big readme style on public frontpage
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Overview.tsx
Labels: bug-fix, approved

#3817 Temporarily disable event slug rerouting
  app/routes/events/EventDetailRoute.ts
Labels: priority:high, review-needed, bug-fix, small-fix

#3825 Fix crash on survey results page
  app/routes/surveys/SubmissionsRoute.ts
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/Submissions/SubmissionPage.tsx
  app/routes/surveys/index.tsx
Labels: types, priority:high, bug-fix, small-fix, approved, ready-to-merge

#3826 Link to arrangementskalender page from checkbox
  app/routes/events/components/EventEditor/index.tsx
Labels: enhancement, small-fix, approved, ready-to-merge

#3814 Improve typing on createEntityReducer.
  app/actions/SurveyActions.ts
  app/actions/UserActions.ts
  app/actions/callAPI.ts
  app/models.ts
  app/reducers/allowed.ts
  app/reducers/articles.ts
  app/reducers/comments.ts
  app/reducers/events.ts
  app/reducers/quotes.ts
  app/reducers/reactions.ts
  app/reducers/routing.ts
  app/reducers/surveys.ts
  app/routes/events/utils.ts
  app/routes/surveys/AddSurveyRoute.ts
  app/routes/surveys/SurveyRoute.ts
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/users/components/ChangePassword.tsx
  app/routes/users/utils.ts
  app/store/createRootReducer.ts
  app/store/models/Comment.d.ts
  app/store/models/Survey.d.ts
  app/store/models/SurveyQuestion.ts
  app/store/models/User.d.ts
  app/types.ts
  app/utils/__tests__/createEntityReducer.spec.ts
  app/utils/asyncValidator.ts
  app/utils/constants.ts
  app/utils/createEntityReducer.ts
  app/utils/createMonthlyCalendar.ts
  app/utils/fetchJSON.ts
  app/utils/index.ts
  app/utils/joinReducers.ts
  app/utils/loadingIndicator.tsx
  app/utils/validation.ts
  package.json
  tsconfig.json
Labels: types, review-needed, approved

#3827 Align checkbox and radio buttons with labels on surveys
  app/routes/surveys/AddSurveyRoute.ts
  app/routes/surveys/SubmissionsRoute.ts
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/StaticSubmission.tsx
  app/routes/surveys/components/Submissions/SubmissionPage.tsx
  app/routes/surveys/components/Submissions/SubmissionSummary.tsx
  app/routes/surveys/components/SurveyDetail.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/components/surveys.css
  app/routes/surveys/utils.tsx
Labels: types, bug-fix, approved, ready-to-merge, technical-debt

#3828 Extend Icon component with more props
  app/components/EventItem/index.tsx
  app/components/Icon/Icon.css
  app/components/Icon/index.tsx
  app/components/Upload/ImageUpload.tsx
  app/components/Upload/UploadImage.css
  app/components/UserValidator/Validator.css
  app/components/UserValidator/index.tsx
  app/routes/admin/groups/components/GroupMembersList.css
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/users/components/UserSettingsOAuth2.css
  app/routes/users/components/UserSettingsOAuth2.tsx
Labels: enhancement, approved, technical-debt
