Repository webkom/lego-webapp, pull requests merged in 2023-12, with the labels that each got.

#4353 Fix weird overflow on auth dropdown
  app/components/AuthSection/AuthSection.css
  app/components/AuthSection/AuthSection.tsx
Labels: enhancement, bug-fix, approved, ready-to-merge

#4363 Refactor /pages to support `react-router` v6
  app/actions/PageActions.ts
  app/components/Form/ObjectPermissions.tsx
  app/reducers/search.ts
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/pages/PageCreateRoute.ts
  app/routes/pages/PageDetailRoute.ts
  app/routes/pages/PageEditRoute.ts
  app/routes/pages/components/PageButtons.css
  app/routes/pages/components/PageButtons.tsx
  app/routes/pages/components/PageDetail.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/pages/components/PageHierarchy.tsx
  app/routes/pages/components/Sidebar.tsx
  app/routes/pages/index.tsx
Labels: review-needed, approved, technical-debt, chore

#4364 Update Netcompany logos
  app/assets/netcompany_dark.png
  app/assets/netcompany_dark.svg
  app/assets/netcompany_white.svg
  app/routes/overview/components/PublicFrontpage.tsx
Labels: flawless, review-needed, approved

#4366 Refactor overview to support `react-router` v6
  app/components/LegoReactions/index.tsx
  app/components/RandomQuote/RandomQuote.tsx
  app/components/RandomQuote/index.tsx
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/ReactionPicker.tsx
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Reactions/index.tsx
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/index.tsx
  app/routes/meetings/MeetingDetailRoute.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/overview/IndexRoute.ts
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
  app/routes/overview/index.ts
  app/routes/quotes/components/AddQuote.tsx
Labels: review-needed, technical-debt, chore

#4368 Refactor misc routes to support `react-router` v6
  app/actions/PollActions.ts
  app/routes/admin/email/components/RestrictedMails.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/announcements/components/AnnouncementsList.tsx
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/company/components/CompaniesPage.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/interestgroups/components/InterestGroupList.tsx
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingPage.tsx
  app/routes/polls/components/PollDetail.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/polls/components/PollsList.tsx
  app/routes/polls/index.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/tags/components/TagCloud.tsx
  app/store/models/Poll.d.ts
Labels: types, review-needed, bug-fix, technical-debt, chore

#4369 Refactor /meetings to support `react-router` v6
  app/actions/GroupActions.ts
  app/actions/MeetingActions.ts
  app/components/Header/index.tsx
  app/components/Tags/Tag.tsx
  app/reducers/meetingInvitations.ts
  app/routes/meetings/MeetingCreateRoute.ts
  app/routes/meetings/MeetingDetailLoginRoute.ts
  app/routes/meetings/MeetingDetailRoute.tsx
  app/routes/meetings/MeetingDetailWrapper.tsx
  app/routes/meetings/MeetingEditRoute.ts
  app/routes/meetings/MeetingListRoute.ts
  app/routes/meetings/components/MeetingAnswer.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/meetings/components/MeetingList.tsx
  app/routes/meetings/index.tsx
Labels: enhancement, types, review-needed, bug-fix, technical-debt, chore

#4367 Refactor /photos to support `react-router` v6
  app/actions/GalleryActions.ts
  app/actions/GalleryPictureActions.ts
  app/components/CommentForm/index.tsx
  app/components/Comments/Comment.tsx
  app/components/Comments/CommentTree.tsx
  app/components/Comments/CommentView.tsx
  app/components/Gallery/index.tsx
  app/reducers/search.ts
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/photos/GalleryCreateRoute.ts
  app/routes/photos/GalleryDetailRoute.tsx
  app/routes/photos/GalleryEditRoute.ts
  app/routes/photos/GalleryListRoute.ts
  app/routes/photos/GalleryPictureEditRoute.ts
  app/routes/photos/GalleryPictureRoute.ts
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryDetailsRow.css
  app/routes/photos/components/GalleryDetailsRow.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/photos/components/Overview.tsx
  app/routes/photos/index.tsx
  app/store/models/Gallery.d.ts
Labels: enhancement, types, review-needed, bug-fix, technical-debt, chore

#4371 Refactor /bdb to support `react-router` v6
  app/actions/CompanyActions.ts
  app/components/Form/ImageUploadField.tsx
  app/reducers/companies.ts
  app/routes/bdb/AddCompanyContactRoute.ts
  app/routes/bdb/AddCompanyRoute.ts
  app/routes/bdb/AddSemesterRoute.ts
  app/routes/bdb/BdbDetailRoute.ts
  app/routes/bdb/BdbRoute.ts
  app/routes/bdb/EditCompanyContactRoute.ts
  app/routes/bdb/EditCompanyRoute.ts
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/CompanyContactEditor.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/bdb/index.tsx
  app/routes/bdb/utils.tsx
  app/routes/company/components/CompanyDetail.tsx
Labels: enhancement, types, review-needed, bug-fix, technical-debt, chore

#4370 Employ the correct SelectInput everywhere
  app/components/Form/SelectInput.tsx
  app/components/Tooltip/index.tsx
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/events/components/EventList.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/surveys/components/Submissions/Results.tsx
  app/routes/users/components/GroupChange.tsx
  app/routes/users/components/PhotoConsents.tsx
Labels: review-needed, bug-fix, approved

#4374 Fix incorrect tooltip for reactions
  app/components/LegoReactions/index.tsx
  app/components/Reactions/Reaction.tsx
  app/routes/meetings/components/MeetingDetail.tsx
Labels: review-needed, bug-fix, approved

#4378 Fix pagination loading endlessly when there's nothing left to load
  app/actions/callAPI.ts
Labels: review-needed, bug-fix, approved
