Repository webkom/lego-webapp, pull requests merged in 2023-01, with the labels that each got.

#3398 Update license to 2023
  LICENSE
Labels: flawless, small-fix, ready-to-merge

#3408 Introduce a `.git-blame-ignore-revs` file
  .git-blame-ignore-revs
Labels: enhancement, flawless, review-needed, small-fix

#3407 Improve the table component
  app/components/Button/Button.css
  app/components/Chart/utils.tsx
  app/components/Dropdown/Dropdown.css
  app/components/Form/DatePicker.css
  app/components/Header/toggleTheme.css
  app/components/NavigationTab/NavigationLink.css
  app/components/PhotoUploadStatus/PhotoUploadStatus.css
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/components/Search/Search.css
  app/components/Table/Table.css
  app/components/Table/index.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/polls/components/PollsList.tsx
  app/routes/surveys/components/surveys.css
  app/routes/users/components/UserSettingsNotifications.css
  app/styles/globals.css
  app/styles/variables.css
Labels: enhancement, approved, ready-to-merge

#3386 Fix some TypeScript types
  .eslintrc.js
  app/components/EmptyState/index.tsx
  app/components/ErrorBoundary/index.tsx
  app/components/EventItem/index.tsx
  app/components/Feed/activity.tsx
  app/components/Feed/context.tsx
  app/components/Feed/index.tsx
  app/components/FlexBox/index.tsx
  app/components/Form/Field.tsx
  app/components/Form/RadioButtonGroup.tsx
  app/components/Form/TextArea.tsx
  app/components/Gallery/index.tsx
  app/components/Header/ToggleTheme.tsx
  app/components/InfoBubble/index.tsx
  app/components/InfoList/index.tsx
  app/components/Layout/Container.tsx
  app/components/Layout/Padder.tsx
  app/components/Modal/ConfirmModal.tsx
  app/components/Modal/index.tsx
  app/components/NavigationTab/NavigationLink.tsx
  app/components/NavigationTab/index.tsx
  app/components/Octagon/index.tsx
  app/components/Paginator/index.tsx
  app/components/Popover/index.tsx
  app/components/ResolveLink.tsx
  app/components/SpecialDay/AprilFools/index.tsx
  app/components/Tags/index.tsx
  app/components/Tooltip/index.tsx
  app/reducers/pages.ts
  app/routes/admin/OverviewRoute.tsx
  app/routes/admin/email/components/EmailRoute.tsx
  app/routes/app/AppRoute.tsx
  app/routes/bdb/utils.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/utils.tsx
  app/routes/events/components/JoinEventFormCountdownProvider.tsx
  app/routes/overview/components/Carousel.tsx
  app/routes/pages/PageDetailRoute.ts
  app/routes/pages/components/LandingPage.tsx
  app/routes/pages/components/PageDetail.tsx
  app/routes/pages/components/PageHierarchy.tsx
  app/routes/pages/components/Sidebar.tsx
  app/routes/pages/components/subcomponents/TextWithTitle/index.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/utils.tsx
  package.json
Labels: types, review-needed, changes-requested

#3433 Fix delete prikk modal close on confirm/cancel
  app/routes/users/components/Penalties.tsx
Labels: bug-fix, small-fix, approved, ready-to-merge

#3416 Improve all modals
  app/components/Modal/ConfirmModal.css
  app/components/Modal/ConfirmModal.tsx
  app/components/Modal/Modal.css
  app/components/Modal/index.tsx
  app/components/NavigationTab/index.tsx
  app/components/Upload/ImageUpload.tsx
  app/components/Upload/UploadImage.css
  app/components/UserAttendance/AttendanceModal.css
  app/components/UserAttendance/AttendanceModal.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/interestgroups/components/InterestGroupMemberList.css
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryDetailsRow.tsx
  app/routes/photos/components/GalleryPictureModal.css
  app/routes/photos/components/GalleryPictureModal.tsx
  app/styles/variables.css
Labels: enhancement, discussion, new-feature, approved, ready-to-merge

#3435 Clean up tables
  app/components/Modal/Modal.css
  app/components/Table/Table.css
  app/routes/users/UserSettingsOAuth2Route.ts
  app/routes/users/components/UserSettingsOAuth2.css
  app/routes/users/components/UserSettingsOAuth2.tsx
  app/routes/users/components/UserSettingsOAuth2Form.tsx
Labels: enhancement, bug-fix, approved

#3280 Standardize a pull requests template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: discussion, new-feature, approved, ready-to-merge, docs

#3454 Make table CSS more specific
  app/routes/users/components/UserSettingsNotifications.css
Labels: priority:high, bug-fix, small-fix, approved, ready-to-merge

#3453 Handle outside clicks properly on reactions modal
  app/components/Reactions/index.tsx
Labels: priority:high, review-needed, bug-fix, small-fix

#3455 Exclude build branch from CI steps
  .drone.yml
Labels: enhancement, small-fix, approved, ready-to-merge

#3457 Deep copy activationTimeMoment to prevent wrong displaytime
  app/routes/events/components/EventDetail/index.tsx
Labels: priority:high, bug-fix, approved

#3449 Rewrite overview to functional component & refactor
  app/components/Layout/Flex.tsx
  app/components/Poll/index.tsx
  app/components/RandomQuote/RandomQuote.css
  app/components/RandomQuote/RandomQuote.tsx
  app/models.ts
  app/reducers/events.ts
  app/reducers/frontpage.ts
  app/routes/overview/components/EventItem.tsx
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/utils.tsx
  package.json
Labels: enhancement, approved

#3467 Standardize animations
  app/components/Button/Button.css
  app/components/Content/Content.css
  app/components/Footer/Footer.css
  app/components/Form/CheckBox.css
  app/components/Form/RadioButton.css
  app/components/Form/TextInput.css
  app/components/Header/Header.css
  app/components/HeaderNotifications/HeaderNotifications.css
  app/components/Image/Image.css
  app/components/Modal/Modal.css
  app/components/NavigationTab/NavigationLink.css
  app/components/NavigationTab/NavigationTab.css
  app/components/Reactions/Reaction.css
  app/components/Reactions/ReactionPickerContent.css
  app/components/Search/Search.css
  app/components/Tags/Tag.css
  app/components/UserValidator/Validator.css
  app/routes/admin/groups/components/GroupTree.css
  app/routes/articles/components/Overview.css
  app/routes/bdb/components/bdb.css
  app/routes/events/components/Stripe.css
  app/routes/events/components/Toolbar.css
  app/routes/joblistings/components/JoblistingList.css
  app/routes/joblistings/components/JoblistingRightNav.css
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/Overview.css
  app/routes/photos/components/Overview.css
  app/routes/users/components/UserSettingsOAuth2.css
  app/styles/globals.css
  app/styles/overlay.css
  app/styles/variables.css
Labels: enhancement, small-fix, approved, ready-to-merge

#3471 Change meeting icon from calendar to people
  app/components/Header/index.tsx
Labels: enhancement, small-fix, approved

#3478 Correct the registration info status on the pills
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
Labels: priority:high, bug-fix, small-fix, approved, ready-to-merge

#3283 Implement new event components for upcoming events on profile page.
  app/components/EventItem/index.tsx
  app/components/EventItem/styles.css
  app/routes/users/components/UserProfile.tsx
  app/utils/eventStatus.ts
Labels: enhancement, review-needed, approved

#3278 Fix Tag Links On "Festet Oppslag"
  app/routes/overview/components/utils.tsx
Labels: review-needed

#3485 Privacy not go brr haha
  app/components/Footer/index.tsx
Labels: review-needed

#3486 Fix bug where questionType selection does not work
  app/routes/surveys/components/SurveyEditor/Question.tsx
Labels: bug-fix, approved, ready-to-merge

#3487 Introduce the Inter font
  app/assets/fonts/Raleway-Bold.ttf
  app/components/Footer/Footer.css
  app/components/Header/Header.css
  app/components/Header/index.tsx
  app/components/NavigationTab/NavigationTab.css
  app/components/RandomQuote/RandomQuote.css
  app/components/RandomQuote/RandomQuote.tsx
  app/components/Search/Search.css
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/announcements/components/AnnouncementsList.css
  app/routes/announcements/components/AnnouncementsList.tsx
  app/routes/articles/components/Overview.css
  app/routes/company/components/CompaniesPage.css
  app/routes/company/components/CompaniesPage.tsx
  app/routes/company/components/Company.css
  app/routes/events/components/Event.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventList.css
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/Toolbar.css
  app/routes/joblistings/components/JoblistingList.css
  app/routes/joblistings/components/JoblistingRightNav.css
  app/routes/meetings/components/MeetingEditor.css
  app/routes/overview/components/CompactEvents.tsx
  app/routes/overview/components/EventItem.css
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Pinned.css
  app/routes/pages/components/LandingPage.css
  app/routes/pages/components/PageDetail.css
  app/routes/pages/components/PageHierarchy.css
  app/routes/pages/components/Sidebar.css
  app/routes/pages/components/Sidebar.tsx
  app/routes/pages/components/subcomponents/DisplayVision/DisplayVision.css
  app/routes/pages/components/subcomponents/Statistic/Statistic.css
  app/routes/pages/components/subcomponents/TextWithTitle/TextWithTitle.css
  app/routes/pages/components/subcomponents/Vision/Vision.css
  app/styles/globals.css
  app/styles/icomoon.css
  app/styles/utilities.css
  app/styles/variables.css
  cypress/e2e/home_page_spec.js
  server/pageRenderer.ts
Labels: enhancement, future-is-now, approved, ready-to-merge

#3470 Improve styling of the calendar
  app/routes/events/components/Calendar.css
  app/routes/events/components/Calendar.tsx
  app/routes/events/components/CalendarCell.tsx
  app/routes/events/utils.ts
  app/utils/createMonthlyCalendar.ts
Labels: enhancement, approved

#3496 Fix HMR due to replaceUnlessLoggedIn using class
  app/utils/replaceUnlessLoggedIn.tsx
Labels: priority:high, bug-fix, approved

#3488 Enhance the Card component
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/components/Footer/index.tsx
  app/components/Header/toggleTheme.css
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/components/RandomQuote/RandomQuote.css
  app/components/RandomQuote/RandomQuote.tsx
  app/reducers/quotes.ts
  app/routes/overview/components/ArticleItem.css
  app/routes/overview/components/ArticleItem.tsx
  app/routes/overview/components/EventItem.css
  app/routes/overview/components/EventItem.tsx
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/LatestReadme.tsx
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/Pinned.css
  app/routes/overview/components/Pinned.tsx
  app/routes/overview/components/utils.tsx
  app/routes/polls/components/PollsList.css
  app/routes/polls/components/PollsList.tsx
  app/routes/quotes/components/AddQuote.tsx
  app/routes/quotes/components/Quote.tsx
  app/routes/quotes/components/Quotes.css
  app/routes/users/components/UserProfile.css
  app/styles/variables.css
Labels: enhancement, future-is-now, review-needed, approved
