Repository webkom/lego-webapp, pull requests merged in 2023-02, with the labels that each got.

#3504 Fix Helmet for Server Side Rendering
  server/pageRenderer.ts
  server/ssr.tsx
Labels: review-needed

#3468 Fix Event Statistics Overflow Issues
  app/components/Chart/Chart.css
  app/components/Chart/ChartLabel.tsx
  app/components/Chart/PieChart.tsx
  app/routes/events/components/Event.css
  app/routes/events/components/EventAttendeeStatistics.tsx
Labels: enhancement, bug-fix, approved, changes-requested, ready-to-merge

#3505 Retouch the look of reactions
  app/components/Reactions/Reaction.css
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/ReactionPicker.css
  app/components/Reactions/ReactionPicker.tsx
  app/components/Reactions/ReactionPickerCategory.css
  app/components/Reactions/ReactionPickerCategory.tsx
  app/components/Reactions/ReactionPickerContent.css
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Reactions/ReactionPickerFooter.css
  app/components/Reactions/ReactionPickerFooter.tsx
  app/components/Reactions/ReactionPickerHeader.css
  app/components/Reactions/ReactionPickerHeader.tsx
  app/components/Reactions/assets/AddReactionEmoji.css
  app/components/Reactions/assets/AddReactionEmoji.tsx
  app/components/Reactions/index.css
  app/components/Reactions/index.tsx
Labels: enhancement, bug-fix, approved

#3516 Iterate on the recent Card changes
  app/components/Banner/Banner.css
  app/components/Banner/index.tsx
  app/components/HeaderNotifications/HeaderNotifications.css
  app/styles/overlay.css
Labels: enhancement, small-fix, approved

#3517 EventAdministrate design improvements
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/EventAdministrate/index.tsx
Labels: enhancement, small-fix, approved

#3519 Fix alignment of left/right overview columns
  app/routes/overview/components/CompactEvents.css
  app/routes/overview/components/Overview.tsx
  app/styles/utilities.css
Labels: review-needed

#3520 Fix dropdown overflow & add border to reactionpick
  app/components/Image/ProfilePicture.tsx
  app/components/Reactions/ReactionPicker.css
  app/styles/overlay.css
  app/styles/utilities.css
Labels: review-needed, bug-fix, approved

#3523 Add Collapse Animation To LatestReadme
  app/routes/overview/components/LatestReadme.tsx
  app/routes/overview/components/Overview.tsx
Labels: enhancement, small-fix, approved

#3524 Improve VisKart button
  app/assets/mazemap.png
  app/components/Content/ContentHeader.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
Labels: review-needed, small-fix

#3526 Fix navigation through back-links and cancel buttons
  app/routes/announcements/components/AnnouncementsList.tsx
  app/routes/articles/ArticleCreateRoute.ts
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/events/components/EventFooter.tsx
  app/routes/interestgroups/components/InterestGroupList.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  cypress/e2e/router_spec.js
Labels: enhancement, bug-fix, small-fix, approved

#3532 Add admin info about how many unregistered has paid
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
Labels: new-feature, approved

#3279 Remove redux cache
  app/actions/ActionTypes.ts
  app/actions/CompanyInterestActions.ts
  app/actions/EmailListActions.ts
  app/actions/EmailUserActions.ts
  app/actions/EventActions.ts
  app/actions/GalleryActions.ts
  app/actions/GalleryPictureActions.ts
  app/actions/GroupActions.ts
  app/actions/JoblistingActions.ts
  app/actions/MeetingActions.ts
  app/actions/MetaActions.ts
  app/actions/QuoteActions.ts
  app/actions/UserActions.ts
  app/actions/callAPI.ts
  app/reducers/__tests__/fetchHistory.spec.ts
  app/reducers/fetchHistory.ts
  app/store/createRootReducer.ts
  app/utils/__tests__/getCachedRequest.spec.ts
  app/utils/createEntityReducer.ts
  app/utils/getCachedRequest.ts
Labels: discussion, review-needed, approved

#3531 Increase size of modal on smaller screens
  app/components/Modal/Modal.css
  app/components/UserAttendance/AttendanceModal.css
  app/routes/photos/components/GalleryPictureModal.css
  app/styles/variables.css
Labels: review-needed, bug-fix, approved

#3537 Fix sidebar background color
  app/routes/pages/components/PageDetail.css
  app/routes/pages/components/Sidebar.css
  fa
Labels: bug-fix, small-fix, approved

#3538 Improve our red color palette
  app/components/Banner/Banner.css
  app/components/Button/Button.css
  app/components/Chart/utils.tsx
  app/components/DividerWithDots/DividerWithDots.css
  app/components/ErrorBoundary/ErrorBoundary.css
  app/components/Footer/Footer.css
  app/components/Form/CheckBox.css
  app/components/Gallery/Gallery.css
  app/components/Header/Header.css
  app/components/Modal/ConfirmModal.css
  app/components/Modal/Modal.css
  app/components/NavigationTab/NavigationLink.css
  app/components/Poll/Poll.css
  app/components/Reactions/Reaction.css
  app/components/Search/Search.css
  app/components/SpecialDay/AprilFools/LoadingBox.css
  app/components/Table/Table.css
  app/components/Upload/UploadImage.css
  app/components/UserAttendance/AttendanceModal.css
  app/routes/app/AppRoute.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/company/components/CompaniesPage.css
  app/routes/events/components/Calendar.css
  app/routes/events/components/Event.css
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/Stripe.css
  app/routes/events/components/StripeElement.tsx
  app/routes/joblistings/components/JoblistingList.css
  app/routes/meetings/components/MeetingList.tsx
  app/routes/pages/components/LandingPage.css
  app/routes/pages/components/PageDetail.css
  app/routes/pages/components/Sidebar.css
  app/routes/pages/components/subcomponents/DisplayVision/DisplayVision.css
  app/routes/pages/components/subcomponents/DisplayVision/index.tsx
  app/routes/pages/components/subcomponents/Vision/Vision.css
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryEditorActions.tsx
  app/routes/photos/components/Overview.css
  app/routes/quotes/components/Quotes.css
  app/routes/surveys/components/SubmissionEditor/SubmissionEditor.tsx
  app/routes/surveys/components/SurveyDetail.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
  app/routes/surveys/components/surveys.css
  app/routes/users/components/UserSettings.css
  app/routes/users/components/UserSettingsOAuth2.css
  app/styles/globals.css
  app/styles/variables.css
Labels: enhancement, approved, chore

#3549 Fix article editor submit function
  app/routes/articles/components/ArticleEditor.tsx
Labels: flawless, bug-fix, small-fix, approved

#3541 Fix event following bug by fetching follow-status through event object
  app/actions/EventActions.ts
  app/models.ts
  app/reducers/__tests__/events.spec.ts
  app/reducers/events.ts
  app/routes/events/EventDetailRoute.ts
  app/routes/events/components/EventDetail/index.tsx
  app/store/models/Event.d.ts
Labels: bug-fix, approved

#3550 Only show loading indicator when necesarry
  app/routes/events/EventListRoute.ts
  app/routes/events/components/EventList.tsx
Labels: bug-fix, small-fix, approved, ready-to-merge

#3542 Add helmet og properties to joblistings
  app/routes/joblistings/JoblistingDetailedRoute.ts
Labels: enhancement, small-fix, approved, ready-to-merge

#3552 Improve /companies page
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/routes/company/components/CompaniesPage.css
  app/routes/company/components/CompaniesPage.tsx
  app/routes/overview/components/EventItem.tsx
  app/routes/overview/components/Pinned.tsx
  app/routes/polls/components/PollsList.tsx
Labels: enhancement, bug-fix, small-fix, approved, ready-to-merge

#3557 Fix chart colors
  app/components/Chart/BarChart.tsx
  app/components/Chart/PieChart.tsx
  app/routes/surveys/components/Submissions/Results.tsx
Labels: bug-fix, approved

#3556 Standardize our shadows
  app/components/Button/Button.css
  app/components/Card/Card.css
  app/components/CommentForm/CommentForm.css
  app/components/Comments/Comment.css
  app/components/Form/PhoneNumberInput.css
  app/components/Modal/Modal.css
  app/components/PhotoUploadStatus/PhotoUploadStatus.css
  app/routes/events/components/Event.css
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/Stripe.css
  app/routes/overview/components/Feed.css
  app/routes/pages/components/Sidebar.css
  app/styles/utilities.css
  app/styles/variables.css
Labels: enhancement, small-fix, approved, ready-to-merge, chore

#3540 Rewrite CompanyDetail to make it look more like the webapp
  app/components/EventListCompact/EventListCompact.css
  app/components/EventListCompact/index.tsx
  app/components/JoblistingItem/Items.tsx
  app/components/JoblistingItem/JoblistingItem.css
  app/components/JoblistingItem/index.tsx
  app/routes/company/CompanyDetailRoute.ts
  app/routes/company/components/Company.css
  app/routes/company/components/CompanyDetail.tsx
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingList.css
  app/routes/joblistings/components/JoblistingList.tsx
  app/routes/joblistings/components/JoblistingRightNav.tsx
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.tsx
Labels: enhancement, approved, ready-to-merge

#3553 Improve page sidebar layout and design
  app/routes/pages/components/PageHierarchy.css
  app/routes/pages/components/PageHierarchy.tsx
  app/routes/pages/components/Sidebar.css
  app/routes/pages/components/Sidebar.tsx
  app/styles/variables.css
Labels: enhancement, review-needed

#3567 Expand sidebar element based on pathname
  app/routes/pages/PageDetailRoute.ts
  app/routes/pages/components/PageHierarchy.tsx
  app/routes/pages/components/Sidebar.tsx
Labels: bug-fix, approved

#3555 Include waiting list to summary pool tab
  app/components/UserAttendance/AttendanceModal.css
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserAttendance/withModal.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/meetings/components/MeetingDetail.tsx
Labels: enhancement, approved, chore

#3575 Remove unnecessary file
  fa
Labels: small-fix, approved

#3585 Fix cypress tests failing for event_visit_spec
  cypress/e2e/event_visit_spec.js
Labels: priority:high, review-needed, bug-fix

#3573 Validate user allergy input
  app/routes/users/components/UserSettings.tsx
  app/utils/validation.ts
Labels: small-fix, approved

#3572 Stop latest readme card from expanding during fetch
  app/routes/overview/IndexRoute.ts
  app/routes/overview/components/Overview.tsx
Labels: review-needed, bug-fix, approved, ready-to-merge

#3587 Show registration count on event cards
  app/utils/eventStatus.ts
Labels: review-needed, bug-fix, small-fix

#3577 Sort incomingEvents on user page
  app/routes/users/components/UserProfile.tsx
Labels: enhancement, priority:high, review-needed, small-fix, do-not-merge/hold

#3588 Small fixes on infopage design
  app/routes/pages/components/LandingPage.css
  app/routes/pages/components/LandingPage.tsx
  app/routes/pages/components/PageDetail.css
  app/routes/pages/components/subcomponents/EmailItem/EmailItem.css
  app/routes/pages/components/subcomponents/TextWithTitle/TextWithTitle.css
  app/routes/pages/components/subcomponents/TextWithTitle/index.tsx
Labels: enhancement, bug-fix, approved

#3593 Stop arrow icons from disappearing on Safari
  app/routes/pages/components/PageHierarchy.css
  app/routes/pages/components/PageHierarchy.tsx
Labels: bug-fix, approved, ready-to-merge

#3592 Fix type typo in (un)follow events
  app/routes/events/components/EventDetail/index.tsx
Labels: bug-fix, approved

#3595 Make sure payment button is a submit button
  app/routes/events/components/StripeElement.tsx
Labels: review-needed, bug-fix, small-fix, testing-needed

#3594 Make company descriptions collapsible
  app/components/CollapsibleDisplayContent/CollapsibleDisplayContent.css
  app/components/CollapsibleDisplayContent/index.tsx
  app/components/DisplayContent/index.tsx
  app/routes/company/components/CompanyDetail.tsx
Labels: enhancement, review-needed, approved

#3551 Give the text input fields a retouch
  app/components/Form/Field.css
  app/components/Form/TextInput.css
  app/components/Form/TextInput.tsx
  app/components/LoginForm/LoginForm.spec.tsx
  app/components/LoginForm/LoginForm.tsx
  app/components/Reactions/ReactionPickerFooter.css
  app/components/Reactions/ReactionPickerFooter.tsx
  app/components/Table/index.tsx
  app/components/UserAttendance/AttendanceModal.css
  app/components/UserAttendance/AttendanceModal.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/EventEditor/EventEditor.css
Labels: enhancement, do-not-merge/WIP, approved, chore

#3608 Edit company interest
  app/reducers/companyInterest.ts
  app/routes/bdb/EditCompanyRoute.ts
  app/routes/companyInterest/CompanyInterestEditRoute.ts
  app/routes/companyInterest/CompanyInterestRoute.ts
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/utils.tsx
  app/store/models/CompanyInterest.d.ts
  package.json
  yarn.lock
Labels: priority:high, review-needed, new-feature

#3589 Rewrite quote form to react-final-form
  app/components/Form/LegoFinalForm.tsx
  app/components/Form/utils.ts
  app/routes/quotes/QuoteDetailRoute.ts
  app/routes/quotes/QuoteEditorRoute.ts
  app/routes/quotes/components/AddQuote.tsx
  app/utils/formSpyUtils.tsx
Labels: approved, chore

#3590 Create TextWithIcon component
  app/components/EventItem/index.tsx
  app/components/TextWithIcon/TextWithIcon.css
  app/components/TextWithIcon/index.tsx
  app/routes/company/components/Company.css
  app/routes/company/components/CompanyDetail.tsx
  app/routes/events/components/Calendar.css
  app/routes/events/components/CalendarCell.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
Labels: enhancement, approved, technical-debt

#3613 Update company interest form text as requested from fagkom
  app/routes/companyInterest/utils.tsx
Labels: review-needed

#3614 Edit interest form event type field describers
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: priority:high, review-needed, small-fix

#3609 Make abacard great again
  app/components/Image/ProfilePicture.tsx
  app/components/Search/SearchPageResults.css
  app/components/UserValidator/index.tsx
  app/routes/events/EventAbacardRoute.ts
  app/routes/events/components/EventAdministrate/Abacard.tsx
  app/routes/userValidator/ValidatorRoute.tsx
Labels: priority:high, review-needed, bug-fix, small-fix, approved

#3615 One last text change in the company interest form
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: flawless, review-needed, small-fix, approved, ready-to-merge

#3554 Created Allergies Tab
  app/routes/events/EventAllergiesRoute.ts
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/index.tsx
Labels: review-needed, new-feature

#3617 Fix "cannot load before initialization" error
  app/components/UserAttendance/AttendanceModal.tsx
Labels: flawless, priority:high, review-needed, bug-fix, small-fix

#3616 Add missing `ignoreQueryPrefix` to abacard route
  app/routes/events/EventAbacardRoute.ts
  app/routes/events/components/EventAdministrate/Abacard.tsx
Labels: priority:high, review-needed, bug-fix, small-fix

#3625 Wrap delete button in ArticleEditor in ConfirmModal
  app/routes/articles/components/ArticleEditor.tsx
Labels: enhancement, small-fix, approved
