Repository webkom/lego-webapp, pull requests merged in 2023-08, with the labels that each got.

#4071 Remove webp from accepted filetypes in ImageUpload
  app/components/Upload/ImageUpload.tsx
Labels: flawless, review-needed, bug-fix, small-fix, approved

#4072 Fix overflowing text in tooltip on event creator page
  app/routes/events/components/EventEditor/index.tsx
Labels: review-needed, bug-fix, small-fix

#4064 Fix a bunch of stuff
  app/components/CommentForm/index.tsx
  app/components/Comments/Comment.tsx
  app/components/Comments/CommentTree.tsx
  app/components/Comments/CommentView.tsx
  app/components/Header/index.tsx
  app/components/Image/ProfilePicture.tsx
  app/components/Tooltip/Tooltip.css
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserGrid/index.tsx
  app/models.ts
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/StripeElement.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/UserProfile.tsx
  app/store/models/Comment.d.ts
  app/store/models/Event.d.ts
  app/store/models/Registration.d.ts
  app/store/models/User.d.ts
  cypress/e2e/event_visit_spec.js
  cypress/e2e/router_spec.js
Labels: enhancement, types, priority:high, review-needed, bug-fix, approved, technical-debt

#4077 Introduce a success card type
  app/components/Card/Card.css
  app/components/Card/index.tsx
  app/components/PhotoUploadStatus/PhotoUploadStatus.css
  app/components/PhotoUploadStatus/index.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/StripeElement.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/surveys/components/SurveyEditor/SurveyEditor.tsx
Labels: review-needed, new-feature, approved

#4063 Replace verification form with FEIDE auth
  app/actions/ActionTypes.ts
  app/actions/UserActions.ts
  app/reducers/auth.ts
  app/reducers/users.ts
  app/routes/users/StudentConfirmationRoute.tsx
  app/routes/users/components/StudentConfirmation.tsx
  app/routes/users/components/UserConfirmation.css
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettingsIndex.tsx
  cypress/e2e/router_spec.js
  cypress/support/utils.js
Labels: flawless, future-was-2-years-ago, review-needed, new-feature

#4088 Add OAUTH_CACHE env var to drone api step
  .drone.yml
Labels: priority:high, review-needed, bug-fix, small-fix

#4087 Fix production docker image
  Dockerfile
Labels: priority:high, review-needed, bug-fix

#4038 Only fetch group memberships when logged in on pages
  app/components/GroupMember/GroupMember.css
  app/components/GroupMember/index.tsx
  app/reducers/pages.ts
  app/routes/pages/PageDetailRoute.ts
  app/routes/pages/components/PageDetail.tsx
Labels: review-needed, small-fix, technical-debt

#4053 Refactor Search menu
  app/components/ResolveLink.tsx
  app/components/Search/QuickLinks.tsx
  app/components/Search/Search.css
  app/components/Search/SearchBar.tsx
  app/components/Search/SearchResults.tsx
  app/components/Search/index.tsx
  app/components/Search/utils.tsx
  app/components/TextWithIcon/index.tsx
  app/reducers/search.ts
  cypress/e2e/router_spec.js
Labels: enhancement, review-needed, approved, technical-debt

#4056 Random bits and pieces 5
  app/components/Dropdown/Dropdown.css
  app/components/Dropdown/index.tsx
  app/components/Footer/Footer.css
  app/components/Icon/Icon.css
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/routes/admin/groups/components/GroupView.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
  app/routes/interestgroups/components/InterestGroup.css
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/overview/components/ArticleItem.css
  app/routes/overview/components/ArticleItem.tsx
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/LatestReadme.tsx
  app/routes/quotes/components/Quote.tsx
  app/routes/quotes/components/Quotes.css
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  app/styles/variables.css
  packages/lego-bricks/src/components/Button/Button.module.css
  packages/lego-bricks/src/components/Button/index.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt, chore

#4109 Update banner for admissions 2023
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: flawless, priority:high, review-needed

#4110 Fix typo in admissions banner
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: review-needed

#3941 Refactor DatePicker- and TimePicker-component
  app/components/Form/DatePicker.css
  app/components/Form/DatePicker.tsx
  app/components/Form/Field.tsx
  app/components/Form/TimePicker.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/utils/parseDateValue.ts
  app/utils/validation.ts
  cypress/e2e/create_meeting_spec.js
  cypress/support/utils.js
Labels: question, review-needed, approved, technical-debt, chore

#4100 Fix unset theme on initialization
  app/utils/themeUtils.tsx
Labels: review-needed, bug-fix, approved
