Repository webkom/lego-webapp, pull requests merged in 2024-07, with the labels that each got.

#4768 Make icon on latest readme comp "act" as a button
  app/routes/frontpage/components/LatestReadme.tsx
Labels: enhancement, review-needed, small-fix, approved

#4756 Prevent endless skeleton for interest groups with < 10 members
  app/components/UserGrid/index.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
Labels: review-needed, bug-fix, small-fix, approved

#4778 Reword header on company interest editor
  app/routes/bdb/utils.tsx
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
Labels: enhancement, review-needed, small-fix, approved

#4775 Fix overflow issues on meeting details
  app/components/UserAttendance/AttendanceModalContent.css
  app/components/UserAttendance/AttendanceStatus.css
Labels: review-needed, bug-fix, approved

#4779 Translate all alts to Norwegian
  app/components/EventItem/index.tsx
  app/components/Footer/index.tsx
  app/components/GroupMember/index.tsx
  app/components/Header/index.tsx
  app/components/Image/ProfilePicture.tsx
  app/components/JoblistingItem/index.tsx
  app/components/Reactions/ReactionPicker.tsx
  app/components/Search/SearchPageResults.tsx
  app/components/Upload/ImageUpload.tsx
  app/routes/articles/components/ArticleList.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/brand/components/BrandPage.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/frontpage/components/ArticleItem.tsx
  app/routes/frontpage/components/FrontpageEventItem.tsx
  app/routes/frontpage/components/LatestReadme.tsx
  app/routes/frontpage/components/Pinned.tsx
  app/routes/frontpage/components/PublicFrontpage.tsx
  app/routes/interestgroups/components/InterestGroup.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/pages/components/subcomponents/EmailItem/index.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/surveys/components/SurveyList/SurveyItem.tsx
  app/routes/users/components/UserProfile.tsx
  cypress/e2e/profile_spec.js
  cypress/e2e/router_spec.js
  packages/lego-bricks/src/components/Image/index.tsx
  packages/lego-bricks/src/components/Layout/Page/PageCover.tsx
Labels: review-needed, approved, technical-debt

#4776 Update various headers to resemble each other more
  app/components/Feed/activity.css
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/events/components/EventList.css
  app/routes/events/components/EventList.tsx
  app/routes/meetings/components/MeetingList.css
  app/routes/pages/components/PageDetail.css
  app/routes/pages/components/PageDetail.tsx
  app/routes/surveys/components/surveys.css
Labels: enhancement, review-needed, approved

#4774 Make sure all written mail addresses are anchor links
  app/routes/admin/email/components/EmailLists.tsx
  app/routes/brand/components/BrandPage.tsx
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/StudentConfirmation.tsx
Labels: review-needed, bug-fix, small-fix, approved

#4599 Fix fetching of company contacts in joblisting editor
  app/actions/CompanyActions.ts
  app/routes/joblistings/components/JoblistingEditor.tsx
Labels: review-needed, bug-fix, approved

#4785 Change ts compiler option "module" to `preserve`
  tsconfig.json
Labels: review-needed, bug-fix, small-fix, approved

#4777 Introduce a `placeholder-color` variable
  app/components/Form/SelectInput.tsx
  app/components/Form/TextEditor.css
  app/components/Form/TextInput.css
  app/components/Reactions/index.tsx
  app/components/Search/SearchPageInput.css
  app/routes/frontpage/components/Carousel.css
  app/routes/frontpage/components/Carousel.tsx
  app/styles/variables.css
Labels: review-needed, small-fix, approved, technical-debt

#4786 Fix crash on statistics page
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/store/models/User.ts
Labels: review-needed, bug-fix, small-fix, approved

#4782 Update and employ the EmptyState component
  app/components/EmptyState/EmptyState.css
  app/components/EmptyState/EmptyState.md
  app/components/EmptyState/index.tsx
  app/components/EventListCompact/index.tsx
  app/components/Feed/Feed.css
  app/components/Feed/Readme.md
  app/components/Feed/index.tsx
  app/components/HeaderNotifications/index.tsx
  app/components/Poll/index.tsx
  app/components/Reactions/ReactionPickerContent.css
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Search/SearchPageResults.tsx
  app/components/UserAttendance/AttendanceModalContent.css
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/announcements/components/AnnouncementsList.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAttendeeStatistics.css
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventList.css
  app/routes/events/components/EventList.tsx
  app/routes/frontpage/components/UpcomingRegistrations.css
  app/routes/frontpage/components/UpcomingRegistrations.tsx
  app/routes/joblistings/components/JoblistingList.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/Overview.css
  app/routes/photos/components/Overview.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/surveys/components/StaticSubmission.tsx
  app/routes/surveys/components/Submissions/SubmissionPublicResultsPage.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/surveys/components/SurveyList/SurveyList.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#4791 Refactor tooltips on company interest form
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: review-needed, approved, technical-debt

#4792 "Blackify" parts of the webapp
  app/components/Header/Header.css
  app/components/Header/index.tsx
  app/components/UserAttendance/Attendance.tsx
  app/routes/bdb/components/OptionsBox.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/Registrations.css
  cypress/e2e/router_spec.js
  packages/lego-bricks/src/components/Icon/Icon.module.css
  packages/lego-bricks/src/components/Layout/Page/Page.module.css
  packages/lego-bricks/src/components/Layout/Page/Page.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4796 Prevent text overflow on error boundary
  app/components/ErrorBoundary/ErrorBoundary.css
  app/components/ErrorBoundary/index.tsx
  packages/lego-bricks/src/components/Card/Card.module.css
  packages/lego-bricks/src/components/Card/index.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4790 Update various spacings
  app/components/EventItem/index.tsx
  app/components/EventItem/styles.css
  app/components/Form/CheckBox.css
  app/components/Form/CheckBox.tsx
  app/components/Form/Field.css
  app/components/Form/Field.tsx
  app/components/Form/MultiSelectGroup.css
  app/components/Form/RadioButton.css
  app/components/Form/RadioButton.tsx
  app/components/Header/Header.css
  app/components/Poll/Poll.css
  app/components/Upload/UploadImage.css
  app/routes/app/AppRoute.tsx
  app/routes/events/components/Calendar.css
  app/routes/forum/components/ForumEditor.tsx
  app/routes/pages/components/subcomponents/Statistic/Statistic.css
  app/routes/pages/components/subcomponents/Statistic/index.tsx
  app/routes/users/components/UserSettings.css
  packages/lego-bricks/src/components/Layout/Page/filterSidebar.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4797 Handle more edge cases when sorting companies
  app/routes/bdb/SortCompanies.ts
Labels: review-needed, bug-fix, approved, technical-debt

#4804 Slight improvements to the announcements page
  app/components/Form/Field.tsx
  app/routes/announcements/components/AnnouncementItem.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/announcements/components/AnnouncementsList.css
  app/routes/announcements/components/AnnouncementsList.tsx
  packages/lego-bricks/src/components/Card/Card.module.css
Labels: enhancement, review-needed, approved, chore

#4805 Add toggle for password visibility in field
  app/components/Form/TextInput.css
  app/components/Form/TextInput.tsx
Labels: enhancement, future-is-now, review-needed, approved

#4803 Introduce Lucide icons
  app/components/EventItem/index.tsx
  app/components/Header/Navbar/CareerDropdown.tsx
  app/components/Header/Navbar/EventsDropwdown.tsx
  app/components/Header/Navbar/Item.tsx
  app/components/Header/Navbar/ItemList.tsx
  app/components/Header/ToggleTheme.tsx
  app/components/Header/index.tsx
  app/components/HeaderNotifications/index.tsx
  app/components/RandomQuote/RandomQuote.tsx
  app/components/Search/utils.tsx
  app/components/TextWithIcon/index.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/frontpage/components/LatestReadme.css
  app/routes/frontpage/components/LatestReadme.tsx
  app/routes/pages/components/PageHierarchy.tsx
  app/routes/users/components/UserProfile.tsx
  package.json
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/Icon/Icon.module.css
  packages/lego-bricks/src/components/Icon/index.tsx
  packages/lego-bricks/src/components/Modal/ConfirmModal.tsx
  yarn.lock
Labels: enhancement, future-was-2-years-ago, dependencies, review-needed, approved

#4815 Minor design changes to the footer
  app/components/Circle/index.tsx
  app/components/Footer/Footer.css
  app/components/Footer/index.tsx
Labels: enhancement, review-needed, approved, technical-debt

#4831 Fix bad spacing between article tags
  app/components/Tags/Tag.css
  app/components/Tags/Tag.tsx
  app/components/Tags/index.tsx
  app/routes/articles/articles.css
  app/routes/articles/components/ArticleList.tsx
  app/routes/frontpage/components/AuthenticatedFrontpage.css
  app/routes/frontpage/components/utils.tsx
Labels: review-needed, bug-fix, approved, technical-debt
