Repository webkom/lego-webapp, pull requests merged in 2024-01, with the labels that each got.

#4355 Fix debounce on search
  app/actions/SearchActions.ts
  app/components/Search/index.tsx
Labels: priority:high, review-needed, bug-fix

#4383 Fix event filter overflow
  app/routes/events/components/EventList.css
  app/routes/events/components/EventList.tsx
Labels: approved

#4390 Resolve some router-v6 bugs
  app/reducers/events.ts
  app/routes/events/components/EventDetail/index.tsx
  app/routes/pages/components/PageDetail.tsx
  app/routes/polls/components/PollsList.tsx
  app/routes/search/SearchPageWrapper.tsx
  app/routes/userValidator/WrappedValidator.tsx
Labels: bug-fix, approved, ready-to-merge

#4384 Give bdb a little retouch
  app/components/Circle/index.tsx
  app/components/Content/ContentHeader.tsx
  app/components/EventItem/index.tsx
  app/models.ts
  app/reducers/companies.ts
  app/routes/bdb/SortCompanies.ts
  app/routes/bdb/components/AddSemester.css
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/CompanyList.tsx
  app/routes/bdb/components/CompanySingleRow.tsx
  app/routes/bdb/components/SemesterStatus.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/bdb/utils.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/CalendarCell.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/EventFooter.tsx
  app/routes/events/utils.ts
  app/routes/overview/components/CompactEvents.tsx
  app/routes/overview/components/EventItem.tsx
  app/routes/overview/components/NextEvent.tsx
  app/routes/overview/components/utils.tsx
  app/routes/surveys/components/SurveyDetail.tsx
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
  app/routes/surveys/components/SurveyList/SurveyItem.tsx
  app/routes/users/components/passwordStrengthVariables.ts
  app/store/models/Company.ts
  app/store/models/Event.ts
  app/styles/variables.css
Labels: enhancement, types, review-needed, bug-fix, approved, technical-debt

#4402 Display sections with group members in sidebar
  app/routes/pages/components/PageDetail.tsx
Labels: bug-fix, approved, ready-to-merge

#4403 Fix bug where search was performed on undefined string causing crash
  app/components/Reactions/ReactionPicker.tsx
Labels: bug-fix, approved, ready-to-merge

#4401 Allow non-logged in users to view interest group details
  app/routes/interestgroups/components/InterestGroupDetail.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4400 Validate allergies in user registration form
  app/routes/users/components/UserConfirmation.tsx
  app/utils/validation.ts
Labels: review-needed, bug-fix, small-fix, approved

#4407 Fix form for adding user to group
  app/components/CommentForm/index.tsx
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/admin/groups/components/AddGroupPermission.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/events/components/EventAdministrate/AdminRegister.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4406 Refactor penalties
  app/actions/UserActions.ts
  app/components/Form/SelectInput.tsx
  app/components/Time/index.tsx
  app/models.ts
  app/reducers/penalties.ts
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/utils.ts
  app/routes/users/components/Penalties.css
  app/routes/users/components/Penalties.tsx
  app/routes/users/components/PenaltyForm.tsx
  app/routes/users/components/UserProfile.tsx
  app/store/models/Penalty.d.ts
Labels: enhancement, types, review-needed, bug-fix, approved, technical-debt

#4405 Optimistically update reactions
  app/components/LegoReactions/index.tsx
  app/components/Reactions/Reaction.css
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/index.tsx
  app/routes/quotes/components/Quote.tsx
  app/routes/quotes/components/QuoteList.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/store/models/Reaction.d.ts
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#4399 Show confetti after registering a user
  app/routes/users/components/Confetti.css
  app/routes/users/components/Confetti.tsx
  app/routes/users/components/UserConfirmation.tsx
  package.json
  yarn.lock
Labels: enhancement, dependencies, review-needed, bug-fix, approved

#4408 Improve design of interestgroup page
  app/routes/interestgroups/components/InterestGroup.css
  app/routes/interestgroups/components/InterestGroup.tsx
  app/routes/interestgroups/components/InterestGroupList.tsx
Labels: enhancement, small-fix, approved, technical-debt

#4410 Refactor table component to functional
  app/components/Table/BodyCell.tsx
  app/components/Table/HeadCell.tsx
  app/components/Table/index.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
Labels: types, review-needed, bug-fix, approved, technical-debt, chore

#4413 Fix text color for calendar entries on dark mode
  app/routes/events/utils.ts
Labels: review-needed, bug-fix, approved

#4411 Configure filtering to support multiselect
  app/components/Table/BodyCell.tsx
  app/components/Table/HeadCell.tsx
  app/components/Table/index.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
Labels: enhancement, types, review-needed, approved, technical-debt

#4414 Add padding-left to header
  app/components/Header/Header.css
Labels: approved

#4417 Resolve call to undefined method
  app/routes/events/components/EventEditor/index.tsx
Labels: review-needed, bug-fix

#4416 Filter seenQuotes to only allow numbers
  app/components/RandomQuote/RandomQuote.tsx
Labels: review-needed, bug-fix, approved

#4418 Check if allergies are undefined in validator
  app/routes/users/components/UserConfirmation.tsx
  app/utils/validation.ts
Labels: priority:high, review-needed, bug-fix, approved

#4419 Store registrations as undefined if user has no access
  app/components/UserAttendance/AttendanceStatus.tsx
  app/reducers/events.ts
  app/routes/events/components/EventDetail/index.tsx
Labels: priority:high, bug-fix, approved
