Repository webkom/lego-webapp, pull requests merged in 2024-02, with the labels that each got.

#4422 Remove `redux-form`
  app/actions/MeetingActions.ts
  app/components/Form/CheckBox.tsx
  app/components/Form/EditorField.tsx
  app/components/Form/Field.css
  app/components/Form/Field.tsx
  app/components/Form/Fields.tsx
  app/components/Form/FileUploadField.tsx
  app/components/Form/ObjectPermissions.tsx
  app/components/Form/RadioButton.md
  app/components/Form/RadioButton.tsx
  app/components/Form/SelectInput.md
  app/components/Form/SubmitButton.tsx
  app/components/Form/index.ts
  app/components/Form/legoForm.ts
  app/components/Form/utils.ts
  app/components/LoginForm/ForgotPasswordForm.tsx
  app/components/LoginForm/RegisterForm.tsx
  app/reducers/forms.ts
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/email/components/EmailUserEditor.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/OptionsBox.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/events/components/Event.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/JoinEventFormCountdownProvider.tsx
  app/routes/events/components/StripeElement.tsx
  app/routes/events/components/UpdateAllergies.tsx
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserSettings.tsx
  app/store/createRootReducer.ts
  package.json
  server/ssr.tsx
  yarn.lock
Labels: future-was-2-years-ago, dependencies, review-needed, bug-fix, approved, technical-debt

#4423 Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: review-needed, approved, chore

#4420 Catch inviting groups you can't access members of
  app/actions/GroupActions.ts
  app/routes/meetings/components/MeetingEditor.tsx
Labels: approved

#4412 Fix group table being cleared after adding a new member
  app/routes/admin/groups/components/AddGroupMember.tsx
Labels: review-needed, bug-fix

#4424 Use "correct" label on grade checkboxes on joblistings page
  app/routes/joblistings/components/JoblistingRightNav.tsx
  app/routes/joblistings/constants.ts
Labels: enhancement, review-needed, bug-fix, small-fix, approved

#4425 Standardize a success color
  app/components/EventItem/index.tsx
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/components/Upload/UploadImage.css
  app/routes/bdb/utils.tsx
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/Stripe.css
  app/routes/photos/components/Overview.css
  app/routes/polls/components/PollsList.css
  app/routes/polls/components/PollsList.tsx
  app/routes/users/components/Penalties.css
  app/styles/variables.css
  packages/lego-bricks/src/components/Button/Button.module.css
  packages/lego-bricks/src/components/Icon/Icon.module.css
  packages/lego-bricks/src/variables.css
Labels: review-needed, small-fix, approved, chore

#4427 Only show user registration feedback when relevant
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
Labels: enhancement, review-needed, approved

#4436 Include social media profiling to company interest form
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/Translations.ts
  app/routes/companyInterest/utils.tsx
Labels: enhancement, priority:high, review-needed

#4435 Change BedEx description under CompanyInterest
  app/routes/companyInterest/utils.tsx
Labels: review-needed, small-fix, approved

#4251 Appropriately show loading indicators for events on user profile
  app/components/EventListCompact/index.tsx
  app/reducers/__tests__/events.spec.ts
  app/reducers/events.ts
  app/routes/users/components/UserProfile.tsx
Labels: review-needed, bug-fix, approved, tests

#4438 Introduce (and employ) a Skeleton component
  app/components/CollapsibleDisplayContent/CollapsibleDisplayContent.css
  app/components/CollapsibleDisplayContent/index.tsx
  app/components/Content/Content.css
  app/components/Content/Content.tsx
  app/components/Content/ContentSidebar.css
  app/components/EventItem/styles.css
  app/components/EventListCompact/index.tsx
  app/components/JoblistingItem/JoblistingItem.css
  app/components/NavigationTab/NavigationTab.css
  app/components/NavigationTab/index.tsx
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/components/RandomQuote/RandomQuote.css
  app/components/RandomQuote/RandomQuote.tsx
  app/reducers/frontpage.ts
  app/routes/company/components/Company.css
  app/routes/company/components/CompanyDetail.tsx
  app/routes/events/utils.ts
  app/routes/joblistings/components/JoblistingList.css
  app/routes/joblistings/components/JoblistingList.tsx
  app/routes/overview/components/ArticleItem.css
  app/routes/overview/components/ArticleItem.tsx
  app/routes/overview/components/CompactEvents.css
  app/routes/overview/components/CompactEvents.tsx
  app/routes/overview/components/EventItem.css
  app/routes/overview/components/EventItem.tsx
  app/routes/overview/components/NextEvent.css
  app/routes/overview/components/NextEvent.tsx
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/Pinned.css
  app/routes/overview/components/Pinned.tsx
  app/routes/overview/components/PublicFrontpage.tsx
  app/routes/overview/components/utils.tsx
  app/routes/pages/components/PageDetail.css
  app/routes/pages/components/PageDetail.tsx
  app/routes/users/components/UserProfile.tsx
  app/utils/truncateString.ts
  packages/lego-bricks/src/components/Card/index.tsx
  packages/lego-bricks/src/components/Skeleton/Skeleton.module.css
  packages/lego-bricks/src/components/Skeleton/index.tsx
  packages/lego-bricks/src/index.ts
Labels: enhancement, review-needed, bug-fix, new-feature, approved, lego-bricks

#4451 Fix uploading of images to gallery
  app/routes/photos/components/GalleryDetail.tsx
Labels: priority:high, review-needed, bug-fix

#4452 Prevent page from crashing when no page is selected
  app/routes/pages/components/PageDetail.tsx
Labels: review-needed, bug-fix, approved

#4453 Enforce custom flex styling is prioritized
  packages/lego-bricks/src/components/Layout/Flex.module.css
Labels: bug-fix, ready-to-merge

#4450 Update table component's skeleton look
  app/components/Table/Table.css
  app/components/Table/index.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/events/components/EventAdministrate/Abacard.tsx
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
Labels: enhancement, review-needed, approved

#4448 Fix interresse issue
  app/components/Form/MultiSelectGroup.tsx
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/Translations.ts
Labels: priority:high, review-needed, bug-fix

#4466 Prevent MazeMap logo from growing out of toggle button
  app/assets/mazemap.png
  app/assets/mazemap.svg
  app/components/Content/Content.css
  app/components/Content/Content.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/styles/utilities.css
Labels: review-needed, bug-fix, approved

#4467 Add revybanner
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: approved, chore

#4464 Properly reject promises on server
  app/components/HeaderNotifications/index.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/articles/components/Overview.tsx
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/meetings/MeetingDetailWrapper.tsx
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/polls/components/PollDetail.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettingsNotifications.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
Labels: review-needed, bug-fix, approved

#4469 Fix unintended disabled email list field
  app/routes/admin/email/components/EmailListEditor.tsx
Labels: review-needed, bug-fix

#4473 Always dispatch the fetchsemestersforinterestform
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: review-needed

#4474 Make usePreparedEffect return promise
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: priority:high, bug-fix, approved

#4476 Remove contact tracing functionality
  app/models.ts
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/utils.ts
  app/store/models/Event.ts
Labels: review-needed, small-fix, approved

#4477 Made the gradelist in ascending order
  app/routes/users/components/UserProfile.tsx
Labels: review-needed, small-fix

#4482 Accurately check checkboxes on /events filter
  app/routes/bdb/components/OptionsBox.tsx
  app/routes/events/components/EventList.tsx
Labels: review-needed, bug-fix, approved

#4480 Fix ordering of questions on survey
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
Labels: review-needed, bug-fix, approved

#4472 Implement overview-styling with grid
  app/components/Banner/Banner.css
  app/components/Banner/index.tsx
  app/routes/overview/components/ArticleItem.css
  app/routes/overview/components/ArticleItem.tsx
  app/routes/overview/components/CompactEvents.css
  app/routes/overview/components/CompactEvents.tsx
  app/routes/overview/components/LatestReadme.css
  app/routes/overview/components/LatestReadme.tsx
  app/routes/overview/components/NextEvent.css
  app/routes/overview/components/Overview.css
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/Pinned.css
  app/routes/overview/components/PublicFrontpage.tsx
  app/store/models/Event.ts
  packages/lego-bricks/src/components/Layout/Flex.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#4446 Create abaquery forum
  app/actions/ActionTypes.ts
  app/actions/ForumActions.ts
  app/components/Comments/Comment.tsx
  app/components/Search/utils.tsx
  app/reducers/forums.ts
  app/reducers/index.ts
  app/reducers/threads.ts
  app/routes/forum/components/ForumDetail.tsx
  app/routes/forum/components/ForumEditor.tsx
  app/routes/forum/components/ForumList.css
  app/routes/forum/components/ForumList.tsx
  app/routes/forum/components/ForumListEntry.tsx
  app/routes/forum/components/ThreadDetail.tsx
  app/routes/forum/components/ThreadEditor.tsx
  app/routes/forum/components/ThreadList.tsx
  app/routes/forum/components/ThreadListEntry.tsx
  app/routes/forum/index.tsx
  app/routes/index.tsx
  app/store/createRootReducer.ts
  app/store/models/Forum.ts
  app/store/models/entities.ts
  app/utils/getEntityType.ts
Labels: review-needed, new-feature, changes-requested

#4486 Removed button to show more events when there are no more events to s…
  app/routes/overview/components/Overview.tsx
Labels: review-needed, bug-fix, approved

#4484 Clean up detailed event page
  app/components/Content/ContentHeader.tsx
  app/components/Content/ContentSidebar.tsx
  app/components/DisplayContent/DisplayContent.css
  app/components/DisplayContent/index.tsx
  app/components/Form/Field.css
  app/components/Form/Field.tsx
  app/components/InfoList/index.tsx
  app/components/InfoList/styles.css
  app/components/TextWithIcon/index.tsx
  app/components/UserAttendance/AttendanceStatus.css
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserGrid/UserGrid.css
  app/components/UserGrid/index.tsx
  app/models.ts
  app/routes/events/components/Event.css
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/RegisteredSummary.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/events/components/Registrations.css
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/routes/overview/components/CompactEvents.tsx
  cypress/e2e/create_meeting_spec.js
  packages/lego-bricks/src/components/Skeleton/Skeleton.module.css
  packages/lego-bricks/src/components/Skeleton/index.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt
