Repository webkom/lego-webapp, pull requests merged in 2024-05, with the labels that each got.

#4689 Fix error when reading plausible analytics data
  app/actions/EventActions.ts
  app/routes/events/components/Analytics.tsx
Labels: flawless, review-needed, small-fix, approved

#4650 Finish migration from createEntityReducer to legoAdapter
  app/actions/ActionTypes.ts
  app/actions/EventActions.ts
  app/models.ts
  app/reducers/__tests__/comments.spec.ts
  app/reducers/__tests__/companies.spec.ts
  app/reducers/__tests__/events.spec.ts
  app/reducers/comments.ts
  app/reducers/events.ts
  app/reducers/selectors.ts
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/Calendar.tsx
  app/routes/events/components/CalendarCell.tsx
  app/routes/events/components/EventList.tsx
  app/routes/users/components/UserProfile.tsx
  app/store/models/Event.ts
  app/utils/__tests__/createEntityReducer.spec.ts
  app/utils/createEntityReducer.ts
Labels: review-needed

#4695 Replace react-overlays with react-aria-components modal
  .gitignore
  app/components/Upload/ImageUpload.tsx
  app/components/Upload/UploadImage.css
  app/components/UserAttendance/Attendance.tsx
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/components/UserAttendance/AttendanceStatus.md
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserAttendance/index.ts
  app/components/UserValidator/index.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/events/components/EventEditor/EditorSection/Registration.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/RegisteredSummary.tsx
  app/routes/interestgroups/components/InterestGroup.css
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/interestgroups/components/InterestGroupMemberModal.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.css
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.tsx
  app/styles/variables.css
  cypress/e2e/create_event_spec.js
  cypress/e2e/event_editor_spec.js
  cypress/support/utils.js
  packages/lego-bricks/.storybook/main.ts
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/Card/Card.stories.ts
  packages/lego-bricks/src/components/Modal/ConfirmModal.stories.tsx
  packages/lego-bricks/src/components/Modal/ConfirmModal.tsx
  packages/lego-bricks/src/components/Modal/Modal.module.css
  packages/lego-bricks/src/components/Modal/Modal.stories.tsx
  packages/lego-bricks/src/components/Modal/Modal.tsx
  packages/lego-bricks/src/index.ts
  packages/lego-bricks/vite.config.ts
  yarn.lock
Labels: review-needed

#4701 Add ButtonGroup component
  app/components/Upload/ImageUpload.tsx
  app/routes/announcements/components/AnnouncementItem.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/brand/components/BrandPage.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/events/components/Admin.css
  app/routes/events/components/Admin.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/EventList.tsx
  app/routes/forum/components/ForumEditor.tsx
  app/routes/forum/components/ThreadEditor.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/meetings/components/MeetingDetail.css
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/meetings/components/MeetingList.tsx
  app/routes/pages/components/LandingPage.css
  app/routes/pages/components/LandingPage.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryEditorActions.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/users/components/PhotoConsents.css
  app/routes/users/components/PhotoConsents.tsx
  app/routes/users/components/RemovePicture.tsx
  app/routes/users/components/StudentConfirmation.tsx
  app/routes/users/components/UserConfirmation.tsx
  packages/lego-bricks/src/components/Button/ButtonGroup.stories.tsx
  packages/lego-bricks/src/components/Button/ButtonGroup.tsx
  packages/lego-bricks/src/components/Modal/ConfirmModal.tsx
  packages/lego-bricks/src/index.ts
Labels: enhancement, review-needed, technical-debt

#4612 Add reactions to comments
  app/components/Comments/Comment.tsx
  app/components/Comments/__tests__/CommentTree.spec.tsx
  app/reducers/comments.ts
  app/store/models/Comment.d.ts
  app/utils/getEntityType.ts
Labels: new-feature

#4711 Cache theme in localStorage
  app/utils/themeUtils.tsx
Labels: review-needed
