Repository webkom/lego-webapp, pull requests merged in 2024-09, with the labels that each got.

#4938 Fix sizing of attendance modal
  app/components/UserAttendance/AttendanceModalContent.css
  app/components/UserAttendance/AttendanceModalContent.tsx
  cypress/e2e/joblistings_specs.js
  cypress/support/utils.js
Labels: review-needed, bug-fix, approved

#4930 Rename KiD to NEXUS
  app/routes/events/components/EventList.tsx
  app/routes/events/utils.ts
  app/routes/frontpage/components/CompactEvents.tsx
  app/store/models/Event.ts
Labels: review-needed, do-not-merge/hold

#4943 Bump mazemap to v2.2.1
  config/webpack.dll.js
  mazemap/package.json
Labels: review-needed

#4946 Improve flaky cypress test
  cypress/e2e/home_page_spec.js
  cypress/e2e/joblistings_specs.js
Labels: bug-fix, approved

#4950 Minor adjustments to some page details
  app/components/MazemapEmbed/MazemapEmbed.css
  app/components/MazemapEmbed/index.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/meetings/components/MeetingDetail.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4951 Implement report changelogs to meetings
  app/components/AddToCalendar/AddToCalendar.css
  app/components/AddToCalendar/AddToCalendar.tsx
  app/components/Tooltip/Tooltip.css
  app/components/Tooltip/index.tsx
  app/routes/meetings/components/MeetingDetail.css
  app/routes/meetings/components/MeetingDetail.tsx
  app/store/models/Meeting.d.ts
  app/styles/overlay.css
  package.json
  yarn.lock
Labels: dependencies, review-needed, new-feature, approved, do-not-merge/hold

#4939 Changed 'Melding til Arrangør' to 'Kommentar' at request from ArrKom
  app/routes/events/components/EventAdministrate/AdminRegister.tsx
  app/routes/events/components/JoinEventForm.tsx
Labels: flawless, review-needed, small-fix, approved

#4958 Re-add collaboration with revue to company interest form
  app/routes/companyInterest/components/Translations.ts
Labels: priority:high, review-needed, small-fix, approved

#4959 Set input font size to be 16px on mobile
  app/styles/globals.css
Labels: enhancement, review-needed, bug-fix, small-fix, approved

#4936 Hide banner
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
Labels: review-needed, do-not-merge/hold, chore

#4964 Display correct registrationDeadline in event editor
  app/routes/events/components/EventEditor/EditorSection/Registration.tsx
Labels: flawless, review-needed

#4937 Add dark scrollbars on dark mode
  app/styles/variables.css
Labels: enhancement, review-needed, small-fix, approved

#4968 Fix lego-bricks not working without react-router
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/Layout/Page/Page.tsx
Labels: review-needed

#4974 Simplify event detail page by moving stuff into components
  app/components/MazemapEmbed/MazemapButton.tsx
  app/components/UserAttendance/Attendance.tsx
  app/routes/events/components/EventDetail/AttendeeSection.tsx
  app/routes/events/components/EventDetail/InterestedButton.tsx
  app/routes/events/components/EventDetail/SidebarInfo.tsx
  app/routes/events/components/EventDetail/UnansweredSurveys.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/JoinEventFormCountdownProvider.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/routes/events/components/__tests__/useRegistrationCountdown.spec.tsx
  app/routes/events/components/useRegistrationCountdown.tsx
  app/routes/events/utils.ts
  app/store/models/Event.ts
  app/store/models/Registration.ts
  package.json
  yarn.lock
Labels: review-needed

#4975 Fix button styling in bricks
  app/components/Header/Header.css
  app/components/Header/Navbar/Navbar.css
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/Button/Button.module.css
  packages/lego-bricks/src/components/Icon/Icon.module.css
Labels: review-needed

#4976 Remove horizontal table scroll
  app/components/Table/Table.css
Labels: review-needed

#4977 Refactor and fix types in events redux code
  app/actions/EventActions.ts
  app/components/AnnouncementInLine/index.tsx
  app/components/EventItem/index.tsx
  app/components/Table/index.tsx
  app/components/UserAttendance/Attendance.tsx
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/components/UserAttendance/AttendanceStatus.tsx
  app/components/UserValidator/index.tsx
  app/models.ts
  app/reducers/__tests__/events.spec.ts
  app/reducers/__tests__/registrations.spec.ts
  app/reducers/companies.ts
  app/reducers/events.ts
  app/reducers/frontpage.ts
  app/reducers/registrations.ts
  app/reducers/surveys.ts
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/events/components/Admin.tsx
  app/routes/events/components/CalendarCell.tsx
  app/routes/events/components/EventAdministrate/Abacard.tsx
  app/routes/events/components/EventAdministrate/AdminRegister.tsx
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventDetail/AttendeeSection.tsx
  app/routes/events/components/EventDetail/SidebarInfo.tsx
  app/routes/events/components/EventDetail/UnansweredSurveys.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventDetail/infoLists.tsx
  app/routes/events/components/EventDetail/usePools.ts
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/EventList.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/RegisteredSummary.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/events/components/StripeElement.tsx
  app/routes/events/components/useRegistrationCountdown.tsx
  app/routes/events/utils.ts
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
  app/routes/frontpage/components/CompactEvents.tsx
  app/routes/frontpage/components/UpcomingRegistrations.tsx
  app/routes/surveys/components/Submissions/Results.tsx
  app/routes/surveys/components/SurveyEditor/AddSurveyPage.tsx
  app/routes/surveys/components/SurveyList/SurveyItem.tsx
  app/routes/users/components/UserProfile.tsx
  app/store/models/Article.d.ts
  app/store/models/Event.ts
  app/store/models/ObjectPermissionsMixin.d.ts
  app/store/models/Registration.ts
  app/store/models/User.ts
  app/utils/eventStatus.ts
  app/utils/legoAdapter/createLegoAdapter.ts
Labels: review-needed

#4994 Fix imports of redux-toolkit types
  app/reducers/comments.ts
  app/reducers/reactions.ts
  app/utils/legoAdapter/buildActionGrantReducer.ts
  app/utils/legoAdapter/buildDeleteEntityReducer.ts
  app/utils/legoAdapter/buildEntitiesReducer.ts
  app/utils/legoAdapter/buildFetchingReducer.ts
  app/utils/legoAdapter/buildPaginationReducer.ts
Labels: flawless, types, review-needed

#4945 Add comment sorting
  app/components/Comments/CommentView.css
  app/components/Comments/CommentView.tsx
  app/routes/forum/components/ThreadDetail.tsx
Labels: review-needed

#5000 Fix registration modal pool styling
  app/components/UserAttendance/AttendanceModalContent.css
Labels: review-needed, bug-fix, small-fix

#4983 Show waiting list position even if there are multiple pools
  app/reducers/events.ts
  app/routes/events/components/EventDetail/AttendeeSection.tsx
  app/routes/events/components/EventDetail/getWaitingListPosition.ts
  app/routes/events/components/EventDetail/usePools.ts
  app/routes/events/components/RegistrationMeta.tsx
  app/store/models/User.ts
Labels: review-needed

#5002 Hide registration countdown button when already admin-registered
  app/reducers/registrations.ts
  app/routes/events/components/EventDetail/getWaitingListPosition.ts
  app/routes/events/components/JoinEventForm.tsx
Labels: review-needed

#5006 Remove bedex 2024 from company interest form
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/Translations.ts
Labels: flawless, review-needed, small-fix, chore

#5007 Fix error when entering event detail page after /administrate
  app/routes/events/components/EventDetail/getWaitingListPosition.ts
Labels: review-needed
