Repository webkom/lego-webapp, pull requests merged in 2024-11, with the labels that each got.

#5117 Remove deprecated `redux-mock-store` dep
  app/components/Comments/__tests__/CommentTree.spec.tsx
  app/components/LoginForm/LoginForm.spec.tsx
  app/components/LoginForm/LoginForm.tsx
  package.json
  yarn.lock
Labels: dependencies, review-needed, approved, technical-debt

#5139 Update achievement styling to be better
  app/routes/users/components/UserProfile/UserProfile.module.css
Labels: review-needed, bug-fix, small-fix

#5140 Minor achievement mobile design update
  app/routes/users/components/UserProfile/UserProfile.module.css
Labels: flawless, small-fix

#5141 Update waiting list placement calculation for more performant backend
  app/routes/events/components/EventDetail/getWaitingListPosition.ts
  app/store/models/Pool.d.ts
  app/store/models/User.ts
Labels: review-needed, approved

#5148 Fix crash on event page whenever pools are merged
  app/reducers/events.ts
Labels: priority:high, bug-fix, approved

#5133 Add PDF download to surveys
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/Submissions/SubmissionsPage.tsx
  app/routes/surveys/utils.tsx
Labels: review-needed

#5151 Correct flex direction on content in brand page (#3674)
  app/routes/brand/components/BrandPage.module.css
  app/routes/brand/components/BrandPage.tsx
Labels: bug-fix, approved, ready-to-merge

#5152 Slight refactor and updates to brand page
  app/routes/brand/components/BrandPage.module.css
  app/routes/brand/components/BrandPage.tsx
Labels: enhancement, review-needed, small-fix, technical-debt, chore

#5149 Navigate directly to survey answer page from UnansweredSurveys
  app/routes/events/components/EventDetail/UnansweredSurveys.tsx
Labels: review-needed, small-fix, approved

#5128 Improve photo album pages
  app/actions/ActionTypes.ts
  app/actions/GalleryPictureActions.ts
  app/components/Dropdown/index.tsx
  app/components/HeaderNotifications/index.tsx
  app/components/ProgressiveImage/index.tsx
  app/reducers/galleryPictures.ts
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryPictureEditForm.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.module.css
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/photos/index.tsx
  packages/lego-bricks/src/components/Icon/index.tsx
  packages/lego-bricks/src/components/Modal/Modal.tsx
  packages/lego-bricks/src/index.ts
Labels: review-needed

#5142 Improve skeleton components on event detail page
  app/routes/events/components/EventDetail/AttendeeSection.tsx
  app/routes/events/components/EventDetail/SidebarInfo.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
Labels: review-needed

#5127 Add semester dropdown to bdb
  app/components/Form/SelectInput.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/bdb.module.css
  app/routes/bdb/utils.tsx
Labels: review-needed

#5162 Update event type model
  app/store/models/Event.ts
Labels: flawless, review-needed, small-fix

#5168 Add new achievements for penalty count and update rarity color mapping
  app/routes/users/components/UserProfile/AchievementsBox.tsx
  app/store/models/User.ts
  app/utils/achievementConstants.ts
Labels: review-needed, small-fix

#5170 Fix automatic login after registering new user
  app/routes/users/components/UserConfirmation.tsx
Labels: review-needed, bug-fix, approved

#5171 Create Label component and improve radio/checkbox labels
  app/components/Form/Field.module.css
  app/components/Form/Field.tsx
  app/components/Form/FieldSet.module.css
  app/components/Form/FieldSet.tsx
  app/components/Form/Label.module.css
  app/components/Form/Label.tsx
  app/components/Form/MultiSelectGroup.module.css
  app/components/Form/MultiSelectGroup.tsx
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/companyInterest/components/CompanyInterest.module.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/companyInterest/components/Translations.ts
  app/routes/events/components/EventEditor/EditorSection/Details.tsx
  app/routes/events/components/EventEditor/EventEditor.module.css
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserSettings/UserSettings.tsx
Labels: enhancement, review-needed, approved, technical-debt

#5182 Fix toast icon mark for success
  app/components/Toast/Toast.tsx
Labels: enhancement, review-needed, approved

#5165 Add semester auto select to interest page
  app/components/Form/SelectInput.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
Labels: review-needed

#5181 Prevent endless skeleton loading on event details
  app/routes/events/components/JoinEventForm.tsx
Labels: enhancement, review-needed, bug-fix, small-fix, approved

#5186 Include a button to clear filter on filter sidebars
  packages/lego-bricks/src/components/Layout/Page/Sidebar.module.css
  packages/lego-bricks/src/components/Layout/Page/Sidebar.tsx
Labels: enhancement, review-needed, approved

#5183 Refactor login form and page
  app/components/Auth/index.tsx
  app/components/AuthSection/AuthSection.module.css
  app/components/AuthSection/AuthSection.tsx
  app/components/Header/index.tsx
  app/components/LoginForm/LoginForm.tsx
  app/components/LoginForm/LoginRequiredPage.tsx
  app/components/LoginForm/index.ts
  app/routes/auth/components/LoginPage.tsx
  app/routes/auth/index.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/company/components/CompaniesPage.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/frontpage/components/PublicFrontpage.tsx
  app/routes/index.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/utils/replaceUnlessLoggedIn.tsx
Labels: enhancement, review-needed, technical-debt

#5188 Update company edit design
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/bdb.module.css
Labels: review-needed

#5187 Make tables wider
  app/routes/bdb/components/BdbDetail.tsx
Labels: enhancement, review-needed, approved
