Repository webkom/lego-webapp, pull requests merged in 2024-04, with the labels that each got.

#4608 Refactor memberships and pages
  app/actions/GroupActions.ts
  app/models.ts
  app/reducers/memberships.ts
  app/reducers/pages.ts
  app/reducers/selectors.ts
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/admin/groups/components/GroupMembers.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/errors/HTTPError.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
  app/routes/pages/PageListRoute.ts
  app/routes/pages/components/LandingPage.tsx
  app/routes/pages/components/PageDetail.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/pages/components/PageHierarchy.tsx
  app/routes/pages/components/PageList.tsx
  app/routes/pages/components/Sidebar.tsx
  app/store/models/Group.d.ts
  app/store/models/Membership.d.ts
  app/store/models/Page.d.ts
Labels: review-needed

#4614 Use createSlice and legoAdapter for joblistings slice
  app/reducers/companies.ts
  app/reducers/joblistings.ts
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/joblistings/components/JoblistingPage.tsx
  app/store/models/Joblisting.ts
  app/utils/legoAdapter/createLegoAdapter.ts
Labels: review-needed, approved

#4615 Use createSlice and legoAdapter for polls slice
  app/actions/PollActions.ts
  app/reducers/polls.ts
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
  app/routes/polls/components/PollsList.tsx
  app/store/models/Poll.d.ts
Labels: review-needed, approved, technical-debt, chore

#4620 Revert "Add summer party 2024 (#4618)"
  app/assets/abagail.png
  app/assets/idi_hater_ham.png
  app/assets/logo-abahub.png
  app/assets/piller.png
  app/components/Footer/Footer.css
  app/components/Footer/index.tsx
  app/components/Header/FancyNodesCanvas.tsx
  app/components/Header/Header.css
  app/components/Header/index.tsx
  app/routes/app/AppRoute.css
  app/routes/app/AppRoute.tsx
  app/routes/events/utils.ts
  app/styles/variables.css
Labels: review-needed

#4552 Remove link to settings in calender for events
  app/routes/events/components/EventFooter.tsx
Labels: review-needed, bug-fix

#4550 Remove 'ingen er påmeldte' from registrations when not logged in
  app/routes/events/components/EventDetail/index.tsx
Labels: review-needed, bug-fix, approved

#4632 Up z-index of overlays
  app/routes/photos/components/GalleryPictureModal.css
  app/routes/photos/components/GalleryPictureModal.tsx
  app/styles/overlay.css
Labels: review-needed, bug-fix

#4594 Refactor and type surveys state and components
  app/reducers/__tests__/surveySubmissions.spec.ts
  app/reducers/surveySubmissions.ts
  app/reducers/surveys.ts
  app/routes/surveys/components/AddSubmission/AddSubmissionPage.tsx
  app/routes/surveys/components/AddSubmission/AlreadyAnswered.tsx
  app/routes/surveys/components/AddSubmission/SurveySubmissionForm.tsx
  app/routes/surveys/components/StaticSubmission.tsx
  app/routes/surveys/components/Submissions/Results.tsx
  app/routes/surveys/components/Submissions/SubmissionPublicResultsPage.tsx
  app/routes/surveys/components/Submissions/SubmissionsPage.tsx
  app/routes/surveys/components/SurveyDetail.tsx
  app/routes/surveys/components/SurveyEditor/EditSurveyPage.tsx
  app/routes/surveys/components/SurveyList/SurveyItem.tsx
  app/routes/surveys/components/SurveyList/SurveyList.tsx
  app/routes/surveys/components/SurveyList/SurveyListPage.tsx
  app/routes/surveys/index.tsx
  app/store/models/Survey.d.ts
  app/store/models/entities.ts
Labels: types, review-needed, approved, technical-debt, chore

#4630 Do not debounce local theme change
  app/components/Header/ToggleTheme.tsx
Labels: review-needed, bug-fix, approved

#4629 Update and fix search and menu styling
  app/components/Search/Search.css
  app/components/Search/SearchPageResults.css
  app/components/Search/SearchPageResults.tsx
  app/components/Search/SearchResults.tsx
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4634 Refactor redux penalites
  app/actions/UserActions.ts
  app/reducers/penalties.ts
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/routes/users/components/Penalties.tsx
Labels: types, review-needed, approved, technical-debt, chore

#4639 Require event content in editor
  app/components/Form/TextEditor.tsx
  app/routes/events/components/EventEditor/EditorSection/Descriptions.tsx
  app/routes/events/components/EventEditor/index.tsx
Labels: review-needed, bug-fix

#4643 Fix tooltip placement
  app/components/Comments/Comment.css
  app/components/Comments/Comment.tsx
Labels: review-needed

#4641 Refactor galleries redux code
  app/actions/ActionTypes.ts
  app/actions/GalleryActions.ts
  app/actions/GalleryPictureActions.ts
  app/assets/default-album-cover.jpg
  app/components/Gallery/Gallery.css
  app/components/Gallery/index.tsx
  app/components/PhotoUploadStatus/index.tsx
  app/reducers/__tests__/galleryPictures.spec.ts
  app/reducers/galleries.ts
  app/reducers/galleryPictures.ts
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryDetailsRow.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/photos/components/Overview.tsx
  app/routes/photos/components/utils.ts
  app/store/models/Gallery.d.ts
  app/store/models/GalleryPicture.d.ts
Labels: types, review-needed, testing-needed, chore

#4642 Add fetching state to legoAdapter pagination
  app/actions/callAPI.ts
  app/reducers/pages.ts
  app/reducers/selectors.ts
  app/routes/admin/email/components/EmailLists.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/admin/groups/components/GroupMembers.tsx
  app/routes/articles/components/ArticleList.tsx
  app/routes/company/components/CompaniesPage.tsx
  app/routes/meetings/components/MeetingList.tsx
  app/routes/polls/components/PollsList.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/surveys/components/SurveyList/SurveyListPage.tsx
  app/utils/createQueryString.ts
  app/utils/legoAdapter/__tests__/buildPaginationReducer.spec.ts
  app/utils/legoAdapter/__tests__/createLegoAdapter.spec.ts
  app/utils/legoAdapter/buildPaginationReducer.ts
Labels: enhancement, review-needed

#4628 Resolve bug showing active style and add subgroup to email
  app/components/Table/HeadCell.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/utils/legoAdapter/createLegoAdapter.ts
Labels: review-needed, bug-fix

#4647 Fix some issues with photo gallery page
  app/reducers/galleries.ts
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/Overview.tsx
Labels: review-needed

#4644 Reduce click-area of mazemap checkbox label
  app/components/Form/CheckBox.css
  app/components/Form/CheckBox.tsx
  app/components/Form/Field.tsx
  app/components/Form/MultiSelectGroup.tsx
  app/routes/meetings/components/MeetingEditor.tsx
Labels: review-needed, bug-fix

#4645 Improve description in error boundary
  app/components/ErrorBoundary/index.tsx
Labels: enhancement, review-needed, approved

#4648 Use legoAdpater and createSlice for imageGalleryEntries slice
  app/actions/EventActions.ts
  app/reducers/imageGallery.ts
  app/routes/events/components/EventEditor/index.tsx
  app/store/models/ImageGalleryEntry.d.ts
  app/store/models/entities.ts
Labels: types, review-needed, chore

#4635 Remove followers slices from redux
  app/actions/ActionTypes.ts
  app/actions/EventActions.ts
  app/reducers/__tests__/events.spec.ts
  app/reducers/events.ts
  app/reducers/followers.ts
  app/reducers/index.ts
  app/store/createRootReducer.ts
  app/store/middleware/websocketMiddleware.ts
Labels: review-needed

#4649 Match poll validation to backend
  app/routes/polls/components/PollEditor.tsx
Labels: review-needed, small-fix, technical-debt

#4646 Ensure permissions are present to display list
  app/routes/admin/groups/components/AddGroupPermission.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
Labels: review-needed, bug-fix, approved

#4655 Fix incorrect prop name in timeline acitivity
  app/components/Feed/index.tsx
Labels: review-needed, bug-fix, small-fix

#4656 Fix isNew-bug and add successMessages to mail-list
  app/actions/EmailListActions.ts
  app/routes/admin/email/components/EmailListEditor.tsx
Labels: review-needed, bug-fix

#4651 add some tooltip for events in interesseform
  app/routes/companyInterest/components/CompanyInterest.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/Translations.ts
Labels: review-needed, new-feature

#4657 Improve typescript types of form fields
  app/actions/FileActions.ts
  app/actions/callAPI.ts
  app/components/Form/CheckBox.tsx
  app/components/Form/EditorField.tsx
  app/components/Form/Field.tsx
  app/components/Form/FileUploadField.css
  app/components/Form/FileUploadField.tsx
  app/components/Form/ImageUploadField.tsx
  app/components/Form/PhoneNumberInput.tsx
  app/components/Form/RadioButton.tsx
  app/components/Form/SelectInput.tsx
  app/components/Form/TextEditor.tsx
  app/components/Form/TextInput.tsx
  app/components/Form/index.ts
  app/components/Search/withAutocomplete.tsx
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/email/components/EmailUserEditor.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/events/components/EventEditor/EditorSection/Details.tsx
  app/routes/events/components/EventEditor/EditorSection/Registration.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/utils/fetchJSON.ts
Labels: types, review-needed

#4640 Refactor companies redux code
  app/actions/CompanyActions.ts
  app/actions/CompanyInterestActions.ts
  app/actions/EventActions.ts
  app/actions/GalleryActions.ts
  app/actions/GalleryPictureActions.ts
  app/components/CollapsibleDisplayContent/index.tsx
  app/reducers/__tests__/companies.spec.ts
  app/reducers/__tests__/companySemester.spec.ts
  app/reducers/companies.ts
  app/reducers/companyInterest.ts
  app/reducers/companySemesters.ts
  app/routes/bdb/SortCompanies.ts
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/CompanyContactEditor.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/CompanyList.tsx
  app/routes/bdb/components/CompanySingleRow.tsx
  app/routes/bdb/components/OptionsBox.tsx
  app/routes/bdb/components/SemesterStatus.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/utils.tsx
  app/routes/company/components/CompaniesPage.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/companyInterest/utils.tsx
  app/store/models/Company.ts
  app/store/models/CompanyInterest.ts
  packages/lego-bricks/src/components/Modal/ConfirmModal.tsx
Labels: types, review-needed, technical-debt, chore
