Repository webkom/lego-webapp, pull requests merged in 2024-08, with the labels that each got.

#4827 Improve empty state message on joblisting list
  app/components/Content/ContentSidebar.tsx
  app/components/Form/CheckBox.css
  app/components/Form/CheckBox.tsx
  app/components/Form/Field.tsx
  app/components/Form/RadioButton.css
  app/components/Form/RadioButton.tsx
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/joblistings/components/JoblistingList.css
  app/routes/joblistings/components/JoblistingList.tsx
  app/routes/joblistings/components/JoblistingPage.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#4845 Replace a bunch of ionicon icons with lucide icons
  app/components/AnnouncementInLine/index.tsx
  app/components/Comments/Comment.css
  app/components/Comments/Comment.tsx
  app/components/Header/Header.css
  app/components/Header/index.tsx
  app/components/PhotoUploadStatus/index.tsx
  app/components/Search/SearchBar.tsx
  app/components/Search/utils.tsx
  app/components/Upload/ImageUpload.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/events/components/Admin.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/events/components/EventsTabs.tsx
  app/routes/forum/components/ForumEditor.tsx
  app/routes/forum/components/ThreadEditor.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/polls/components/PollDetail.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/SurveyEditor/Option.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/users/components/RemovePicture.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  cypress/e2e/event_visit_spec.js
  cypress/e2e/router_spec.js
  packages/lego-bricks/src/components/Card/index.tsx
  packages/lego-bricks/src/components/Layout/Page/Sidebar.tsx
  packages/lego-bricks/src/components/Modal/Modal.tsx
Labels: enhancement, review-needed, bug-fix, approved, chore

#4828 Remove duplicate global css file in lego-bricks
  packages/lego-bricks/src/global.css
Labels: discussion, review-needed, small-fix, approved, testing-needed, technical-debt

#4847 Update various spacings to employ standardized spacing
  app/components/Banner/Banner.css
  app/components/Chart/ChartLabel.tsx
  app/components/Chart/PieChart.tsx
  app/components/Comments/Comment.tsx
  app/components/DividerWithDots/DividerWithDots.css
  app/components/Feed/activity.css
  app/components/Feed/activity.tsx
  app/components/Form/DatePicker.css
  app/components/Form/Field.css
  app/components/Form/Field.tsx
  app/components/Form/TextEditor.css
  app/components/Form/TextInput.tsx
  app/components/GroupMember/GroupMember.css
  app/components/GroupMember/index.tsx
  app/components/Header/Header.css
  app/components/Header/index.tsx
  app/components/Poll/index.tsx
  app/components/Reactions/Reaction.tsx
  app/components/Upload/ImageUpload.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/articles/components/ArticleDetail.css
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/Event.css
  app/routes/events/components/JoinEventForm.tsx
  app/routes/frontpage/components/AuthenticatedFrontpage.css
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
  app/routes/frontpage/components/PublicFrontpage.css
  app/routes/frontpage/components/PublicFrontpage.tsx
  app/routes/interestgroups/components/InterestGroupList.tsx
  app/routes/photos/components/GalleryDetailsRow.css
  app/routes/photos/components/GalleryPictureModal.css
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/surveys/components/Submissions/Results.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/users/components/GroupChange.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  app/styles/variables.css
Labels: enhancement, review-needed, bug-fix, technical-debt, chore

#4814 Refactor bdb page
  app/components/Table/BodyCell.tsx
  app/components/Table/HeadCell.tsx
  app/components/Table/Table.css
  app/components/Table/index.tsx
  app/reducers/companies.ts
  app/routes/bdb/SortCompanies.ts
  app/routes/bdb/components/AddSemester.css
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/CompanyList.tsx
  app/routes/bdb/components/CompanySingleRow.tsx
  app/routes/bdb/components/OptionsBox.css
  app/routes/bdb/components/OptionsBox.tsx
  app/routes/bdb/components/SemesterStatus.css
  app/routes/bdb/components/SemesterStatus.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/bdb/components/__tests__/CompanyList.spec.tsx
  app/routes/bdb/components/bdb.css
  app/routes/bdb/utils.tsx
  packages/lego-bricks/src/components/Icon/index.tsx
  packages/lego-bricks/src/components/Layout/Page/Sidebar.module.css
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#4848 Prevent picture edit modal from closing when tagging
  app/routes/photos/components/GalleryPictureEditModal.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4830 Slightly refactor and retouch poll styling
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/components/Search/utils.tsx
  app/routes/polls/components/PollsList.css
  app/routes/polls/components/PollsList.tsx
  cypress/e2e/poll_spec.js
Labels: enhancement, review-needed, approved, technical-debt

#4821 Remove `es6-promise-pool` dependency
  app/actions/GalleryPictureActions.ts
  package.json
  yarn.lock
Labels: dependencies, review-needed, approved, technical-debt

#4877 Fix bad spacing on event details
  app/components/UserAttendance/Attendance.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/Registrations.css
Labels: enhancement, review-needed, bug-fix, approved

#4878 Improve contact info on joblistings
  app/components/Header/Navbar/ItemList.tsx
  app/components/InfoList/styles.css
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
Labels: enhancement, review-needed, bug-fix, approved

#4889 Fix z-index issue on registration warning
  app/components/Header/Header.css
Labels: priority:high, review-needed, bug-fix, approved

#4888 Fix bad field widths
  app/components/Form/Field.css
  app/routes/admin/groups/components/GroupForm/index.css
  app/routes/admin/groups/components/GroupForm/index.tsx
Labels: review-needed, bug-fix, approved

#4895 Fix bug in table filtering breaking group member list
  app/components/Table/index.tsx
  app/routes/admin/groups/components/GroupMembers.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
Labels: review-needed

#4897 Refactor EmptyState component
  app/components/EmptyState/EmptyState.css
  app/components/EmptyState/index.tsx
  app/components/EventListCompact/index.tsx
  app/components/Feed/index.tsx
  app/components/HeaderNotifications/index.tsx
  app/components/Poll/index.tsx
  app/components/Reactions/ReactionPickerContent.css
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Search/SearchPageResults.tsx
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/announcements/components/AnnouncementsList.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/events/components/EventList.tsx
  app/routes/frontpage/components/UpcomingRegistrations.tsx
  app/routes/joblistings/components/JoblistingList.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/photos/components/Overview.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/routes/surveys/components/StaticSubmission.tsx
  app/routes/surveys/components/Submissions/SubmissionPublicResultsPage.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/surveys/components/SurveyList/SurveyList.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
Labels: review-needed, bug-fix, approved, technical-debt, chore

#4898 Create initial layout of interestgroup portal
  app/routes/interestgroups/components/InterestGroup.css
  app/routes/interestgroups/components/InterestGroupApplyCreateApplication.tsx
  app/routes/interestgroups/components/InterestGroupInfo.tsx
  app/routes/interestgroups/components/InterestGroupList.tsx
  app/routes/interestgroups/components/InterestGroupMoneyApplication.tsx
  app/routes/interestgroups/index.tsx
Labels: review-needed, approved

#4912 Improve tooltip performance by replacing library
  app/components/Comments/Comment.tsx
  app/components/Tooltip/Tooltip.css
  app/components/Tooltip/index.tsx
  package.json
  yarn.lock
Labels: review-needed

#4911 Resolve reload bug on page edit
  app/routes/pages/components/PageEditor.tsx
Labels: review-needed

#4908 Minor improvements to joblisting items
  app/components/JoblistingItem/Items.tsx
  app/components/JoblistingItem/index.tsx
Labels: enhancement, review-needed, approved

#4914 Update banner for admissions 2024
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
  app/routes/frontpage/components/PublicFrontpage.tsx
Labels: review-needed, approved

#4896 Replace a bunch of ionicons with lucide
  app/components/EventItem/index.tsx
  app/components/TextWithIcon/TextWithIcon.css
  app/components/TextWithIcon/index.tsx
  app/components/UserValidator/Validator.css
  app/components/UserValidator/index.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/CompanyContactEditor.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/brand/components/BrandPage.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/Admin.tsx
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/forum/components/ForumEditor.tsx
  app/routes/forum/components/ThreadEditor.tsx
  app/routes/frontpage/components/UpcomingRegistrations.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/pages/components/PageEditor.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/SurveyEditor/EditSurveyPage.tsx
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  packages/lego-bricks/src/components/Layout/Page/Page.tsx
Labels: enhancement, review-needed, bug-fix, approved, chore

#4915 Fix spacing glitch for tooltips
  app/components/Tooltip/Tooltip.css
Labels: review-needed, bug-fix, approved

#4916 Bump lego-editor to v2.4.0
  package.json
  yarn.lock
Labels: approved

#4928 Wrap comments to prevent buggy shifted pages
  app/components/Comments/Comment.css
Labels: review-needed, bug-fix, small-fix, approved
