Repository webkom/lego-webapp, pull requests merged in 2024-12, with the labels that each got.

#5221 Hide back link on company interest page when not editing
  app/routes/companyInterest/components/CompanyInterestPage.tsx
Labels: review-needed, bug-fix, small-fix, approved

#5220 Clean up toasts
  app/actions/CompanyActions.ts
  app/actions/CompanyInterestActions.ts
  app/actions/ContactActions.ts
  app/actions/QuoteActions.ts
  app/components/Toast/Toast.module.css
  app/components/Toast/Toast.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/quotes/components/AddQuote.tsx
  app/store/middleware/websocketMiddleware.ts
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#5234 Improve look of toasts on smaller viewports
  app/components/Toast/Toast.module.css
Labels: enhancement, review-needed, small-fix, approved

#5236 Fix various empty states
  app/components/EmptyState/EmptyState.module.css
  app/components/HeaderNotifications/index.tsx
  app/routes/forum/components/ForumList.tsx
  app/routes/meetings/components/MeetingList.module.css
  app/routes/meetings/components/MeetingList.tsx
Labels: enhancement, review-needed, small-fix, approved, technical-debt, chore

#5230 Include registration statuses to event items
  app/components/EventItem/RegistrationStatusTag.tsx
  app/components/EventItem/index.tsx
  app/components/EventItem/styles.module.css
  app/components/Tags/Tag.tsx
  app/routes/events/components/EventList.tsx
  app/routes/users/components/UserProfile/index.tsx
  app/store/models/Event.ts
Labels: enhancement, review-needed, new-feature, approved, technical-debt

#5233 Improve and clean up search menu
  app/actions/MetaActions.ts
  app/components/Header/FancyNodesCanvas.module.css
  app/components/Header/FancyNodesCanvas.tsx
  app/components/Header/Header.module.css
  app/components/Header/drawFancyNodes.ts
  app/components/Header/index.tsx
  app/components/Search/Search.module.css
  app/components/Search/SearchBar.tsx
  app/components/Search/SearchResults.tsx
  app/components/Search/index.tsx
  app/components/Search/utils.tsx
  app/routes/app/AppRoute.module.css
  app/routes/app/AppRoute.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/search/SearchPageWrapper.tsx
  app/routes/users/components/UserSettings/StudentConfirmation.tsx
  app/styles/variables.css
  app/utils/themeUtils.tsx
  cypress/e2e/router_spec.js
Labels: enhancement, review-needed, approved, technical-debt

#5232 Extend DatePicker to support ranges
  .drone.yml
  app/components/Form/DatePicker.module.css
  app/components/Form/DatePicker.tsx
  app/components/Form/TextInput.tsx
  app/components/Form/TimePicker.tsx
  app/components/Table/Table.module.css
  app/models.ts
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/routes/events/components/EventEditor/EditorSection/Details.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/utils.ts
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/styles/globals.css
  app/utils/parseDateValue.ts
  app/utils/validation.ts
  cypress/e2e/create_event_spec.js
  cypress/e2e/create_meeting_spec.js
  cypress/support/utils.js
Labels: enhancement, review-needed, bug-fix, new-feature, approved, technical-debt

#5109 Make a button that show who has reacted on pizza and not
  app/components/Reactions/Reaction.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/PizzaButton.tsx
Labels: review-needed, new-feature

#5218 Support previous events on event list (and a toggle switch!)
  app/components/EventItem/RegistrationStatusTag.tsx
  app/components/Form/ToggleSwitch.module.css
  app/components/Form/ToggleSwitch.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/companyInterest/components/Translations.ts
  app/routes/events/components/EventList.module.css
  app/routes/events/components/EventList.tsx
  app/routes/joblistings/components/JoblistingList.module.css
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/users/components/UserSettings/UserSettings.tsx
  app/store/models/CompanyInterest.ts
  cypress/e2e/company_interest_spec.js
Labels: enhancement, review-needed, new-feature, approved

#5237 Implement filtering on companies and company interests
  app/actions/CompanyActions.ts
  app/components/Search/Search.module.css
  app/reducers/companies.ts
  app/reducers/companySemesters.ts
  app/routes/admin/email/components/EmailLists.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/articles/components/ArticleList.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/companyInterest/components/CompanyInterest.module.css
  app/routes/bdb/components/companyInterest/components/CompanyInterestList.tsx
  app/routes/bdb/components/companyInterest/components/CompanyInterestPage.tsx
  app/routes/bdb/components/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/bdb/components/companyInterest/components/Translations.ts
  app/routes/bdb/components/companyInterest/utils.tsx
  app/routes/bdb/index.tsx
  app/routes/bdb/utils.tsx
  app/routes/company/components/CompaniesPage.module.css
  app/routes/company/components/CompaniesPage.tsx
  app/routes/companyInterest/index.tsx
  app/routes/index.tsx
Labels: enhancement, future-was-2-years-ago, review-needed, bug-fix, new-feature, approved

#5254 Add pagination to BDB
  app/actions/CompanyActions.ts
  app/routes/bdb/components/BdbPage.tsx
Labels: enhancement, review-needed, technical-debt

#5161 Remove duplicate settings button
  app/routes/users/components/UserProfile/UserProfile.module.css
  app/routes/users/components/UserProfile/index.tsx
Labels: enhancement, approved

#5253 Refactor and clean up achievements on user profile
  app/components/EventItem/styles.module.css
  app/routes/users/components/UserProfile/Achievements.tsx
  app/routes/users/components/UserProfile/AchievementsBox.tsx
  app/routes/users/components/UserProfile/GroupMemberships.tsx
  app/routes/users/components/UserProfile/UserProfile.module.css
  app/routes/users/components/UserProfile/index.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt

#5252 Improve and fix navigation tabs on smaller viewports
  packages/lego-bricks/src/components/Tabs/TabContainer.module.css
  packages/lego-bricks/src/components/Tabs/TabContainer.tsx
Labels: enhancement, review-needed, bug-fix, approved

#5250 Only validate payment deadline if event is priced
  app/routes/events/components/EventEditor/index.tsx
Labels: flawless, priority:high, review-needed, bug-fix, approved

#5256 Refactor and improve contents
  app/actions/CompanyActions.ts
  app/actions/EventActions.ts
  app/actions/RestrictedMailActions.ts
  app/components/Auth/index.tsx
  app/components/Content/ContentSection.module.css
  app/components/Content/ContentSection.tsx
  app/components/Toast/Toast.module.css
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/email/components/EmailLists.tsx
  app/routes/admin/email/components/EmailUserEditor.tsx
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/admin/email/components/RestrictedMails.tsx
  app/routes/admin/email/index.tsx
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/announcements/components/AnnouncementsList.module.css
  app/routes/announcements/components/AnnouncementsList.tsx
  app/routes/articles/components/ArticleEditor.module.css
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/bdb/components/AddSemester.module.css
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/bdb.module.css
  app/routes/bdb/components/companyInterest/components/CompanyInterest.module.css
  app/routes/bdb/components/companyInterest/components/CompanyInterestList.tsx
  app/routes/bdb/components/companyInterest/components/CompanyInterestPage.tsx
  app/routes/bdb/components/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/bdb/components/companyInterest/components/Translations.ts
  app/routes/bdb/index.tsx
  app/routes/events/components/Analytics.module.css
  app/routes/events/components/Analytics.tsx
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/routes/events/components/EventAttendeeStatistics.module.css
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventDetail/EventDetail.module.css
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/events/components/EventEditor/EventEditor.module.css
  app/routes/events/components/JoinEventForm.tsx
  app/routes/surveys/components/AddSubmission/AddSubmissionPage.tsx
  app/routes/surveys/components/AddSubmission/AlreadyAnswered.tsx
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
  app/routes/surveys/components/surveys.module.css
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserSettings/StudentConfirmation.tsx
  app/routes/users/components/UserSettings/UserSettingsNotifications.tsx
  app/routes/users/components/UserSettings/UserSettingsOAuth2.tsx
  packages/lego-bricks/src/components/Card/Card.module.css
Labels: enhancement, review-needed, bug-fix, approved, technical-debt, chore
