Repository webkom/lego-webapp, pull requests merged in 2024-03, with the labels that each got.

#4490 Update redux and redux-toolkit
  app/reducers/comments.ts
  app/store/createStore.ts
  app/store/models/entities.ts
  app/utils/legoAdapter/createLegoAdapter.ts
  config/webpack.client.js
  config/webpack.dll.js
  package.json
  yarn.lock
Labels: dependencies, review-needed, approved, technical-debt

#4491 Removed banner from front-page and overview
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/PublicFrontpage.tsx
Labels: review-needed, small-fix, approved

#4495 Add Beta tags to the forum
  app/components/Search/utils.tsx
  app/routes/forum/components/ForumList.tsx
Labels: review-needed, small-fix, approved

#4488 Refactor some simple redux-slices to use legoAdapter
  app/actions/EmojiActions.ts
  app/components/Feed/renders/event_register.tsx
  app/reducers/__tests__/announcements.spec.ts
  app/reducers/announcements.ts
  app/reducers/articles.ts
  app/reducers/auth.ts
  app/reducers/emailLists.ts
  app/reducers/emailUsers.ts
  app/reducers/emojis.ts
  app/reducers/restrictedMails.ts
  app/reducers/users.ts
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/email/components/EmailUserEditor.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/admin/email/components/RestrictedMails.tsx
  app/utils/legoAdapter/createLegoAdapter.ts
Labels: review-needed, approved, technical-debt, chore

#4481 Redesign poll component
  app/components/Poll/Poll.css
  app/components/Poll/index.tsx
  app/routes/overview/components/Overview.tsx
  app/routes/polls/components/PollDetail.tsx
  cypress/e2e/poll_spec.js
Labels: enhancement, review-needed, bug-fix

#4496 Remove old "special day" code
  app/components/SpecialDay/AprilFools/AprilFools.css
  app/components/SpecialDay/AprilFools/LoadingBox.css
  app/components/SpecialDay/AprilFools/LoadingBox.tsx
  app/components/SpecialDay/AprilFools/index.tsx
  app/components/SpecialDay/index.ts
  app/routes/app/AppRoute.tsx
Labels: review-needed, approved, chore

#4493 Give poll editor a background
  app/routes/polls/components/PollEditor.tsx
  app/routes/polls/index.tsx
Labels: review-needed, bug-fix, approved

#4475 Fix paging and members table becoming empty
  app/routes/admin/groups/components/AddGroupMember.tsx
  app/routes/admin/groups/components/GroupMembers.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
Labels: question, priority:high, review-needed, bug-fix, approved

#4515 Fix Article fetching forever
  app/actions/ArticleActions.ts
  app/routes/articles/components/Overview.tsx
Labels: review-needed, bug-fix, approved

#4514 Minor changes to event detail page
  app/components/Content/ContentHeader.css
  app/components/Content/ContentHeader.tsx
  app/routes/events/components/Admin.css
  app/routes/events/components/Admin.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/index.tsx
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/surveys/components/AddSubmission/AddSubmissionPage.tsx
Labels: enhancement, review-needed, bug-fix, approved, technical-debt, chore

#4531 Refactor frontpage logic and improve types
  app/actions/FrontpageActions.ts
  app/actions/MetaActions.ts
  app/components/RandomQuote/RandomQuote.tsx
  app/components/Search/utils.tsx
  app/reducers/__tests__/quotes.spec.ts
  app/reducers/allowed.ts
  app/reducers/articles.ts
  app/reducers/frontpage.ts
  app/reducers/quotes.ts
  app/reducers/reactions.ts
  app/reducers/readme.ts
  app/routes/overview/components/CompactEvents.tsx
  app/routes/overview/components/EventItem.tsx
  app/routes/overview/components/FrontpageEventItem.tsx
  app/routes/overview/components/LatestReadme.tsx
  app/routes/overview/components/NextEvent.tsx
  app/routes/overview/components/Overview.tsx
  app/routes/overview/components/Pinned.tsx
  app/routes/overview/components/PublicFrontpage.tsx
  app/routes/overview/components/utils.tsx
  app/routes/quotes/components/QuotePage.tsx
  app/utils/eventStatus.ts
  app/utils/legoAdapter/createLegoAdapter.ts
  cypress/e2e/home_page_spec.js
  cypress/e2e/router_spec.js
Labels: types, review-needed, approved, technical-debt, chore

#4530 Let users filter announcement recipients further
  app/actions/AnnouncementsActions.ts
  app/routes/announcements/components/AnnouncementItem.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
  app/routes/announcements/components/AnnouncementsList.css
  app/routes/announcements/components/AnnouncementsList.tsx
  app/store/models/Announcement.d.ts
Labels: review-needed, new-feature, approved

#4538 Fix "send announcement" link button
  app/components/AnnouncementInLine/index.tsx
  app/routes/announcements/components/AnnouncementItem.tsx
  app/routes/announcements/components/AnnouncementsCreate.tsx
Labels: review-needed, bug-fix, approved

#4539 Various refactoring
  app/actions/ArticleActions.ts
  app/routes/articles/articles.css
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/articles/components/ArticleList.tsx
  app/routes/articles/index.tsx
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
  app/routes/frontpage/components/NextEvent.tsx
  app/routes/frontpage/components/UpcomingRegistrations.css
  app/routes/frontpage/components/UpcomingRegistrations.tsx
  app/types.ts
Labels: review-needed, approved, technical-debt

#4516 Add up button at the end of events on front page
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
Labels: help-wanted, review-needed, approved

#4545 Refactor styling of gallery component and fix dispatch-bug
  app/components/Gallery/Gallery.css
  app/components/Gallery/index.tsx
  app/components/Paginator/index.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryEditorActions.tsx
  app/routes/photos/components/Overview.css
  app/routes/photos/components/Overview.tsx
Labels: enhancement, bug-fix, approved, technical-debt

#4492 Clean up survey results
  app/actions/SurveySubmissionActions.ts
  app/components/Chart/BarChart.tsx
  app/components/Chart/Chart.css
  app/components/Chart/ChartLabel.tsx
  app/components/Chart/PieChart.tsx
  app/components/Form/SelectInput.tsx
  app/components/HeaderNotifications/HeaderNotifications.css
  app/components/JoblistingItem/JoblistingItem.css
  app/components/Reactions/ReactionPickerContent.css
  app/reducers/surveySubmissions.ts
  app/reducers/surveys.ts
  app/routes/forum/components/ForumList.css
  app/routes/interestgroups/components/InterestGroup.css
  app/routes/pages/components/PageHierarchy.css
  app/routes/photos/components/Overview.css
  app/routes/surveys/components/Submissions/Results.tsx
  app/routes/surveys/components/Submissions/SubmissionPublicResultsPage.tsx
  app/routes/surveys/components/Submissions/SubmissionsIndividual.tsx
  app/routes/surveys/components/Submissions/SubmissionsPage.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/surveys/components/surveys.css
  app/styles/variables.css
Labels: enhancement, types, review-needed, bug-fix, approved, technical-debt, chore

#4483 Redesign event edit page
  app/components/Form/DatePicker.css
  app/components/Form/ImageUploadField.css
  app/components/Form/SelectInput.tsx
  app/components/Upload/ImageUpload.tsx
  app/components/Upload/UploadImage.css
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/companyInterest/components/CompanyInterestPage.tsx
  app/routes/events/components/EventEditor/EditorSection/Descriptions.tsx
  app/routes/events/components/EventEditor/EditorSection/Details.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/events/components/EventEditor/EditorSection/Registration.tsx
  app/routes/events/components/EventEditor/EditorSection/index.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/index.tsx
  app/routes/photos/components/GalleryEditor.tsx
  app/routes/photos/components/GalleryPictureEditModal.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/styles/overlay.css
  app/styles/variables.css
  cypress/e2e/create_event_spec.js
  cypress/support/utils.js
  packages/lego-bricks/src/components/Modal/Modal.module.css
  packages/lego-bricks/src/variables.css
Labels: enhancement, review-needed, bug-fix, approved

#4559 Add z-index to reaction picker
  app/components/Reactions/ReactionPicker.css
Labels: review-needed, bug-fix, approved

#4553 Add previous semesters to the filter under company interest
  app/routes/companyInterest/components/CompanyInterestList.tsx
Labels: review-needed, approved

#4562 Improved the countdown with a component
  app/components/CountDown/index.tsx
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
Labels: review-needed, new-feature

#4528 Introduce "too late" presence option to event attendees
  app/actions/EventActions.ts
  app/models.ts
  app/routes/events/components/EventAdministrate/Administrate.css
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/store/models/Registration.ts
Labels: review-needed, new-feature, approved

#4565 Separate multiple article authors only by a comma
  app/routes/articles/components/ArticleDetail.css
  app/routes/articles/components/ArticleDetail.tsx
Labels: review-needed, bug-fix, approved

#4560 Refactor and type feed rendering components
  app/components/Feed/ActivityRenderer.d.ts
  app/components/Feed/Tag.tsx
  app/components/Feed/activity.tsx
  app/components/Feed/context.tsx
  app/components/Feed/index.tsx
  app/components/Feed/renders/adminRegistration.tsx
  app/components/Feed/renders/announcement.tsx
  app/components/Feed/renders/comment.tsx
  app/components/Feed/renders/comment_reply.tsx
  app/components/Feed/renders/event_register.tsx
  app/components/Feed/renders/group.tsx
  app/components/Feed/renders/meetingInvitation.tsx
  app/components/Feed/renders/registrationBump.tsx
  app/components/Feed/renders/restrictedMail.tsx
  app/components/Feed/renders/utils.ts
  app/components/Feed/renders/utils.tsx
  app/components/Feed/types.ts
  app/components/HeaderNotifications/index.tsx
  app/routes/frontpage/components/Feed.css
  app/routes/frontpage/components/Feed.tsx
  app/store/models/FeedActivity.d.ts
  app/store/models/FeedActivity.ts
  app/store/models/FeedAttrCache.d.ts
  app/store/models/entities.ts
  app/utils/joinValues.tsx
Labels: types, review-needed, bug-fix, approved, technical-debt

#4556 Improve spacing and etc. here and there
  app/assets/sentry-aw-snap.svg
  app/components/Comments/CommentTree.css
  app/components/Comments/CommentTree.tsx
  app/components/Comments/CommentView.tsx
  app/components/Content/Content.css
  app/components/ErrorBoundary/ErrorBoundary.css
  app/components/ErrorBoundary/index.tsx
  app/components/Form/PhoneNumberInput.css
  app/components/Form/PhoneNumberInput.tsx
  app/components/Form/TextInput.css
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/CompanyContactEditor.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/CompanySingleRow.tsx
  app/routes/bdb/components/OptionsBox.css
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAttendeeStatistics.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/utils.ts
  app/routes/users/AllergiesOrPreferencesField.tsx
  app/routes/users/components/DeleteUser.tsx
  app/routes/users/components/RemovePicture.css
  app/routes/users/components/RemovePicture.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserSettings.css
  app/routes/users/components/UserSettings.tsx
  app/routes/users/utils.ts
  app/store/models/User.ts
  app/utils/validation.ts
  cypress/e2e/profile_spec.js
  cypress/support/utils.js
Labels: enhancement, review-needed, approved, technical-debt, chore

#4567 Fill placeholder background on image upload
  app/components/Upload/UploadImage.css
Labels: review-needed, bug-fix, approved

#4529 Warn users about using their student mail when registering
  app/components/LoginForm/RegisterForm.css
  app/components/LoginForm/RegisterForm.tsx
Labels: enhancement, review-needed, approved

#4566 Add background color to mazemap embed
  app/components/MazemapEmbed/MazemapEmbed.css
Labels: review-needed, small-fix, approved

#4558 Use variables.css from lego-webapp in lego-bricks
  app/styles/README.md
  packages/lego-bricks/src/global.css
  packages/lego-bricks/src/variables.css
Labels: review-needed, testing-needed

#4568 Update countdown
  app/components/Banner/Banner.css
  app/components/Banner/index.tsx
  app/components/CountDown/index.tsx
Labels: review-needed

#4570 Up z-index for toast and gallery dropdown
  app/components/Toast/ToastContainer.tsx
  app/routes/photos/components/GalleryPictureModal.css
Labels: review-needed

#4571 Fix bug in callAPI() breaking public survey results page
  app/actions/callAPI.ts
Labels: review-needed, bug-fix, approved

#4577 Add front end validation for email list recipients
  app/routes/admin/email/components/EmailListEditor.tsx
Labels: enhancement, review-needed, small-fix, approved

#4586 Fix crash on login
  app/actions/UserActions.ts
Labels: priority:high, review-needed, bug-fix

#4575 Make event rules more visible
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
Labels: enhancement, review-needed, approved

#4592 Fix initialvalues for joblisting editor
  app/routes/joblistings/components/JoblistingEditor.tsx
Labels: review-needed

#4593 Clear error code when navigating to new page
  app/actions/ActionTypes.ts
  app/actions/RoutingActions.ts
  app/actions/UserActions.ts
  app/actions/callAPI.ts
  app/reducers/__tests__/routing.spec.ts
  app/reducers/routing.ts
  app/routes/app/AppRoute.tsx
  app/routes/errors/HTTPError.tsx
Labels: types, review-needed, bug-fix, technical-debt

#4596 Refactor and type meetings state and components
  app/actions/ActionTypes.ts
  app/actions/MeetingActions.ts
  app/actions/callAPI.ts
  app/components/Header/index.tsx
  app/reducers/__tests__/meetings.spec.ts
  app/reducers/__tests__/meetingsToken.spec.ts
  app/reducers/__tests__/reactions.spec.ts
  app/reducers/meetings.ts
  app/reducers/meetingsToken.ts
  app/reducers/reactions.ts
  app/reducers/selectors.ts
  app/routes/meetings/MeetingDetailWrapper.tsx
  app/routes/meetings/components/MeetingAnswer.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/meetings/components/MeetingList.tsx
  app/store/createRootReducer.ts
  app/store/models/Meeting.d.ts
  cypress/e2e/router_spec.js
Labels: types, review-needed, approved, technical-debt

#4591 Replace UserContext with redux state selectors
  app/components/CommentForm/index.tsx
  app/components/Comments/Comment.tsx
  app/components/Comments/__tests__/CommentTree.spec.tsx
  app/components/Footer/index.tsx
  app/components/Header/Navbar/Navbar.tsx
  app/components/Header/ToggleTheme.tsx
  app/components/Header/index.tsx
  app/components/Reactions/Reaction.tsx
  app/components/Reactions/ReactionPickerContent.tsx
  app/components/Reactions/index.tsx
  app/components/Search/index.tsx
  app/reducers/auth.ts
  app/reducers/followers.ts
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/app/AppRoute.tsx
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/contact/components/ContactForm.tsx
  app/routes/events/components/Calendar.tsx
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventList.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/__tests__/JoinEventFormCountdownProvider.spec.tsx
  app/routes/forum/components/ThreadDetail.tsx
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
  app/routes/frontpage/components/FrontpageEventItem.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/meetings/MeetingDetailWrapper.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/MeetingEditor.tsx
  app/routes/meetings/components/MeetingList.tsx
  app/routes/pages/components/LandingPage.tsx
  app/routes/pages/components/PageDetail.tsx
  app/routes/photos/components/GalleryDetail.tsx
  app/routes/surveys/components/AddSubmission/AddSubmissionPage.tsx
  app/routes/users/components/ChangePassword.tsx
  app/routes/users/components/PasswordField.tsx
  app/routes/users/components/PasswordStrengthMeter.tsx
  app/routes/users/components/StudentConfirmation.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserResetPassword.tsx
  app/routes/users/components/UserSettings.tsx
  app/routes/users/components/UserSettingsIndex.tsx
  app/routes/users/components/UserSettingsNotifications.tsx
  app/routes/users/utils.ts
  app/store/models/User.ts
  app/utils/replaceUnlessLoggedIn.tsx
  server/pageRenderer.ts
Labels: types, review-needed, approved, technical-debt

#4598 Fix error when updating event
  app/reducers/users.ts
Labels: flawless, review-needed, bug-fix, approved

#4578 Show previous joblistings for company on bdb
  app/actions/CompanyActions.ts
  app/actions/JoblistingActions.ts
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/joblistings/components/JoblistingPage.tsx
Labels: review-needed, new-feature, approved

#4569 Add pool suggestions displaying frequently used groups
  app/components/Form/SelectInput.tsx
  app/components/Pill/index.tsx
  app/routes/events/components/EventEditor/EventEditor.css
  app/routes/events/components/EventEditor/PoolSuggestions.tsx
  app/routes/events/components/EventEditor/renderPools.tsx
Labels: enhancement, review-needed, approved

#4595 Use createAsyncThunk to fully type readme fetch action
  app/actions/ActionTypes.ts
  app/actions/FrontpageActions.ts
  app/reducers/__tests__/readme.spec.ts
  app/reducers/readme.ts
Labels: types, review-needed, technical-debt

#4561 Migrate to RouterProvider
  app/Root.tsx
  app/routes/admin/email/index.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/admin/index.tsx
  app/routes/announcements/index.tsx
  app/routes/app/AppRoute.tsx
  app/routes/articles/index.tsx
  app/routes/bdb/index.tsx
  app/routes/brand/index.tsx
  app/routes/company/index.tsx
  app/routes/companyInterest/index.tsx
  app/routes/contact/index.tsx
  app/routes/events/components/EventAdministrate/index.tsx
  app/routes/events/index.tsx
  app/routes/forum/index.tsx
  app/routes/index.tsx
  app/routes/interestgroups/index.tsx
  app/routes/joblistings/index.tsx
  app/routes/meetings/index.tsx
  app/routes/pageNotFound/index.tsx
  app/routes/pages/index.tsx
  app/routes/photos/index.tsx
  app/routes/polls/index.tsx
  app/routes/quotes/index.tsx
  app/routes/search/index.tsx
  app/routes/surveys/components/Submissions/SubmissionsIndividual.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/surveys/index.tsx
  app/routes/tags/index.tsx
  app/routes/timeline/index.tsx
  app/routes/userValidator/index.tsx
  app/routes/users/components/UserSettingsIndex.tsx
  app/routes/users/index.tsx
  server/request.ts
  server/server.ts
  server/ssr.tsx
Labels: enhancement, review-needed, chore

#4601 Validate article editor
  app/routes/articles/components/ArticleEditor.tsx
Labels: review-needed, bug-fix, approved

#4600 Remove penalty divider for users missing action grant
  app/routes/users/components/Penalties.tsx
  app/routes/users/components/PenaltyForm.tsx
Labels: review-needed, small-fix, approved

#4576 Extend email-user view to show more groups
  app/actions/GroupActions.ts
  app/actions/callAPI.ts
  app/models.ts
  app/reducers/selectors.ts
  app/routes/admin/email/components/EmailUsers.tsx
  app/routes/events/components/EventAdministrate/Statistics.tsx
  app/utils/createQueryString.ts
Labels: enhancement, review-needed

#4602 Fix undefined meeting error in meeting detail page
  app/routes/meetings/components/MeetingDetail.tsx
Labels: review-needed

#4597 Refactor and type four simple redux slices
  app/actions/ActionTypes.ts
  app/actions/TagActions.ts
  app/reducers/__tests__/tags.spec.ts
  app/reducers/forums.ts
  app/reducers/index.ts
  app/reducers/oauth2.ts
  app/reducers/oauth2Applications.ts
  app/reducers/oauth2Grants.ts
  app/reducers/tags.ts
  app/routes/articles/components/ArticleList.tsx
  app/routes/forum/components/ForumDetail.tsx
  app/routes/forum/components/ForumEditor.tsx
  app/routes/forum/components/ForumList.tsx
  app/routes/tags/components/TagCloud.tsx
  app/routes/tags/components/TagDetail.tsx
  app/routes/users/components/UserSettingsOAuth2.tsx
  app/routes/users/components/UserSettingsOAuth2Form.tsx
  app/store/createRootReducer.ts
  app/store/models/Forum.ts
  app/store/models/entities.ts
Labels: types, review-needed, approved, testing-needed, technical-debt

#4603 Fix joining and leaving interest groups
  app/routes/interestgroups/components/InterestGroupDetail.tsx
Labels: review-needed, bug-fix

#4606 Make InterestGroupMemberList into a function component
  app/routes/interestgroups/components/InterestGroupMemberList.tsx
Labels: future-was-2-years-ago, review-needed, approved, technical-debt

#4605 Use EntityType enum for schema keys
  app/reducers/index.ts
Labels: types, review-needed, small-fix, approved

#4607 Type and refactor notificationSettings redux slice
  app/reducers/__tests__/notificationSettings.spec.ts
  app/reducers/notificationSettings.ts
Labels: review-needed, approved, chore

#4604 Improve lego adaptor selectors
  app/reducers/comments.ts
  app/reducers/groups.ts
  app/reducers/restrictedMails.ts
  app/reducers/users.ts
  app/routes/admin/email/components/EmailListEditor.tsx
  app/routes/admin/email/components/EmailUserEditor.tsx
  app/routes/admin/email/components/RestrictedMailEditor.tsx
  app/routes/admin/groups/components/GroupForm/index.tsx
  app/routes/admin/groups/components/GroupPage.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/articles/components/ArticleDetail.tsx
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/forum/components/ForumDetail.tsx
  app/routes/forum/components/ForumList.tsx
  app/routes/forum/components/ThreadDetail.tsx
  app/routes/interestgroups/components/InterestGroupDetail.tsx
  app/routes/interestgroups/components/InterestGroupEdit.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/tags/components/TagCloud.tsx
  app/routes/tags/components/TagDetail.tsx
  app/routes/users/components/UserSettingsOAuth2Form.tsx
  app/store/models/RestrictedMail.d.ts
  app/store/models/entities.ts
  app/utils/legoAdapter/buildPaginationReducer.ts
  app/utils/legoAdapter/createLegoAdapter.ts
Labels: review-needed, approved

#4616 Remove countdown
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
Labels: review-needed
