Repository webkom/lego-webapp, pull requests merged in 2024-10, with the labels that each got.

#4997 Bump lego-editor
  app/components/CommentForm/CommentForm.css
  app/styles/globals.css
  package.json
  packages/lego-bricks/package.json
  yarn.lock
Labels: review-needed

#5027 Update reaction icons to Lucide icons
  app/components/Reactions/ReactionPickerCategory.tsx
  app/components/Reactions/assets/AddReactionEmoji.tsx
  app/components/Reactions/index.tsx
Labels: enhancement, review-needed, approved, chore

#4998 Add hover animation to eventList
  app/components/EventItem/index.tsx
  app/components/EventItem/styles.css
  app/routes/frontpage/components/UpcomingRegistrations.css
  app/routes/frontpage/components/UpcomingRegistrations.tsx
Labels: enhancement, review-needed, changes-requested

#5019 Fix attendance modal overflowing when searching on mobile
  app/components/UserAttendance/AttendanceModalContent.css
  packages/lego-bricks/src/components/Modal/Modal.module.css
Labels: review-needed, bug-fix, approved

#5026 Improve various spacings
  app/components/EventItem/index.tsx
  app/components/EventItem/styles.css
  app/components/EventListCompact/index.tsx
  app/components/JoblistingItem/JoblistingItem.css
  app/components/JoblistingItem/index.tsx
  app/components/Reactions/index.css
  app/components/UserAttendance/AttendanceStatus.css
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/UnansweredSurveys.tsx
  app/routes/events/components/EventList.css
  app/routes/events/components/EventList.tsx
  app/routes/events/components/Registrations.css
  app/routes/frontpage/components/UpcomingRegistrations.css
  app/routes/frontpage/components/UpcomingRegistrations.tsx
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/quotes/components/Quotes.css
  app/routes/users/components/UserProfile.css
  app/routes/users/components/UserProfile.tsx
Labels: enhancement, review-needed, approved

#4995 Update company design
  app/components/TextWithIcon/TextWithIcon.css
  app/components/TextWithIcon/index.tsx
  app/components/Upload/FileUpload.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/SemesterStatusDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/bdb/utils.tsx
  app/store/models/Company.ts
Labels: review-needed

#5037 Add README file about legoAdapter
  app/utils/legoAdapter/README.md
  app/utils/legoAdapter/buildEntitiesReducer.ts
  app/utils/legoAdapter/createLegoAdapter.ts
Labels: types, review-needed, approved, docs

#4999 Add warning to pin to frontpage
  app/routes/articles/components/ArticleEditor.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
Labels: review-needed

#5018 Change HS e-mail
  app/routes/pages/components/LandingPage.tsx
Labels: review-needed, small-fix, approved

#5042 Fix 1 other attendees
  app/routes/events/components/RegisteredSummary.tsx
Labels: review-needed, approved

#5041 Improve event items on frontpage
  app/routes/frontpage/components/CompactEvents.css
  app/routes/frontpage/components/CompactEvents.tsx
  cypress/e2e/home_page_spec.js
Labels: enhancement, review-needed, approved

#5043 Clean up code and improve consistency in profile page
  app/actions/UserActions.ts
  app/routes/users/components/AllergiesOrPreferencesField.tsx
  app/routes/users/components/UserConfirmation.tsx
  app/routes/users/components/UserProfile.tsx
  app/routes/users/components/UserProfile/EmailLists.tsx
  app/routes/users/components/UserProfile/GSuiteInfo.tsx
  app/routes/users/components/UserProfile/GroupChange.tsx
  app/routes/users/components/UserProfile/GroupMemberships.tsx
  app/routes/users/components/UserProfile/GroupTree.tsx
  app/routes/users/components/UserProfile/Penalties.css
  app/routes/users/components/UserProfile/Penalties.tsx
  app/routes/users/components/UserProfile/PenaltyForm.tsx
  app/routes/users/components/UserProfile/Permissions.tsx
  app/routes/users/components/UserProfile/PhotoConsents.css
  app/routes/users/components/UserProfile/PhotoConsents.tsx
  app/routes/users/components/UserProfile/ProfileSection.tsx
  app/routes/users/components/UserProfile/UserInfo.tsx
  app/routes/users/components/UserProfile/UserProfile.css
  app/routes/users/components/UserProfile/index.tsx
  app/routes/users/components/UserSettings/ChangePassword.tsx
  app/routes/users/components/UserSettings/DeleteUser.tsx
  app/routes/users/components/UserSettings/RemovePicture.tsx
  app/routes/users/components/UserSettings/StudentConfirmation.tsx
  app/routes/users/components/UserSettings/UserImage.tsx
  app/routes/users/components/UserSettings/UserSettings.css
  app/routes/users/components/UserSettings/UserSettings.tsx
  app/routes/users/components/UserSettings/UserSettingsNotifications.css
  app/routes/users/components/UserSettings/UserSettingsNotifications.tsx
  app/routes/users/components/UserSettings/UserSettingsOAuth2.css
  app/routes/users/components/UserSettings/UserSettingsOAuth2.tsx
  app/routes/users/components/UserSettings/UserSettingsOAuth2Form.tsx
  app/routes/users/components/UserSettings/index.tsx
  app/routes/users/index.tsx
  app/store/models/Group.d.ts
  app/store/models/Membership.d.ts
  app/store/models/PastMembership.d.ts
  app/store/models/User.ts
  app/types.ts
  cypress/e2e/profile_spec.js
  cypress/e2e/router_spec.js
Labels: review-needed, approved

#5044 Fix bug where empty email info field is shown
  app/models.ts
  app/routes/events/components/EventEditor/index.tsx
  app/routes/events/utils.ts
  app/routes/users/components/UserProfile/UserInfo.tsx
  app/routes/users/components/UserProfile/index.tsx
  app/store/models/Event.ts
  app/store/models/User.ts
Labels: types, review-needed, bug-fix

#5047 Center suddenly uncentered stuff
  app/components/EmptyState/EmptyState.css
  app/components/EmptyState/index.tsx
  app/components/Poll/Poll.css
Labels: review-needed, bug-fix, approved

#5017 Only show one semester at a time on BDB
  app/actions/CompanyActions.ts
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/SemesterStatus.tsx
  app/routes/bdb/utils.tsx
Labels: review-needed

#5048 Clean up bdb company details
  app/routes/bdb/components/BdbDetail.tsx
Labels: enhancement, review-needed, approved

#5051 Globally remove default styling from regular buttons
  app/styles/globals.css
Labels: review-needed, bug-fix, small-fix, approved

#5040 Add display of latest update of company contact
  app/routes/bdb/components/BdbDetail.tsx
  app/store/models/Company.ts
Labels: review-needed, new-feature, approved

#5054 Replace onClick with onPress in Icon comonent
  app/components/CollapsibleDisplayContent/index.tsx
  app/components/Comments/Comment.tsx
  app/components/Dropdown/index.tsx
  app/components/Form/DatePicker.tsx
  app/components/Form/TextInput.tsx
  app/components/PhotoUploadStatus/index.tsx
  app/components/RandomQuote/RandomQuote.tsx
  app/components/Search/SearchBar.tsx
  app/components/Table/HeadCell.tsx
  app/components/Upload/FileUpload.tsx
  app/components/Upload/ImageUpload.tsx
  app/routes/admin/groups/components/GroupMembersList.tsx
  app/routes/admin/groups/components/GroupPermissions.tsx
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/company/components/CompanyDetail.tsx
  app/routes/companyInterest/components/CompanyInterestList.tsx
  app/routes/companyInterest/components/CompanySemesterGUI.tsx
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventDetail/InterestedButton.tsx
  app/routes/events/components/EventEditor/EditorSection/Header.tsx
  app/routes/frontpage/components/AuthenticatedFrontpage.tsx
  app/routes/frontpage/components/LatestReadme.tsx
  app/routes/photos/components/GalleryPictureModal.tsx
  app/routes/polls/components/PollEditor.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/surveys/components/SurveyEditor/Option.tsx
  app/routes/surveys/components/SurveyEditor/Question.tsx
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
  app/routes/users/components/UserSettings/UserSettingsOAuth2.tsx
  packages/lego-bricks/src/components/Icon/index.tsx
  packages/lego-bricks/src/components/Layout/Page/Sidebar.tsx
  packages/lego-bricks/src/components/Modal/Modal.tsx
Labels: review-needed, approved, technical-debt, chore

#5062 Improve skeleton when fetching partially loaded detailed event
  app/routes/events/components/EventDetail/AttendeeSection.tsx
  app/routes/events/components/EventDetail/SidebarInfo.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/RegisteredSummary.tsx
  app/routes/events/components/RegistrationMeta.tsx
Labels: review-needed, bug-fix, approved

#5050 Fix file upload on company detail
  app/components/Upload/FileUpload.tsx
  app/routes/bdb/components/BdbDetail.tsx
Labels: priority:high, review-needed, bug-fix, approved

#5067 Fix a bunch of various things
  app/components/Content/ContentMain.tsx
  app/components/TextWithIcon/index.tsx
  app/routes/articles/components/ArticleDetail.css
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/bdb.css
  app/routes/company/components/CompanyDetail.tsx
  app/routes/events/components/EventDetail/AttendeeSection.tsx
  app/routes/events/components/EventDetail/EventDetail.css
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/EventEditor/EditorSection/Descriptions.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/events/components/Stripe.css
  app/routes/frontpage/components/UpcomingRegistrations.css
  app/routes/frontpage/components/UpcomingRegistrations.tsx
  app/routes/surveys/components/AddSubmission/AddSubmissionPage.tsx
  app/routes/surveys/components/AddSubmission/AlreadyAnswered.tsx
  app/routes/surveys/components/AddSubmission/SurveySubmissionForm.tsx
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/SurveyDetail.tsx
  app/routes/surveys/components/surveys.css
  packages/lego-bricks/src/components/Icon/index.tsx
Labels: enhancement, review-needed, bug-fix, approved, chore

#5068 Make semester statuses tags
  app/components/Tags/Tag.tsx
  app/routes/bdb/components/AddSemester.tsx
  app/routes/bdb/components/SemesterStatus.tsx
  app/routes/bdb/components/SemesterStatusContent.tsx
  app/routes/bdb/utils.tsx
Labels: enhancement, review-needed, approved

#5049 Add frame for winner of veldedighetsfest auction object "Ramme"
  app/routes/users/components/UserProfile/index.tsx
Labels: review-needed, approved, chore

#5074 Prevent error with MazeMap on dev
  app/components/MazemapEmbed/MazemapEmbed.css
  app/components/MazemapEmbed/MazemapLink.tsx
  app/components/MazemapEmbed/index.tsx
Labels: review-needed, bug-fix, approved

#5090 Fix current tab highlighting on email admin pages
  app/routes/admin/email/index.tsx
Labels: review-needed, bug-fix, approved

#5052 Replace abandoned toast library with react-aria component
  app/components/Toast/Toast.module.css
  app/components/Toast/Toast.tsx
  app/components/Toast/ToastContainer.tsx
  app/components/Toast/ToastProvider.tsx
  app/components/Toast/ToastRegion.tsx
  app/reducers/toasts.ts
  app/routes/app/AppRoute.tsx
  package.json
  yarn.lock
Labels: future-is-now, dependencies, review-needed, approved, technical-debt

#5075 Avoid flickering when toggling notifications dropdown
  app/components/HeaderNotifications/index.tsx
  app/reducers/notificationsFeed.ts
Labels: review-needed, bug-fix, approved

#5098 Fix errors when loading members on pages when unauthorized
  app/routes/pages/components/PageDetail.tsx
Labels: bug-fix, small-fix, approved

#5103 Update card look and other card related things
  app/components/Header/Navbar/Navbar.module.css
  app/components/JoblistingItem/JoblistingItem.module.css
  app/routes/frontpage/components/ArticleItem.module.css
  app/routes/frontpage/components/ArticleItem.tsx
  app/routes/interestgroups/components/InterestGroup.module.css
  app/routes/interestgroups/components/InterestGroup.tsx
  app/routes/interestgroups/components/InterestGroupList.tsx
  packages/lego-bricks/src/components/Card/Card.module.css
  packages/lego-bricks/src/components/Layout/Flex.tsx
Labels: enhancement, types, review-needed, approved, technical-debt

#5091 Add lending system MVP
  app/actions/ActionTypes.ts
  app/actions/LendableObjectActions.ts
  app/components/Search/utils.tsx
  app/reducers/index.ts
  app/reducers/lendableObjects.ts
  app/routes/index.tsx
  app/routes/lending/components/LendableObjectCreate/index.tsx
  app/routes/lending/components/LendableObjectDetail/index.tsx
  app/routes/lending/components/LendableObjectEdit/index.tsx
  app/routes/lending/components/LendableObjectEditor.tsx
  app/routes/lending/components/LendableObjectList/LendableObjectList.module.css
  app/routes/lending/components/LendableObjectList/index.tsx
  app/routes/lending/index.tsx
  app/routes/lending/useFetchedLendableObject.ts
  app/store/createRootReducer.ts
  app/store/models/LendableObject.ts
  app/store/models/ObjectPermissionsMixin.d.ts
  app/store/models/entities.ts
Labels: priority:high, review-needed, new-feature, testing-needed

#5104 Prevent album cover image from growing large
  app/routes/photos/components/GalleryPictureModal.module.css
  app/routes/photos/components/GalleryPictureModal.tsx
Labels: review-needed, bug-fix, approved

#5105 Prevent registration button from moving
  app/routes/events/components/EventDetail/AttendeeSection.tsx
  app/routes/events/components/EventDetail/index.tsx
  app/routes/events/components/JoinEventForm.tsx
  app/routes/events/components/RegistrationMeta.tsx
  app/routes/frontpage/components/CompactEvents.tsx
Labels: enhancement, review-needed, bug-fix

#5106 Remove comment field from join event form when not required
  app/routes/events/components/Event.module.css
  app/routes/events/components/EventAdministrate/Allergies.tsx
  app/routes/events/components/JoinEventForm.tsx
  cypress/e2e/event_visit_spec.js
  packages/lego-bricks/src/components/LoadingIndicator/LoadingIndicator.module.css
Labels: enhancement, review-needed, approved

#5108 Support toast types
  app/components/Toast/Toast.module.css
  app/components/Toast/Toast.tsx
  app/components/Toast/ToastProvider.tsx
  app/components/Toast/ToastRegion.tsx
  app/reducers/toasts.ts
  app/store/createStore.ts
  app/store/middleware/messageMiddleware.ts
Labels: enhancement, types, review-needed, new-feature, approved

#5107 Disable unregistration button after unregistration deadline
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
  app/routes/events/utils.ts
  packages/lego-bricks/src/components/Icon/Icon.module.css
  packages/lego-bricks/src/components/Icon/index.tsx
Labels: enhancement, review-needed, approved

#5066 Implement The Legends and Laurels: Trophies & Triumphs (Part 1)
  app/routes/users/components/UserProfile/AchievementsBox.tsx
  app/routes/users/components/UserProfile/UserProfile.module.css
  app/routes/users/components/UserProfile/index.tsx
  app/store/models/User.ts
  app/utils/achievementConstants.ts
Labels: review-needed, new-feature

#5126 Add new roles
  app/utils/constants.ts
Labels: review-needed, small-fix

#5093 Fix spacing under Info om Abakus
  app/routes/pages/components/subcomponents/EmailItem/EmailItem.module.css
  app/routes/pages/components/subcomponents/EmailItem/index.tsx
Labels: review-needed, small-fix, approved
