Repository webkom/lego-webapp, pull requests merged in 2025-03, with the labels that each got.

#5389 Adds rolling recruitment option
  app/components/JoblistingItem/index.tsx
  app/routes/joblistings/components/JoblistingDetail.tsx
  app/routes/joblistings/components/JoblistingEditor.tsx
  app/store/models/Joblisting.ts
Labels: review-needed

#5383 Fix search in table
  app/components/Table/index.tsx
Labels: priority:high, review-needed, bug-fix

#5393 Feat add filtering to achievement leaderboard
  app/actions/AchievementActions.ts
  app/components/UserAttendance/GroupFilter.tsx
  app/reducers/users.ts
  app/routes/achievements/components/Leaderboard.tsx
  app/routes/achievements/components/Overview.tsx
  app/routes/achievements/components/index.tsx
  app/routes/users/components/UserProfile/Achievements.tsx
  app/store/models/User.ts
  app/utils/achievementConstants.ts
Labels: review-needed

#5312 Minor styling improvements to mazemap link
  app/components/MazemapEmbed/MazemapEmbed.module.css
  app/components/MazemapEmbed/MazemapLink.tsx
  app/components/MazemapEmbed/index.tsx
  app/routes/events/components/EventEditor/EditorSection/Details.tsx
  app/routes/meetings/components/MeetingEditor.tsx
Labels: enhancement, review-needed, approved

#5387 Add Accordion option for removing children when closed
  app/routes/frontpage/components/LatestReadme.tsx
  app/routes/surveys/components/Submissions/SubmissionsIndividual.tsx
  app/routes/users/components/UserSettings/UserSettings.tsx
  packages/lego-bricks/src/components/Accordion/index.tsx
Labels: review-needed, lego-bricks

#5397 Replace mazemap button with accordion
  app/components/MazemapEmbed/MazemapAccordion.module.css
  app/components/MazemapEmbed/MazemapAccordion.tsx
  app/components/MazemapEmbed/MazemapButton.tsx
  app/components/MazemapEmbed/index.tsx
  app/routes/events/components/EventDetail/EventDetail.module.css
  app/routes/events/components/EventDetail/SidebarInfo.tsx
  app/routes/meetings/components/MeetingDetail.tsx
Labels: review-needed, approved

#5401 Fix company creation form
  app/routes/bdb/components/CompanyEditor.tsx
Labels: review-needed, bug-fix, approved

#5402 Add LendingRequest redux boilerplate
  app/actions/ActionTypes.ts
  app/actions/LendingRequestActions.ts
  app/reducers/index.ts
  app/reducers/lendingRequests.ts
  app/store/createRootReducer.ts
  app/store/models/LendingRequest.ts
  app/store/models/entities.ts
Labels: review-needed

#5407 Fix docker build
  lego-webapp/package.json
  yarn.lock
Labels: review-needed

#5408 Fix Dockerfile not working without locally installed node_modules
  Dockerfile
Labels: review-needed

#5405 Filter quick links when searching
  lego-webapp/components/Search/index.tsx
  lego-webapp/components/Search/utils.tsx
Labels: review-needed

#5410 Fix dockerfile by simplifying stages
  Dockerfile
Labels: review-needed

#5415 Fix docker healthcheck
  Dockerfile
  lego-webapp/server/index.ts
Labels: review-needed

#5418 Add banner for Revue (Original PR used wrong path thus failed to merge)
  lego-webapp/app/routes/frontpage/components/AuthenticatedFrontpage.tsx
Labels: review-needed

#5416 Fix group tree styling
  lego-webapp/app/routes/admin/groups/components/GroupTree.css
  lego-webapp/app/routes/admin/groups/components/GroupTree.module.css
  lego-webapp/app/routes/admin/groups/components/GroupTree.tsx
Labels: review-needed

#5420 Fix media query for content section
  lego-webapp/components/Content/ContentSection.module.css
Labels: review-needed

#5421 Fix css priority for attendee section skeleton
  lego-webapp/components/UserGrid/UserGrid.module.css
Labels: review-needed

#5423 Fix publicly served abakus logo used in emails
  lego-webapp/app/routes/interestgroups/components/InterestGroup.tsx
  lego-webapp/app/routes/lending/components/LendableObjectList/index.tsx
  lego-webapp/assets/icon-192x192.png
  lego-webapp/components/Header/index.tsx
  lego-webapp/pages/+config.ts
  lego-webapp/public/logo-dark.png
  lego-webapp/public/logo.png
Labels: review-needed

#5424 Improve UX for banner admin page
  lego-webapp/app/routes/hiddenAdmin/components/BannerEditor.tsx
  lego-webapp/app/routes/hiddenAdmin/components/BannerOverview.module.css
  lego-webapp/app/routes/hiddenAdmin/components/BannerOverview.tsx
Labels: review-needed

#5426 Replace "/create" and "/add" with "/new"
  lego-webapp/cypress/e2e/create_event_spec.js
  lego-webapp/cypress/e2e/event_editor_spec.js
  lego-webapp/cypress/e2e/event_payment_spec.js
  lego-webapp/cypress/e2e/joblistings_specs.js
  lego-webapp/pages/bdb/(overview)/+Layout.tsx
  lego-webapp/pages/bdb/@companyId/+Page.tsx
  lego-webapp/pages/bdb/@companyId/company-contacts/new/+Page.tsx
  lego-webapp/pages/bdb/@companyId/semesters/new/+Page.tsx
  lego-webapp/pages/bdb/@companyId/semesters/new/AddSemester.module.css
  lego-webapp/pages/bdb/company-interest/new/+Page.tsx
  lego-webapp/pages/bdb/new/+Page.tsx
  lego-webapp/pages/events/@eventIdOrSlug/Admin.tsx
  lego-webapp/pages/events/index/+Layout.tsx
  lego-webapp/pages/events/new/+Page.tsx
  lego-webapp/pages/joblistings/+Page.tsx
  lego-webapp/pages/joblistings/new/+Page.tsx
Labels: review-needed

#5425 Feat add feature flags
  lego-webapp/components/Form/ObjectPermissions.tsx
  lego-webapp/components/errors/HTTPError.tsx
  lego-webapp/cypress/e2e/router_spec.js
  lego-webapp/pages/admin/banners/+Page.tsx
  lego-webapp/pages/admin/banners/@bannerId/edit/+Page.tsx
  lego-webapp/pages/admin/banners/BannerEditor.tsx
  lego-webapp/pages/admin/featureflags/+Page.tsx
  lego-webapp/pages/admin/featureflags/@featureFlagId/+Page.tsx
  lego-webapp/pages/admin/featureflags/@featureFlagId/edit/+Page.tsx
  lego-webapp/pages/admin/featureflags/FeatureFlagEditor.tsx
  lego-webapp/pages/admin/featureflags/new/+Page.tsx
  lego-webapp/pages/lending/+Page.tsx
  lego-webapp/pages/sudo/+Page.tsx
  lego-webapp/redux/actionTypes.ts
  lego-webapp/redux/actions/FeatureFlagActions.ts
  lego-webapp/redux/models/FeatureFlag.ts
  lego-webapp/redux/models/LendingRequest.ts
  lego-webapp/redux/models/entities.ts
  lego-webapp/redux/rootReducer.ts
  lego-webapp/redux/schemas.ts
  lego-webapp/redux/slices/featureFlags.ts
  lego-webapp/utils/useFeatureFlag.ts
Labels: review-needed

#5422 Add LendingRequest page
  lego-webapp/components/Comments/CommentView.tsx
  lego-webapp/components/Tags/Tag.tsx
  lego-webapp/pages/lending/@lendableObjectId/request/@lendingRequestId/+Page.tsx
  lego-webapp/pages/lending/@lendableObjectId/request/@lendingRequestId/LendingRequestDetail.module.css
  lego-webapp/redux/models/LendingRequest.ts
  lego-webapp/utils/entityType.ts
Labels: review-needed

#5428 Add BannerPreview to editor and redesign banners
  lego-webapp/components/Banner/Banner.module.css
  lego-webapp/pages/admin/banners/BannerEditor.tsx
  lego-webapp/pages/admin/banners/BannerOverview.module.css
  lego-webapp/pages/sudo/+Page.tsx
  lego-webapp/pages/sudo/SudoAdmin.module.css
Labels: review-needed, small-fix

#5430 Add lending request list
  lego-webapp/pages/lending/+Page.tsx
  lego-webapp/pages/lending/@lendableObjectId/request/@lendingRequestId/+Page.tsx
  lego-webapp/pages/lending/@lendableObjectId/request/@lendingRequestId/LendingRequestDetail.module.css
  lego-webapp/pages/lending/LendableObjectList.module.css
  lego-webapp/pages/lending/LendingStatusTag.tsx
  lego-webapp/redux/actions/LendingRequestActions.ts
  lego-webapp/redux/models/LendingRequest.ts
  lego-webapp/redux/slices/lendingRequests.ts
Labels: review-needed

#5433 Fix mobile css
  lego-webapp/components/Chart/Chart.module.css
  lego-webapp/components/Comments/CommentTree.module.css
  lego-webapp/components/Content/ContentSection.module.css
  lego-webapp/components/Content/ContentSidebar.module.css
  lego-webapp/components/DividerWithDots/DividerWithDots.module.css
  lego-webapp/components/ErrorBoundary/ErrorBoundary.module.css
  lego-webapp/components/Footer/Footer.module.css
  lego-webapp/components/Form/DatePicker.module.css
  lego-webapp/components/Form/Form.module.css
  lego-webapp/components/Gallery/Gallery.module.css
  lego-webapp/components/Header/Header.module.css
  lego-webapp/components/Header/Navbar/Navbar.module.css
  lego-webapp/components/Header/toggleTheme.module.css
  lego-webapp/components/HeaderNotifications/HeaderNotifications.module.css
  lego-webapp/components/JoblistingItem/JoblistingItem.module.css
  lego-webapp/components/Reactions/ReactionPicker.module.css
  lego-webapp/components/Search/Search.module.css
  lego-webapp/components/Search/SearchPageInput.module.css
  lego-webapp/components/Search/SearchPageResults.module.css
  lego-webapp/components/Toast/Toast.module.css
  lego-webapp/pages/achievements/Overview.module.css
  lego-webapp/pages/announcements/AnnouncementsList.module.css
  lego-webapp/pages/articles/articles.module.css
  lego-webapp/pages/bdb/company-interest/CompanyInterestForm.module.css
  lego-webapp/pages/companies/CompaniesPage.module.css
  lego-webapp/pages/events/@eventId/administrate/statistics/EventAttendeeStatistics.module.css
  lego-webapp/pages/events/@eventIdOrSlug/EventDetail.module.css
  lego-webapp/pages/events/src/EventEditor/EventEditor.module.css
  lego-webapp/pages/index/AuthenticatedFrontpage.module.css
  lego-webapp/pages/index/CompactEvents.module.css
  lego-webapp/pages/index/EventItem.module.css
  lego-webapp/pages/index/LatestReadme.module.css
  lego-webapp/pages/index/Pinned.module.css
  lego-webapp/pages/index/PublicFrontpage.module.css
  lego-webapp/pages/interest-groups/InterestGroup.module.css
  lego-webapp/pages/joblistings/_components/JoblistingList.module.css
  lego-webapp/pages/lending/LendableObjectList.module.css
  lego-webapp/pages/pages/_components/LandingPage.module.css
  lego-webapp/pages/pages/_components/PageHierarchy.module.css
  lego-webapp/pages/pages/_components/subcomponents/DisplayVision/DisplayVision.module.css
  lego-webapp/pages/pages/_components/subcomponents/EmailItem/EmailItem.module.css
  lego-webapp/pages/pages/_components/subcomponents/Statistic/Statistic.module.css
  lego-webapp/pages/pages/_components/subcomponents/TextWithTitle/TextWithTitle.module.css
  lego-webapp/pages/pages/_components/subcomponents/Vision/Vision.module.css
  lego-webapp/pages/pages/page/PageDetail.module.css
  lego-webapp/pages/photos/@galleryId/index/picture/@pictureId/GalleryPictureModal.module.css
  lego-webapp/pages/photos/new/GalleryEditorActions.module.css
  lego-webapp/pages/polls/PollsList.module.css
  lego-webapp/pages/quotes/Quotes.module.css
  lego-webapp/pages/surveys/components/surveys.module.css
  lego-webapp/pages/users/@username/_components/UserProfile.module.css
  lego-webapp/pages/users/@username/settings/profile/UserSettings.module.css
  lego-webapp/pages/users/registration/RegistrationPage.module.css
  lego-webapp/styles/custom-media.css
  lego-webapp/styles/globals.css
  lego-webapp/styles/overlay.css
  lego-webapp/styles/utilities.module.css
  lego-webapp/styles/variables.css
Labels: priority:high, review-needed, approved

#5435 Fix selector to match element
  lego-webapp/pages/index/AuthenticatedFrontpage.module.css
Labels: priority:high, review-needed, bug-fix

#5436 Truncate compact elements dynamically
  lego-webapp/pages/index/CompactEvents.module.css
  lego-webapp/pages/index/CompactEvents.tsx
Labels: enhancement, review-needed, approved

#5403 Fix searching for student contacts in BDB
  lego-webapp/pages/bdb/(overview)/+Page.tsx
Labels: review-needed, approved

#5441 Update method to be PATCH instead of PUT so partial updates work
  lego-webapp/pages/lending/+Page.tsx
  lego-webapp/redux/actions/LendingRequestActions.ts
Labels: review-needed

#5443 Various fixes
  lego-webapp/components/GroupMember/GroupMember.module.css
  lego-webapp/components/GroupMember/index.tsx
  lego-webapp/pages/admin/groups/@groupId/members/+Page.tsx
  lego-webapp/pages/admin/groups/@groupId/members/GroupMembersList.tsx
  lego-webapp/pages/meetings/@meetingId/MeetingDetail.tsx
  lego-webapp/pages/meetings/MeetingEditor.tsx
  lego-webapp/pages/pages/page/+Page.tsx
  lego-webapp/pages/surveys/@surveyId/results/+Page.tsx
  lego-webapp/redux/actionTypes.ts
  lego-webapp/redux/actions/GroupActions.ts
  lego-webapp/redux/models/Membership.d.ts
  lego-webapp/redux/slices/meetings.ts
  lego-webapp/redux/slices/pages.ts
Labels: review-needed

#5454 Fix small issue with registering new users
  lego-webapp/pages/users/registration/+Page.tsx
Labels: review-needed, bug-fix

#5440 Fix storybook
  packages/lego-bricks/package.json
  yarn.lock
Labels: review-needed

#5453 Throttle theme changes instead of debouncing
  lego-webapp/components/Header/ToggleTheme.tsx
  lego-webapp/components/Header/index.tsx
  lego-webapp/pages/lending/@lendableObjectId/request/@lendingRequestId/+Page.tsx
  lego-webapp/utils/themeUtils.tsx
Labels: enhancement, review-needed

#5379 Add the new trophy images
  lego-webapp/assets/trophies/trofe_aktiv_bidragsyter_1.png
  lego-webapp/assets/trophies/trofe_aktiv_bidragsyter_2.png
  lego-webapp/assets/trophies/trofe_aktiv_bidragsyter_3.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_1.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_10.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_2.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_3.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_4.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_5.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_6.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_7.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_8.png
  lego-webapp/assets/trophies/trofe_sjeldenhetsgrad_9.png
  lego-webapp/pages/achievements/+Page.tsx
  lego-webapp/pages/achievements/Overview.module.css
  lego-webapp/pages/users/@username/_components/Achievements.tsx
  lego-webapp/pages/users/@username/_components/UserProfile.module.css
  lego-webapp/redux/models/User.ts
  lego-webapp/utils/achievementConstants.ts
Labels: review-needed

#5457 Replace yarn with pnpm
  .drone.yml
  Dockerfile
  README.md
  lego-webapp/package.json
  lego-webapp/pages/lending/@lendableObjectId/request/new/+Page.tsx
  lego-webapp/utils/constants.ts
  package.json
  packages/lego-bricks/README.md
  packages/lego-bricks/package.json
  packages/mazemap/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Labels: review-needed

#5461 Add company description to events with checkbox
  lego-webapp/app/models.ts
  lego-webapp/pages/events/@eventIdOrSlug/+Page.tsx
  lego-webapp/pages/events/src/EventEditor/EditorSection/Descriptions.tsx
  lego-webapp/pages/events/utils.ts
  lego-webapp/redux/models/Event.ts
Labels: review-needed

#5460 Remove pnpm cache to fix docker build
  Dockerfile
Labels: review-needed

#5466 Update react-aria-components and refactor Toasts
  lego-webapp/components/Toast/Toast.module.css
  lego-webapp/components/Toast/Toast.tsx
  lego-webapp/components/Toast/ToastProvider.tsx
  lego-webapp/components/Toast/ToastRegion.tsx
  lego-webapp/components/UserValidator/index.tsx
  lego-webapp/package.json
  lego-webapp/pages/quotes/new/+Page.tsx
  lego-webapp/redux/createStore.ts
  lego-webapp/redux/middlewares/messageMiddleware.ts
  lego-webapp/redux/middlewares/websocketMiddleware.ts
  lego-webapp/redux/rootReducer.ts
  lego-webapp/redux/slices/__tests__/toasts.spec.ts
  lego-webapp/redux/slices/toasts.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement, review-needed

#5469 Fix event description showing "om bedriften" even when not toggled
  lego-webapp/pages/events/@eventIdOrSlug/+Page.tsx
Labels: enhancement, review-needed

#5463 Add trophies to quicktab
  lego-webapp/components/Search/utils.tsx
  lego-webapp/pages/achievements/+Layout.tsx
  lego-webapp/redux/actions/AchievementActions.ts
Labels: enhancement, review-needed

#5472 Achievements overview redesign
  lego-webapp/pages/achievements/+Layout.tsx
  lego-webapp/pages/achievements/+Page.tsx
  lego-webapp/pages/achievements/Overview.module.css
  lego-webapp/pages/achievements/utils.tsx
  lego-webapp/utils/achievementConstants.ts
Labels: enhancement, review-needed

#5459 Fix backend query for student contacts in bdb
  lego-webapp/pages/bdb/(overview)/+Page.tsx
Labels: review-needed, bug-fix

#5434 Add BookingAdmin to bedkom roles list
  lego-webapp/utils/constants.ts
Labels: review-needed

#5471 Create new lego-editor based on TipTap
  lego-webapp/components/CollapsibleDisplayContent/index.tsx
  lego-webapp/components/DisplayContent/index.tsx
  lego-webapp/components/Form/EditorField.tsx
  lego-webapp/components/Form/ImageUploadField.tsx
  lego-webapp/cypress/e2e/create_event_spec.js
  lego-webapp/cypress/e2e/create_meeting_spec.js
  lego-webapp/cypress/e2e/event_editor_spec.js
  lego-webapp/cypress/e2e/joblistings_specs.js
  lego-webapp/cypress/support/commands.js
  lego-webapp/cypress/support/utils.js
  lego-webapp/global.d.ts
  lego-webapp/package.json
  lego-webapp/pages/+onBeforeRenderHtml.tsx
  lego-webapp/pages/events/src/EventEditor/index.tsx
  lego-webapp/pages/joblistings/_components/JoblistingEditor.module.css
  lego-webapp/pages/joblistings/_components/JoblistingEditor.tsx
  lego-webapp/pages/pages/_components/PageEditor.tsx
  lego-webapp/pages/photos/@galleryId/index/+Layout.tsx
  lego-webapp/pages/users/@username/settings/profile/UserImage.tsx
  lego-webapp/redux/actions/GalleryPictureActions.ts
  package.json
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/ImageUpload/ImageUpload.module.css
  packages/lego-bricks/src/components/ImageUpload/index.tsx
  packages/lego-bricks/src/index.ts
  packages/lego-editor/README.md
  packages/lego-editor/eslint.config.js
  packages/lego-editor/example/src/App.css
  packages/lego-editor/example/src/App.tsx
  packages/lego-editor/example/src/index.tsx
  packages/lego-editor/index.html
  packages/lego-editor/package.json
  packages/lego-editor/src/Editor.module.css
  packages/lego-editor/src/components/ImageUploadModal.module.css
  packages/lego-editor/src/components/ImageUploadModal.tsx
  packages/lego-editor/src/components/Toolbar.module.css
  packages/lego-editor/src/components/Toolbar.tsx
  packages/lego-editor/src/declaration.d.ts
  packages/lego-editor/src/extensions/figure.ts
  packages/lego-editor/src/extensions/image.ts
  packages/lego-editor/src/global.css
  packages/lego-editor/src/index.tsx
  packages/lego-editor/src/vite-env.d.ts
  packages/lego-editor/tsconfig.app.json
  packages/lego-editor/tsconfig.json
  packages/lego-editor/tsconfig.node.json
  packages/lego-editor/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement, review-needed

#5476 Move react-meter-bar component into lego-bricks
  lego-webapp/package.json
  lego-webapp/pages/users/_components/PasswordStrengthMeter.tsx
  lego-webapp/pages/users/_components/passwordStrengthVariables.ts
  packages/lego-bricks/src/components/MeterBar/MeterBar.module.css
  packages/lego-bricks/src/components/MeterBar/README.md
  packages/lego-bricks/src/components/MeterBar/index.tsx
  packages/lego-bricks/src/index.ts
  pnpm-lock.yaml
Labels: enhancement, review-needed

#5447 Add gala achievement
  lego-webapp/utils/achievementConstants.ts
Labels: enhancement, review-needed

#5478 Use Typescript in Cypress tests
  lego-webapp/cypress/e2e/company_interest_spec.ts
  lego-webapp/cypress/e2e/create_event_spec.ts
  lego-webapp/cypress/e2e/create_meeting_spec.ts
  lego-webapp/cypress/e2e/event_editor_spec.ts
  lego-webapp/cypress/e2e/event_payment_spec.ts
  lego-webapp/cypress/e2e/event_visit_spec.ts
  lego-webapp/cypress/e2e/home_page_spec.ts
  lego-webapp/cypress/e2e/joblistings_specs.ts
  lego-webapp/cypress/e2e/password_change_spec.ts
  lego-webapp/cypress/e2e/poll_spec.ts
  lego-webapp/cypress/e2e/profile_spec.ts
  lego-webapp/cypress/e2e/router_spec.ts
  lego-webapp/cypress/support/commands.ts
  lego-webapp/cypress/support/config.ts
  lego-webapp/cypress/support/e2e.ts
  lego-webapp/cypress/support/utils.ts
  lego-webapp/cypress/tsconfig.json
Labels: enhancement, review-needed

#5477 Styling lending index page
  lego-webapp/pages/lending/+Page.tsx
  lego-webapp/pages/lending/LendableObjectList.module.css
  lego-webapp/redux/models/LendableObject.ts
  lego-webapp/redux/schemas.ts
Labels: enhancement, review-needed

#5480 Rerank trophy rarities and reduce rarity amount from 10 to 7
  lego-webapp/assets/trophies/trofe_rank_1.png
  lego-webapp/pages/achievements/+Page.tsx
  lego-webapp/pages/achievements/Overview.module.css
  lego-webapp/pages/users/@username/_components/Achievements.tsx
  lego-webapp/pages/users/@username/_components/AchievementsBox.tsx
  lego-webapp/redux/models/User.ts
  lego-webapp/utils/achievementConstants.ts
Labels: enhancement, review-needed

#5473 Configure Achievement Mapping
  lego-webapp/pages/achievements/+Page.tsx
Labels: enhancement, review-needed

#5488 Allow recheck trophies from sudo
  lego-webapp/components/errors/HTTPError.tsx
  lego-webapp/pages/sudo/+Page.tsx
  lego-webapp/pages/sudo/achievements/+Page.tsx
  lego-webapp/pages/sudo/achievements/SudoAchievements.module.css
  lego-webapp/redux/actionTypes.ts
  lego-webapp/redux/actions/AchievementActions.ts
Labels: enhancement, review-needed

#5458 Fix modal height
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/Modal/Modal.module.css
Labels: enhancement, review-needed

#5492 Fix leaderboard link
  lego-webapp/pages/users/@username/_components/Achievements.tsx
Labels: review-needed

#5494 Fix onclick on card not working on prod
  lego-webapp/pages/sudo/achievements/+Page.tsx
Labels: enhancement, review-needed

#5496 Migrate from vike-node to vike-server
  lego-webapp/+config.ts
  lego-webapp/package.json
  lego-webapp/server/index.ts
  lego-webapp/vite.config.ts
  pnpm-lock.yaml
Labels: enhancement, review-needed

#5495 Add support for diff using <ins> and <del> tags in lego-editor
  packages/lego-editor/src/Editor.module.css
  packages/lego-editor/src/extensions/diff.ts
  packages/lego-editor/src/extensions/strike.ts
  packages/lego-editor/src/index.tsx
  pnpm-lock.yaml
Labels: enhancement, review-needed

#5504 Use css grid for profile page layout
  lego-webapp/pages/users/@username/+Page.tsx
  lego-webapp/pages/users/@username/_components/UserProfile.module.css
Labels: enhancement, review-needed, approved

#5510 Fix eventcount in userprofiles
  lego-webapp/pages/users/@username/+Page.tsx
Labels: review-needed, bug-fix

#5502 Define consent domain strings in one place
  lego-webapp/pages/events/@eventId/administrate/attendees/RegistrationTables.tsx
  lego-webapp/pages/users/@username/_components/PhotoConsents.tsx
  lego-webapp/utils/index.ts
Labels: review-needed

#5452 Fix some typescript types
  lego-webapp/components/AddToCalendar/AddToCalendar.tsx
  lego-webapp/components/CollapsibleDisplayContent/index.tsx
  lego-webapp/components/Comments/__tests__/CommentTree.spec.tsx
  lego-webapp/components/Comments/__tests__/fixtures/comments.ts
  lego-webapp/components/Feed/ActivityRenderer.d.ts
  lego-webapp/components/Feed/activity.tsx
  lego-webapp/components/Feed/index.tsx
  lego-webapp/components/Feed/renders/adminRegistration.tsx
  lego-webapp/components/Feed/renders/announcement.tsx
  lego-webapp/components/Feed/renders/comment.tsx
  lego-webapp/components/Feed/renders/comment_reply.tsx
  lego-webapp/components/Feed/renders/event_register.tsx
  lego-webapp/components/Feed/renders/group.tsx
  lego-webapp/components/Feed/renders/meetingInvitation.tsx
  lego-webapp/components/Feed/renders/registrationBump.tsx
  lego-webapp/components/Feed/renders/restrictedMail.tsx
  lego-webapp/components/HeaderNotifications/index.tsx
  lego-webapp/components/Image/ProfilePicture.tsx
  lego-webapp/components/NavigationTab/NavigationTab.tsx
  lego-webapp/components/errors/HTTPError.tsx
  lego-webapp/components/errors/renderAbakus.ts
  lego-webapp/redux/models/FeedActivity.ts
  lego-webapp/redux/models/Reaction.d.ts
  lego-webapp/tsconfig.json
Labels: review-needed

#5511 Removes comments from lending requests
  lego-webapp/pages/lending/@lendableObjectId/request/@lendingRequestId/+Page.tsx
  lego-webapp/redux/models/LendingRequest.ts
Labels: review-needed

#5512 Bump vitest to v3
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: flawless, review-needed, chore

#5521 Use new behavior in datepicker test
  lego-webapp/cypress/e2e/home_page_spec.ts
  lego-webapp/cypress/support/utils.ts
  lego-webapp/pages/index/AuthenticatedFrontpage.tsx
Labels: review-needed

#5519 Fix entrypoint in Dockerfile
  Dockerfile
Labels: review-needed

#5522 Fix issue with image file-key when editing with lego-editor
  packages/lego-editor/src/extensions/image.ts
Labels: review-needed

#5500 Prevent ToggleButton from submitting form
  lego-webapp/components/Form/ToggleSwitch.tsx
Labels: review-needed, bug-fix

#5501 Remove notification setting string for removed comment notification
  lego-webapp/pages/users/@username/settings/notifications/+Page.tsx
Labels: review-needed
