Repository webkom/lego-webapp, pull requests merged in 2025-04, with the labels that each got.

#5525 Improve image support in lego-editor
  lego-webapp/components/Search/utils.tsx
  packages/lego-editor/src/Editor.module.css
  packages/lego-editor/src/components/ImageMenu.module.css
  packages/lego-editor/src/components/ImageMenu.tsx
  packages/lego-editor/src/components/Toolbar.tsx
  packages/lego-editor/src/extensions/figure.tsx
  packages/lego-editor/src/index.tsx
Labels: review-needed

#5526 Add tooltips to lego-editor toolbar buttons
  lego-webapp/components/Comments/Comment.tsx
  lego-webapp/components/EventItem/index.tsx
  lego-webapp/components/Form/Label.tsx
  lego-webapp/components/GroupMember/index.tsx
  lego-webapp/components/LoginForm/RegisterForm.tsx
  lego-webapp/components/PhotoUploadStatus/index.tsx
  lego-webapp/components/Poll/index.tsx
  lego-webapp/components/Reactions/Reaction.tsx
  lego-webapp/components/TextWithIcon/index.tsx
  lego-webapp/components/UserAttendance/AttendanceStatus.tsx
  lego-webapp/components/UserAttendance/RegisteredSummary.tsx
  lego-webapp/components/UserGrid/index.tsx
  lego-webapp/package.json
  lego-webapp/pages/achievements/+Page.tsx
  lego-webapp/pages/announcements/AnnouncementsCreate.tsx
  lego-webapp/pages/bdb/(overview)/company-interest/+Page.tsx
  lego-webapp/pages/bdb/@companyId/+Page.tsx
  lego-webapp/pages/events/@eventId/administrate/+Layout.tsx
  lego-webapp/pages/events/@eventId/administrate/attendees/AttendeeElements.tsx
  lego-webapp/pages/events/@eventId/administrate/attendees/RegistrationTables.tsx
  lego-webapp/pages/events/@eventIdOrSlug/InterestedButton.tsx
  lego-webapp/pages/events/@eventIdOrSlug/JoinEventForm.tsx
  lego-webapp/pages/events/@eventIdOrSlug/infoLists.tsx
  lego-webapp/pages/events/src/EventEditor/EditorSection/Details.tsx
  lego-webapp/pages/index/CompactEvents.tsx
  lego-webapp/pages/interest-groups/InterestGroupMemberModal.tsx
  lego-webapp/pages/meetings/@meetingId/MeetingDetail.tsx
  lego-webapp/pages/meetings/MeetingEditor.tsx
  lego-webapp/pages/polls/PollEditor.tsx
  lego-webapp/pages/surveys/@surveyId/(wrapper)/submissions/summary/+Page.tsx
  lego-webapp/pages/users/@username/_components/Achievements.tsx
  lego-webapp/pages/users/@username/_components/AchievementsBox.tsx
  lego-webapp/pages/users/@username/_components/EmailLists.tsx
  lego-webapp/pages/users/@username/_components/GroupMemberships.tsx
  lego-webapp/pages/users/@username/settings/oauth2/+Page.tsx
  packages/lego-bricks/package.json
  packages/lego-bricks/src/components/Tooltip/Tooltip.module.css
  packages/lego-bricks/src/components/Tooltip/index.tsx
  packages/lego-bricks/src/index.ts
  packages/lego-editor/src/components/ImageMenu.tsx
  packages/lego-editor/src/components/Toolbar.tsx
  pnpm-lock.yaml
Labels: review-needed, approved

#5527 Fix redirect issue by bumping vike-server
  lego-webapp/package.json
  pnpm-lock.yaml
Labels: review-needed

#5498 Improve visibility of thursday button
  lego-webapp/pages/bdb/company-interest/CompanyInterestForm.tsx
  lego-webapp/pages/bdb/company-interest/Translations.ts
  lego-webapp/redux/models/CompanyInterest.ts
  lego-webapp/redux/slices/companyInterest.ts
Labels: enhancement, review-needed

#5517 Clarify the role of responsible users on lending object page
  lego-webapp/pages/lending/@lendableObjectId/request/new/+Page.tsx
  lego-webapp/pages/lending/LendableObjectEditor.tsx
Labels: flawless, review-needed, small-fix

#5531 Bump vike-server to fix redirects
  lego-webapp/package.json
  pnpm-lock.yaml
Labels: review-needed

#5524 Add minimum size for icons
  packages/lego-bricks/src/components/Icon/Icon.module.css
Labels: review-needed

#5532 Use mazemap from CDN and persist accordion content
  lego-webapp/components/MazemapEmbed/MazemapAccordion.tsx
  lego-webapp/components/MazemapEmbed/index.tsx
  lego-webapp/components/Search/mazemapAutocomplete.tsx
  lego-webapp/package.json
  lego-webapp/pages/events/@eventIdOrSlug/+Page.tsx
  lego-webapp/pages/events/src/EventEditor/index.tsx
  lego-webapp/pages/meetings/@meetingId/MeetingDetail.tsx
  lego-webapp/pages/meetings/MeetingEditor.tsx
  packages/mazemap/README.md
  packages/mazemap/install.sh
  packages/mazemap/package.json
  pnpm-lock.yaml
Labels: review-needed

#5513 Add analytics to articles
  lego-webapp/components/Analytics/Analytics.module.css
  lego-webapp/components/Analytics/index.tsx
  lego-webapp/pages/articles/@articleId/statistics/+Page.tsx
  lego-webapp/pages/articles/@articleIdOrSlug/+Page.tsx
  lego-webapp/pages/events/@eventId/administrate/statistics/+Page.tsx
  lego-webapp/pages/events/@eventId/administrate/statistics/Analytics.tsx
  lego-webapp/pages/events/@eventId/administrate/statistics/EventAttendeeStatistics.module.css
  lego-webapp/pages/events/@eventId/administrate/statistics/EventAttendeeStatistics.tsx
  lego-webapp/redux/actionTypes.ts
  lego-webapp/redux/actions/AnalyticsActions.ts
  lego-webapp/redux/actions/EventActions.ts
  lego-webapp/redux/models/AllowedPermissionsMixin.d.ts
  lego-webapp/redux/models/Article.d.ts
Labels: review-needed, new-feature

#5533 Add filters to lending admin
  lego-webapp/pages/lending/admin/+Page.tsx
  lego-webapp/redux/actions/LendingRequestActions.ts
  lego-webapp/redux/models/LendingRequest.ts
Labels: review-needed

#5520 Fix and refactor timeline styling
  lego-webapp/components/Feed/activity.module.css
  lego-webapp/components/Feed/activity.tsx
  lego-webapp/components/Feed/index.tsx
  lego-webapp/pages/sudo/achievements/+Page.tsx
  packages/lego-bricks/src/components/Card/BaseCard.tsx
  packages/lego-bricks/src/components/Card/Card.module.css
Labels: review-needed

#5538 Fix dependency installation command in README
  README.md
Labels: review-needed, docs

#5518 Add winner of easter egg hunt 2025 & 2024 trophy
  lego-webapp/pages/achievements/+Page.tsx
  lego-webapp/utils/achievementConstants.ts
Labels: review-needed

#5543 Add banner countdown
  lego-webapp/components/Banner/Banner.module.css
  lego-webapp/components/Banner/index.tsx
  lego-webapp/components/CountDown/index.tsx
  lego-webapp/components/Countdown/Countdown.module.css
  lego-webapp/components/Countdown/index.tsx
  lego-webapp/pages/admin/banners/+Page.tsx
  lego-webapp/pages/admin/banners/BannerEditor.tsx
  lego-webapp/pages/index/AuthenticatedFrontpage.tsx
  lego-webapp/pages/index/PublicFrontpage.tsx
  lego-webapp/redux/models/Banner.d.ts
  lego-webapp/redux/slices/banner.ts
Labels: review-needed

#5546 Easter banner
  lego-webapp/components/Banner/Banner.module.css
  lego-webapp/components/Banner/index.tsx
  lego-webapp/pages/admin/banners/BannerEditor.tsx
Labels: review-needed

#5344 Remove forced line-height 1.3
  app/components/GroupMember/GroupMember.module.css
  lego-webapp/components/Chart/Chart.module.css
  lego-webapp/components/Content/ContentSidebar.module.css
  lego-webapp/components/ErrorBoundary/ErrorBoundary.module.css
  lego-webapp/components/EventItem/styles.module.css
  lego-webapp/components/Footer/Footer.module.css
  lego-webapp/components/Form/CheckBox.module.css
  lego-webapp/components/Form/RadioButton.module.css
  lego-webapp/components/Header/Header.module.css
  lego-webapp/components/InfoBubble/InfoBubble.module.css
  lego-webapp/components/Poll/Poll.module.css
  lego-webapp/components/RandomQuote/RandomQuote.module.css
  lego-webapp/components/Reactions/ReactionPicker.module.css
  lego-webapp/pages/announcements/AnnouncementsList.module.css
  lego-webapp/pages/articles/articles.module.css
  lego-webapp/pages/events/index/calendar/Calendar.module.css
  lego-webapp/pages/index/ArticleItem.module.css
  lego-webapp/pages/index/AuthenticatedFrontpage.module.css
  lego-webapp/pages/index/Pinned.module.css
  lego-webapp/pages/index/PublicFrontpage.module.css
  lego-webapp/pages/joblistings/_components/JoblistingList.module.css
  lego-webapp/pages/pages/_components/subcomponents/Statistic/Statistic.module.css
  lego-webapp/pages/photos/Overview.module.css
  lego-webapp/pages/surveys/components/surveys.module.css
  lego-webapp/pages/users/@username/_components/Penalties.module.css
  packages/lego-bricks/src/components/Card/Card.module.css
  packages/lego-bricks/src/components/ImageUpload/ImageUpload.module.css
  packages/lego-bricks/src/components/Modal/Modal.module.css
Labels: review-needed, small-fix, approved, chore

#5549 Fix custom media query variables in lego-bricks
  packages/lego-bricks/src/components/Card/Card.module.css
  packages/lego-bricks/src/components/Layout/Flex.module.css
  packages/lego-bricks/src/components/Layout/Page/Page.module.css
  packages/lego-bricks/src/components/Layout/Page/PageContainer.module.css
  packages/lego-bricks/src/components/Layout/Page/Sidebar.module.css
  packages/lego-bricks/src/custom-media.css
  pnpm-workspace.yaml
Labels: review-needed, technical-debt

#5548 Add postcss-nested plugin to remove nested css
  lego-webapp/package.json
  lego-webapp/vite.config.ts
  packages/lego-bricks/package.json
  packages/lego-bricks/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: review-needed, bug-fix

#5493 Make the blog more visible
  lego-webapp/components/Footer/index.tsx
  lego-webapp/components/Search/utils.tsx
  lego-webapp/pages/index/AuthenticatedFrontpage.module.css
  lego-webapp/pages/index/AuthenticatedFrontpage.tsx
Labels: discussion, review-needed

#5554 Update design and add easter contender trophy
  lego-webapp/assets/trophies/easter-contender-trophy-25.png
  lego-webapp/assets/trophies/easter-winner-trophy-24.png
  lego-webapp/assets/trophies/easter-winner-trophy-25.png
  lego-webapp/utils/achievementConstants.ts
  pnpm-lock.yaml
Labels: review-needed

#5547 Display penalty notification in feed
  lego-webapp/components/Feed/activity.module.css
  lego-webapp/components/Feed/index.tsx
  lego-webapp/components/Feed/renders/penaltyNotification.tsx
  lego-webapp/pages/users/@username/settings/notifications/+Page.tsx
  lego-webapp/redux/models/FeedActivity.ts
  pnpm-lock.yaml
Labels: review-needed

#5556 Allow add tag from sudo
  lego-webapp/pages/sudo/achievements/+Page.tsx
  lego-webapp/pages/sudo/achievements/tags/+Page.tsx
  lego-webapp/redux/actions/EventActions.ts
Labels: review-needed
