Repository webkom/lego-webapp, pull requests merged in 2025-02, with the labels that each got.

#5290 Add: A new toggle button for advanced settings
  app/routes/users/components/UserSettings/UserSettings.tsx
  cypress/e2e/password_change_spec.js
Labels: review-needed

#5316 Add: information about prikk
  app/routes/users/components/UserProfile/Penalties.module.css
  app/routes/users/components/UserProfile/Penalties.tsx
Labels: review-needed

#5303 Use drawer for attendance modal on mobile
  app/components/Drawer/Drawer.module.css
  app/components/Drawer/index.tsx
  app/components/UserAttendance/AttendanceModal.tsx
  app/components/UserAttendance/AttendanceModalContent.module.css
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/utils/isMobileViewport.ts
  package.json
  yarn.lock
Labels: enhancement, review-needed

#5319 Add skeletons and accordions to survey result and submissions
  app/components/Chart/BarChart.tsx
  app/components/Chart/Chart.module.css
  app/components/Chart/PieChart.tsx
  app/routes/surveys/components/Submissions/Results.tsx
  app/routes/surveys/components/Submissions/SubmissionsIndividual.tsx
  app/routes/surveys/components/Submissions/SubmissionsPage.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/surveys/components/SurveyList/SurveyItem.tsx
  app/routes/surveys/components/SurveyList/SurveyList.tsx
  app/routes/surveys/components/SurveysWrapper.tsx
  app/routes/surveys/components/surveys.module.css
  app/routes/surveys/index.tsx
Labels: review-needed, technical-debt

#5310 Add docs on running websockets locally
  README.md
  config/env.ts
Labels: review-needed

#5328 Move z-index of pizza reactions higher
  app/components/Tooltip/Tooltip.module.css
  app/components/Tooltip/index.tsx
Labels: review-needed

#5001 Remove adminComment/note field from companies
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/__tests__/fixtures/companies.ts
  app/store/models/Company.ts
Labels: review-needed, chore

#5323 Add semester status filtering in BDB
  app/components/Table/index.tsx
  app/routes/bdb/components/BdbPage.tsx
Labels: review-needed, new-feature

#5329 Add pro badge to BDB
  app/components/Search/utils.tsx
  app/routes/bdb/components/bdb.module.css
  app/routes/bdb/index.tsx
Labels: review-needed

#5335 Fix sidebar bug in achievements and move link
  app/routes/achievements/components/index.tsx
  app/routes/achievements/components/utils.tsx
  app/routes/achievements/index.tsx
  app/routes/users/components/UserProfile/Achievements.tsx
  app/routes/users/components/UserProfile/UserProfile.module.css
  app/routes/users/components/UserProfile/index.tsx
Labels: review-needed, bug-fix

#5341 Improve `isMobileViewport` hook
  app/utils/isMobileViewport.ts
Labels: security, review-needed, small-fix, approved

#5330 Cleanup StripeElement implementation
  app/routes/events/components/Stripe.module.css
  app/routes/events/components/StripeElement.tsx
Labels: review-needed, approved

#5331 Add 'Wish event thursday' to other events on company interest page
  app/routes/bdb/components/companyInterest/components/Translations.ts
Labels: help-wanted, review-needed

#5353 Use node 20 in dockerfile
  Dockerfile
Labels: review-needed

#5346 Replace pizza tooltip with accordion
  app/routes/meetings/components/MeetingDetail.module.css
  app/routes/meetings/components/MeetingDetail.tsx
  app/routes/meetings/components/PizzaAccordion.tsx
  app/routes/meetings/components/PizzaButton.tsx
Labels: review-needed

#5354 Improve presence icons on event administrate page
  app/routes/events/components/EventAdministrate/Administrate.module.css
  app/routes/events/components/EventAdministrate/AttendeeElements.tsx
  packages/lego-bricks/src/components/Icon/Icon.module.css
  packages/lego-bricks/src/components/Icon/index.tsx
Labels: enhancement, review-needed, approved

#5358 Fix Sentry crash with node v20
  Dockerfile
  app/components/ErrorBoundary/index.tsx
  app/components/Form/LegoFinalForm.tsx
  app/index.ts
  app/store/createStore.ts
  app/store/middleware/sentryEnhancer.ts
  app/store/middleware/sentryMiddleware.ts
  package.json
  server/index.ts
  server/server.ts
  yarn.lock
Labels: review-needed

#5357 Cannot approve own quote fix
  app/routes/quotes/components/Quote.tsx
  app/store/models/Quote.d.ts
Labels: review-needed, small-fix, approved

#5361 Update drone signature
  .drone.yml
Labels: review-needed, small-fix

#5342 Bump stripe deps
  package.json
  yarn.lock
Labels: dependencies, review-needed, approved

#5343 Revert BDB PRO badge 😥
  app/components/Search/utils.tsx
  app/routes/bdb/components/BdbOverview.tsx
Labels: review-needed

#5366 FEAT: Option to remove inactive interest groups
  app/actions/ActionTypes.ts
  app/actions/GroupActions.ts
  app/reducers/users.ts
  app/routes/users/components/UserProfile/GroupMemberships.tsx
  app/routes/users/components/UserProfile/UserProfile.module.css
Labels: review-needed

#5371 FIX: Cypress create event test
  cypress/e2e/create_event_spec.js
Labels: review-needed

#5362 Custom templates for surveys
  app/actions/SurveyActions.ts
  app/reducers/surveys.ts
  app/routes/surveys/components/AddSubmission/AddSubmissionPage.tsx
  app/routes/surveys/components/AdminSideBar.tsx
  app/routes/surveys/components/Submissions/SubmissionsPage.tsx
  app/routes/surveys/components/Submissions/SubmissionsSummary.tsx
  app/routes/surveys/components/SurveyDetail.tsx
  app/routes/surveys/components/SurveyEditor/AddSurveyPage.tsx
  app/routes/surveys/components/SurveyEditor/EditSurveyPage.tsx
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
  app/routes/surveys/components/SurveyList/SurveyItem.tsx
  app/routes/surveys/components/SurveysWrapper.tsx
  app/store/models/Survey.d.ts
Labels: review-needed

#5373 Add successmessage to trophies
  app/actions/AchievementActions.ts
  app/utils/achievementConstants.ts
Labels: review-needed

#5374 Add genfors count achievement
  app/utils/achievementConstants.ts
Labels: review-needed

#5368 Update canseeallergies frontend
  app/routes/events/components/EventAdministrate/Allergies.tsx
Labels: review-needed

#5298 Add group filters to attendance modal
  app/components/UserAttendance/AttendanceModalContent.module.css
  app/components/UserAttendance/AttendanceModalContent.tsx
  app/components/UserAttendance/GroupFilter.tsx
Labels: enhancement, review-needed

#5378 Add user count to PizzaAccordion
  app/routes/meetings/components/MeetingDetail.module.css
  app/routes/meetings/components/PizzaAccordion.tsx
Labels: review-needed, small-fix

#5386 Fix surveys click link and infinite fetching
  app/routes/surveys/components/SurveyEditor/AddSurveyPage.tsx
  app/routes/surveys/components/SurveyEditor/SurveyForm.tsx
  app/routes/surveys/components/SurveyList/SurveyListPage.tsx
Labels: review-needed

#5381 Add complete profile achievement
  app/utils/achievementConstants.ts
Labels: review-needed
