Repository webkom/lego-webapp, pull requests merged in 2025-01, with the labels that each got.

#5053 Add support for multiple student contacts
  app/components/UserLink/index.tsx
  app/reducers/companies.ts
  app/reducers/index.ts
  app/routes/bdb/components/BdbDetail.tsx
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/components/CompanyEditor.tsx
  app/routes/bdb/components/StudentContactEditor.tsx
  app/routes/bdb/index.tsx
  app/routes/bdb/utils.tsx
  app/store/models/Company.ts
Labels: review-needed, do-not-merge/WIP

#5261 Add semester arrows to BDB
  app/routes/bdb/components/BdbPage.tsx
  app/routes/bdb/utils.tsx
Labels: enhancement, review-needed, approved

#5269 Update HSP Netcompany -> Bekk
  app/assets/bekk_black.svg
  app/assets/bekk_short_black.svg
  app/assets/bekk_short_white.svg
  app/assets/bekk_white.svg
  app/assets/netcompany_dark.svg
  app/assets/netcompany_white.svg
  app/components/Footer/index.tsx
  app/routes/frontpage/components/PublicFrontpage.module.css
  app/routes/frontpage/components/PublicFrontpage.tsx
Labels: review-needed, changes-requested

#5262 Introduce a collapsableAfter prop to the table component
  app/components/Table/BodyCell.tsx
  app/components/Table/HeadCell.tsx
  app/components/Table/Table.module.css
  app/components/Table/index.tsx
  app/routes/events/components/EventAdministrate/Attendees.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
Labels: enhancement, review-needed, new-feature, approved

#5259 Support date range filtering on events
  app/components/Form/DatePicker.tsx
  app/components/Form/ToggleSwitch.tsx
  app/routes/events/components/EventList.tsx
  app/routes/events/components/EventsOverview.tsx
  app/utils/parseDateValue.ts
  app/utils/useQuery.ts
  cypress/e2e/create_event_spec.js
  cypress/e2e/joblistings_specs.js
Labels: enhancement, review-needed, bug-fix, new-feature, approved

#5271 Sorting and filtering by presence in attendee list
  app/components/Table/index.tsx
  app/routes/events/components/EventAdministrate/RegistrationTables.tsx
Labels: review-needed

#5274 Update event register deadline on start time selection
  app/routes/events/components/EventEditor/EditorSection/Registration.tsx
  app/routes/events/utils.ts
Labels: help-wanted, review-needed, small-fix

#5277 Fix undefined company in BdbDetail to prevent crash
  app/routes/bdb/components/BdbDetail.tsx
Labels: review-needed

#5273 Rename event deadlines
  app/routes/events/components/EventEditor/EditorSection/Registration.tsx
Labels: enhancement, review-needed, approved, chore

#5288 Fix tag text on tba events
  app/components/EventItem/RegistrationStatusTag.tsx
Labels: review-needed, approved

#5281 bug-fix css for eventType name
  packages/lego-bricks/src/components/Layout/Page/Page.module.css
Labels: priority:high, review-needed, bug-fix, approved

#5289 Remove start-up night, add bed.ex to events + remove revue from collabs
  app/routes/bdb/components/companyInterest/components/CompanyInterestPage.tsx
  app/routes/bdb/components/companyInterest/components/Translations.ts
Labels: priority:high, review-needed, approved, chore

#5297 Define link for groups with the board type
  app/reducers/groups.ts
Labels: review-needed

#5299 Update paid event spec to match new developments
  cypress/e2e/event_payment_spec.js
Labels: review-needed

#5300 Fix cypress stripe tests
  cypress/e2e/event_payment_spec.js
  cypress/support/utils.js
Labels: review-needed, approved, tests

#5169 Add achievement overview and leaderboard
  app/actions/AchievementActions.ts
  app/actions/ActionTypes.ts
  app/reducers/users.ts
  app/routes/achievements/components/Leaderboard.tsx
  app/routes/achievements/components/Overview.module.css
  app/routes/achievements/components/Overview.tsx
  app/routes/achievements/components/index.tsx
  app/routes/achievements/components/utils.tsx
  app/routes/achievements/index.tsx
  app/routes/index.tsx
  app/routes/users/components/UserProfile/AchievementsBox.tsx
  app/routes/users/components/UserProfile/index.tsx
  app/store/models/User.ts
  app/utils/achievementConstants.ts
Labels: review-needed, new-feature, changes-requested

#5315 Update leaderboard to use fullname
  app/routes/achievements/components/Leaderboard.tsx
  app/routes/users/components/UserProfile/AchievementsBox.tsx
Labels: flawless, small-fix

#5314 Improve abacard design
  app/components/UserValidator/Validator.module.css
  app/components/UserValidator/index.tsx
Labels: enhancement, review-needed
